<template>
    <div class="el-grid-card" style="width: 100%">
        <div class="el-grid-card__header">{{ $t('title.overview') }}</div>
        <div class="el-grid-card__body">
            <el-row>
                <el-table
                    :data="checkpoints"
                    size="mini"
                    class="w-full mb-6"
                    v-loading="loading"
                    border
                >
                    <el-table-column
                        sortable
                        prop="Name"
                        :label="$t('table.column.name')"
                    ></el-table-column>
                    <el-table-column
                        sortable
                        prop="CommonName"
                        :label="$t('table.column.commonName')"
                    ></el-table-column>
                    <el-table-column
                        sortable
                        prop="GeoLocation"
                        :label="$t('table.column.geoLocation')"
                    ></el-table-column>
                    <el-table-column
                        :label="$t('table.column.directionInEnabled')"
                    >
                        <template slot-scope="{ row }">
                            {{ $t(`text.${row.DirectionInEnabledDisplay}`) }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        :label="$t('table.column.directionOutEnabled')"
                    >
                        <template slot-scope="{ row }">
                            {{ $t(`text.${row.DirectionOutEnabledDisplay}`) }}
                        </template>
                    </el-table-column>
                </el-table>
            </el-row>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'checkpoint-list',

    data() {
        return {
            loading: false,
            rawCheckpoints: [],
        }
    },

    computed: {
        ...mapGetters(['selectedContainer']),

        checkpoints() {
            this.rawCheckpoints.map(checkpoint => {
                if (checkpoint.DirectionInEnabled == true) {
                    checkpoint.DirectionInEnabledDisplay = 'yes'
                }

                if (checkpoint.DirectionInEnabled == false) {
                    checkpoint.DirectionInEnabledDisplay = 'no'
                }

                if (checkpoint.DirectionOutEnabled == true) {
                    checkpoint.DirectionOutEnabledDisplay = 'yes'
                }

                if (checkpoint.DirectionOutEnabled == false) {
                    checkpoint.DirectionOutEnabledDisplay = 'no'
                }
            })
            return this.rawCheckpoints
        },
    },

    created() {
        this.fetch()
    },

    watch: {
        selectedContainer(container) {
            this.fetch(container)
        },
    },

    methods: {
        async fetch(container = null) {
            this.loading = true

            container = container || this.selectedContainer

            if (container) {
                let { data } = await this.$http.get(
                    `Container/${container.ContainerID}/Checkpoint`
                )

                this.rawCheckpoints = data
            }

            this.loading = false
        },
    },
}
</script>
