<template>
    <div class="el-main-wrapper">
        <el-row class="el-title-block">
            <h1 class="el-title-with-icon">
                {{ $t('title.checkpoints') }}
                <span v-if="selectedContainer"
                >: {{ selectedContainer.Description }}</span
                >
            </h1>
        </el-row>
        <el-row>
            <stc-checkpoint-list></stc-checkpoint-list>
        </el-row>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import CheckpointList from '../../components/checkpoints/CheckpointList'

export default {
    name: 'checkpoints-view',

    components: {
        'stc-checkpoint-list': CheckpointList,
    },

    computed: mapGetters(['selectedContainer']),
}
</script>
