<template>
    <div class="el-main-wrapper">
        <el-row class="el-title-block">
            <h1 class="el-title-with-icon">
                {{ $t('navigation.followUp') }}
            </h1>
        </el-row>
        <el-row>
            <stc-follow-up-list></stc-follow-up-list>
        </el-row>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import FollowUpList from '../../components/follow-up/FollowUpList'

export default {
    name: 'follow-up-view',

    components: {
        'stc-follow-up-list': FollowUpList,
    },

    computed: mapGetters(['selectedContainer']),
}
</script>
