<template>
    <div class="el-main-wrapper">
        <el-row class="el-title-block">
            <h1 class="el-title-with-icon">
                {{ $t('title.materialManager') }}
                <span v-if="selectedContainer"
                >: {{ selectedContainer.Description }}</span
                >
            </h1>
        </el-row>
        <el-row>
            <stc-material-manager-list></stc-material-manager-list>
        </el-row>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import MaterialManagerList from '../../../components/blc/material-manager/MaterialManagerList'

export default {
    name: 'material-manager-view',

    components: {
        'stc-material-manager-list': MaterialManagerList,
    },

    computed: mapGetters(['selectedContainer']),
}
</script>
