<template>
    <div class="el-main-wrapper">
        <el-row class="el-title-block">
            <h1 class="el-title-with-icon">
                {{ $t('title.vehicles') }}
                <span v-if="selectedContainer"
                >: {{ selectedContainer.Description }}</span
                >
            </h1>
        </el-row>

        <div class="el-main-content">
            <stc-vehicle-tool-create></stc-vehicle-tool-create>
            <stc-vehicle-tool-list></stc-vehicle-tool-list>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import VehicleList from '../../components/vehicle-tool/VehicleList'
import VehicleCreate from '../../components/vehicle-tool/VehicleCreate'

export default {
    name: 'vehicle-tool-view',

    components: {
        'stc-vehicle-tool-list': VehicleList,
        'stc-vehicle-tool-create': VehicleCreate,
    },

    computed: mapGetters(['permissions', 'selectedContainer']),
}
</script>
