<template>
    <div class="el-grid-card" style="width: 100%">
        <div class="el-grid-card__body">
            <el-row class="flex justify-between items-center filter-block">
                <div>
                    <el-date-picker
                        id="listDateTimeRange"
                        v-model="dateTimeRange"
                        @change="fetchByDateTimeRange"
                        format="yyyy-MM-dd HH:mm"
                        type="datetimerange"
                        range-separator="-"
                        :clearable="false"
                        :start-placeholder="$t('form.label.dateTimeFrom')"
                        :end-placeholder="$t('form.label.dateTimeUntil')"
                        :picker-options="pickerOptions"
                        class="el-date-picker-light"
                    >
                    </el-date-picker>
                    <v-btn-toggle class="top-data-btn" v-model="activeButton">
                        <v-btn
                            flat
                            color="dark"
                            @click="fetchByDateTimeRange(withinDay)"
                        >
                            {{ $t('button.text.today') }}
                        </v-btn>
                        <v-btn
                            flat
                            color="dark"
                            @click="fetchByDateTimeRange(thisWeek)"
                            style="width: auto"
                        >
                            {{ $t('button.text.thisWeek', { number: 5 }) }}
                        </v-btn>
                        <v-btn
                            flat
                            color="dark"
                            @click="fetchByDateTimeRange(lastWeek)"
                            style="width: auto"
                        >
                            {{ $t('button.text.lastWeek', { number: 7 }) }}
                        </v-btn>
                        <v-btn
                            flat
                            color="dark"
                            @click="fetchByDateTimeRange(thisMonth)"
                            style="width: auto"
                        >
                            {{ $t('button.text.thisMonth', { number: 7 }) }}
                        </v-btn>
                        <v-btn
                            flat
                            color="dark"
                            @click="fetchByDateTimeRange(lastMonth)"
                            style="width: auto"
                        >
                            {{ $t('button.text.lastMonth', { number: 7 }) }}
                        </v-btn>
                        <v-btn
                            @click.prevent="() => downloadExcel()"
                            flat
                            color="dark"
                            style="width: auto"
                        >
                            {{ $t('button.text.downloadSelection') }}
                            <img
                                src="/images/icon/export-excel.png"
                                class="ml-1"
                                style="vertical-align: middle;"
                            />
                        </v-btn>
                    </v-btn-toggle>
                </div>
                <v-flex xs12 sm6 md3>
                    <v-text-field
                        :label="$t('form.label.search')"
                        v-model="searchTerm"
                        append-icon="search"
                        class="el-light-search"
                    ></v-text-field>
                </v-flex>
            </el-row>
            <el-row>
                <el-table
                    class="el-table__dark-expandable"
                    :data="searchResults"
                    v-loading="loading"
                    row-key="BLCRouteID"
                    ref="table1"
                    @row-click="
                        row => {
                            rowClicked(row, $refs.table1)
                        }
                    "
                    style="width: 100%"
                    border
                >
                    <el-table-column
                        sortable
                        :label="$t('table.column.status')"
                        prop="StatusDescription"
                    >
                        <template slot-scope="{ row }">
                            {{
                                $t(`status.${row.StatusDescription}`) ||
                                    row.StatusDescription
                            }}
                        </template>
                    </el-table-column>
                    <el-table-column
                        sortable
                        :label="$t('table.column.routeDate')"
                        prop="RouteDate"
                    >
                    </el-table-column>
                    <el-table-column
                        sortable
                        :label="$t('table.column.BLCRoute')"
                        prop="Reference"
                    >
                    </el-table-column>
                    <el-table-column
                        sortable
                        width="170"
                        :label="$t('table.column.deliveryPrecision')"
                        prop="DeliveryPrecision"
                    >
                        <template slot-scope="{ row }">
                            {{ row.DeliveryPrecision }}<span>%</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                        sortable
                        :label="$t('table.column.driver')"
                        prop="DriverUserFullName"
                    >
                    </el-table-column>
                    <el-table-column
                        sortable
                        :label="$t('table.column.vehicle')"
                        prop="VehicleDescription"
                    >
                    </el-table-column>
                    <el-table-column :label="$t('table.column.download')">
                        <template slot-scope="{ row }">
                            <button
                                class="hover:underline"
                                @click.prevent="
                                    () => downloadExcelForRoute(row)
                                "
                            >
                                <img
                                    src="/images/icon/export-excel.png"
                                    style="vertical-align: middle;"
                                />
                            </button>
                            &nbsp;
                            <button
                                @click.prevent="() => downloadZipForRoute(row)"
                            >
                                <img
                                    src="/images/icon/export-zip.png"
                                    style="vertical-align: middle;"
                                />
                            </button>
                        </template>
                    </el-table-column>
                    <el-table-column :resizable="false" type="expand">
                        <template slot-scope="{ row }">
                            <el-table
                                class="el-table__dark-expandable el-table__inner-dark-expandable"
                                :data="row.ActorDeliveryConfirmation"
                                ref="table2"
                                @row-click="
                                    row => {
                                        rowClicked(row, $refs.table2)
                                    }
                                "
                                style="width: 100%"
                                border
                            >
                                <el-table-column
                                    width="75"
                                    :label="$t('table.column.express')"
                                    prop="Express"
                                >
                                    <template slot-scope="{ row }">
                                        <button v-show="row.Actor.IsExpress">
                                            <img
                                                src="/images/icon/express.png"
                                                style="vertical-align: middle;"
                                            />
                                        </button>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    width="100"
                                    :label="$t('table.column.booking')"
                                    prop="Actor.BookingReference"
                                >
                                </el-table-column>
                                <el-table-column
                                    width="250"
                                    :label="$t('table.column.destination')"
                                    prop="Destination"
                                >
                                </el-table-column>
                                <el-table-column
                                    width="110"
                                    :label="$t('table.column.accuracy')"
                                >
                                    <template slot-scope="{ row }">
                                        {{
                                            row.Accuracy &&
                                                $t(`accuracy.${row.Accuracy}`)
                                        }}
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    width="160"
                                    :label="$t('table.column.plannedDelivery')"
                                    prop="PlannedDelivery"
                                >
                                </el-table-column>
                                <el-table-column
                                    width="150"
                                    :label="$t('table.column.actualDelivery')"
                                    prop="ActualDelivery"
                                >
                                </el-table-column>
                                <el-table-column
                                    width="120"
                                    :label="
                                        $t('table.column.deliveredPackages')
                                    "
                                    prop="DeliveredPackageCount"
                                >
                                </el-table-column>
                                <el-table-column
                                    width="180"
                                    :label="$t('table.column.recipient')"
                                >
                                    <template slot-scope="{ row }">
                                        {{
                                            row.Recipients.length
                                                ? row.Recipients.join(', ')
                                                : '(Delivery without signature)'
                                        }}
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    min-width="120"
                                    :label="$t('table.column.comments')"
                                >
                                    <template slot-scope="{ row }">
                                        {{
                                            row.Comments.length
                                                ? row.Comments.join(', ')
                                                : ''
                                        }}
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    min-width="150"
                                    :label="$t('table.column.download')"
                                >
                                    <template slot-scope="{ row }">
                                        <button
                                            @click.prevent="
                                                () => downloadExcelForActor(row)
                                            "
                                        >
                                            <img
                                                src="/images/icon/export-excel.png"
                                                style="vertical-align: middle;"
                                            />
                                        </button>
                                        &nbsp;
                                        <button
                                            @click="
                                                () => downloadZipForActor(row)
                                            "
                                        >
                                            <img
                                                src="/images/icon/export-zip.png"
                                                style="vertical-align: middle;"
                                            />
                                        </button>
                                    </template>
                                </el-table-column>
                                <el-table-column type="expand" width="35">
                                    <template slot-scope="{ row }">
                                        <el-row>
                                            <div
                                                class="el-table__inner-row-content el-table__inner-row-content--dark"
                                            >
                                                <div
                                                    v-for="(photo,
                                                            index) in row.allImages"
                                                    :key="index"
                                                    class="image-holder__inline"
                                                >
                                                    <img
                                                        v-lazy="photo.src"
                                                        @click="
                                                            openGallery(
                                                                index,
                                                                row
                                                            )
                                                        "
                                                    />
                                                </div>
                                                <LightBox
                                                    :images="row.allImages"
                                                    :ref="
                                                        `lightbox${row.ActorID}`
                                                    "
                                                    :show-caption="true"
                                                    :show-light-box="false"
                                                ></LightBox>
                                            </div>
                                        </el-row>
                                        <el-row
                                            v-if="row.Actor"
                                            v-for="packageGroup in row.Actor
                                            .PackageGroups"
                                            :key="packageGroup.PackageGroupID"
                                        >
                                            <div
                                                class="el-table__inner-row-content el-table__inner-row-content--dark"
                                            >
                                                <el-row>
                                                    <ul
                                                        class="el-table__inner-row-inline-list"
                                                    >
                                                        <li>
                                                            <span
                                                                class="label pr-1"
                                                            >{{
                                                                $t(
                                                                    'table.data.label.rref'
                                                                )
                                                            }}:</span
                                                            ><span
                                                                class="value"
                                                            >{{
                                                                packageGroup.Reference
                                                                    | hyphenize
                                                            }}</span
                                                            >
                                                        </li>
                                                        <li>
                                                            <span
                                                                class="label pr-1"
                                                            >{{
                                                                $t(
                                                                    'table.data.label.order'
                                                                )
                                                            }}:</span
                                                            ><span
                                                                class="value"
                                                            >{{
                                                                packageGroup.OrderNo
                                                                    | hyphenize
                                                            }}</span
                                                            >
                                                        </li>
                                                        <li>
                                                            <span
                                                                class="label pr-1"
                                                            >{{
                                                                $t(
                                                                    'table.data.label.supplier'
                                                                )
                                                            }}:</span
                                                            ><span
                                                                class="value"
                                                            >{{
                                                                packageGroup.SupplierName
                                                                    | hyphenize
                                                            }}</span
                                                            >
                                                        </li>
                                                    </ul>
                                                </el-row>
                                                <el-table
                                                    class="el-table__dark-expandable el-table__inner-transparent"
                                                    :data="
                                                        packageGroup.PackageItems
                                                    "
                                                    style="width: 100%"
                                                >
                                                    <el-table-column
                                                        :label="
                                                            $t(
                                                                'table.column.description'
                                                            )
                                                        "
                                                    >
                                                        <template
                                                            slot-scope="{ row }"
                                                        >
                                                            {{
                                                                row.Description
                                                                    | hyphenize
                                                            }}
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                        :label="
                                                            $t(
                                                                'table.column.trackingReference'
                                                            )
                                                        "
                                                        width="250"
                                                    >
                                                        <template
                                                            slot-scope="{ row }"
                                                        >
                                                            {{
                                                                row.TrackingReference
                                                                    | hyphenize
                                                            }}
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                        :label="
                                                            $t(
                                                                'table.column.customerReference'
                                                            )
                                                        "
                                                        width="250"
                                                    >
                                                        <template
                                                            slot-scope="{ row }"
                                                        >
                                                            {{
                                                                row.CustomReference
                                                                    | hyphenize
                                                            }}
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                        :label="
                                                            $t(
                                                                'table.column.height'
                                                            )
                                                        "
                                                        width="100"
                                                    >
                                                        <template
                                                            slot-scope="{ row }"
                                                        >
                                                            {{
                                                                row.Height
                                                                    | hyphenize
                                                            }}
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                        :label="
                                                            $t(
                                                                'table.column.width'
                                                            )
                                                        "
                                                        width="90"
                                                    >
                                                        <template
                                                            slot-scope="{ row }"
                                                        >
                                                            {{
                                                                row.Width
                                                                    | hyphenize
                                                            }}
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                        :label="
                                                            $t(
                                                                'table.column.length'
                                                            )
                                                        "
                                                        width="90"
                                                    >
                                                        <template
                                                            slot-scope="{ row }"
                                                        >
                                                            {{
                                                                row.Length
                                                                    | hyphenize
                                                            }}
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                        :label="
                                                            $t(
                                                                'table.column.weight'
                                                            )
                                                        "
                                                        width="90"
                                                    >
                                                        <template
                                                            slot-scope="{ row }"
                                                        >
                                                            {{
                                                                row.Weight
                                                                    | hyphenize
                                                            }}
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                        :label="
                                                            $t(
                                                                'table.column.deliveryStatus'
                                                            )
                                                        "
                                                    >
                                                        <template
                                                            slot-scope="{ row }"
                                                        >
                                                            {{
                                                                $t(
                                                                    `status.${
                                                                        row.StatusDescription
                                                                    }`
                                                                ) ||
                                                                    row.StatusDescription
                                                            }}
                                                        </template>
                                                    </el-table-column>
                                                </el-table>
                                            </div>
                                        </el-row>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                    </el-table-column>
                </el-table>
            </el-row>
        </div>
    </div>
</template>

<script>
import _ from 'lodash'
import FileSaver from 'file-saver'
import { DateTime } from 'luxon'
import { mapGetters } from 'vuex'
import InteractWithDates from '../../mixins/interact-with-dates'
import LightBox from 'vue-image-lightbox'

require('vue-image-lightbox/dist/vue-image-lightbox.min.css')

export default {
    name: 'follow-up-list',

    mixins: [InteractWithDates],

    components: {
        LightBox,
    },

    data() {
        return {
            activeButton: 0,
            dateTimeRange: [],
            data: [],
            loading: false,
            downloading: false,
            searchTerm: '',
            searchResults: [],
        }
    },

    computed: {
        ...mapGetters(['isBlc', 'selectedContainer']),

        pickerOptions() {
            return {
                firstDayOfWeek: 1,
            }
        },

        searchOptions() {
            return {
                keys: [
                    'Reference',
                    'VehicleDescription',
                    'Actors.PackageGroups.OrderNo',
                    'Actors.PackageGroups.SupplierName',
                    'ActorDeliveryConfirmation.Comments',
                    'ActorDeliveryConfirmation.Recipients',
                    'ActorDeliveryConfirmation.Destination',
                ],
            }
        },

        followUpItems() {
            return this.data.map(item => {
                const ActorDeliveryConfirmation = item.ActorDeliveryConfirmation.map(
                    confirmation => {
                        const photos = confirmation.ImagePaths.map(image => {
                            return {
                                ...image,
                                src: image.ImagePath,
                                thumb: image.ImagePath,
                            }
                        })
                        const signatures = confirmation.SignatureImagePaths.map(
                            signature => ({
                                src: signature.ImagePath,
                                thumb: signature.ImagePath,
                            })
                        )

                        return {
                            ...confirmation,
                            Actor: _.find(item.Actors, [
                                'ActorID',
                                confirmation.ActorID,
                            ]),
                            BLCRouteID: item.BLCRouteID,
                            Photos: photos,
                            Signatures: signatures,
                            allImages: [...photos, ...signatures],
                            ActualDelivery: confirmation.DeliveredDates.length
                                ? DateTime.fromISO(
                                      confirmation.DeliveredDates[0]
                                  ).toFormat('yyyy-MM-dd HH:mm')
                                : '',
                            PlannedDelivery:
                                confirmation.PlannedDeliveryDateString,
                        }
                    }
                )

                return {
                    ...item,
                    RouteDate: DateTime.fromISO(item.RouteDate).toFormat(
                        'yyyy-MM-dd HH:mm'
                    ),
                    ActorDeliveryConfirmation,
                }
            })
        },
    },

    watch: {
        selectedContainer: function(container) {
            if (this.withPermission) {
                this.redirectIfNotBlc()
            }
            this.fetch(container, this.dateTimeRange)
        },
        searchTerm: _.debounce(async function() {
            if (this.searchTerm !== '') {
                this.searchResults = await this.$search(
                    this.searchTerm,
                    this.followUpItems,
                    this.searchOptions
                )
            } else {
                this.searchResults = this.followUpItems
            }
        }, 500),
    },

    created() {
        this.redirectIfNotBlc()

        this.fetch()
    },

    methods: {
        redirectIfNotBlc() {
            if (!this.isBlc) {
                this.$router.push({ name: 'dashboard' })

                return
            }
        },

        fetchByDateTimeRange(range) {
            this.activeButton = ''
            this.fetch(this.selectedContainer, range)
        },

        async fetch(container = null, range = [], loading = true) {
            this.searchTerm = ''
            this.loading = loading

            container = container ? container : this.selectedContainer

            if (!_.isEmpty(container)) {
                range = range.length ? range : this.withinDay

                let dateTimeFormat = process.env.VUE_APP_DATETIME_FORMAT

                let dateTimeFrom = DateTime.fromISO(range[0].toISOString())
                let dateTimeTo = DateTime.fromISO(range[1].toISOString())

                // set end and start time to day start and day end if it doesn't contains time
                if (
                    dateTimeFrom.startOf('day').valueOf() ===
                        dateTimeFrom.valueOf() &&
                    dateTimeTo.startOf('day').valueOf() === dateTimeTo.valueOf()
                ) {
                    let start = dateTimeFrom.startOf('day')
                    let end = dateTimeTo.endOf('day')

                    dateTimeFrom = start.toFormat(dateTimeFormat)
                    dateTimeTo = end.toFormat(dateTimeFormat)

                    range = [start.toJSDate(), end.toJSDate()]
                } else {
                    dateTimeFrom = dateTimeFrom.toFormat(dateTimeFormat)
                    dateTimeTo = dateTimeTo.toFormat(dateTimeFormat)
                }

                let { data } = await this.$http.get(
                    `/BLC/${
                        container.ContainerID
                    }/Route/Start/${dateTimeFrom}/End/${dateTimeTo}`
                )
                this.data = data
                this.searchResults = this.followUpItems

                this.dateTimeRange = range
            }

            this.loading = false
        },

        openGallery(index, row) {
            const lightBox = `lightbox${row.ActorID}`

            this.$refs[lightBox].showImage(index)
        },

        rowClicked(row, table) {
            this.$nextTick(() => {
                if (this.downloading) return

                table.toggleRowExpansion(row)
            })
        },

        async downloadExcel() {
            this.downloading = true

            let dateTimeFormat = process.env.VUE_APP_DATETIME_FORMAT

            let dateTimeFrom = DateTime.fromISO(
                this.dateTimeRange[0].toISOString()
            ).toFormat(dateTimeFormat)
            let dateTimeTo = DateTime.fromISO(
                this.dateTimeRange[1].toISOString()
            ).toFormat(dateTimeFormat)

            const { data } = await this.$http.get(
                `/BLC/${
                    this.selectedContainer.ContainerID
                }/Followupsheet/Start/${dateTimeFrom}/End/${dateTimeTo}`,
                {
                    responseType: 'blob',
                }
            )
            FileSaver.saveAs(new Blob([data]), 'followup.xlsx')

            this.downloading = false
        },

        async downloadExcelForRoute(row) {
            this.downloading = true

            const { data } = await this.$http.get(
                `/BLC/${this.selectedContainer.ContainerID}/Followupsheet/${
                    row.BLCRouteID
                }`,
                {
                    responseType: 'blob',
                }
            )
            FileSaver.saveAs(
                new Blob([data]),
                `followup-route-${row.Reference}.xlsx`
            )

            this.downloading = false
        },

        async downloadExcelForActor(row) {
            this.downloading = true

            const { data } = await this.$http.get(
                `/BLC/${this.selectedContainer.ContainerID}/Followupsheet/${
                    row.BLCRouteID
                }/Actor/${row.ActorID}`,
                {
                    responseType: 'blob',
                }
            )
            FileSaver.saveAs(
                new Blob([data]),
                `followup-actor-${row.Reference}.xlsx`
            )

            this.downloading = false
        },

        async downloadZipForRoute(row) {
            this.downloading = true

            const { data } = await this.$http.get(
                `/BLC/${row.BLCRouteID}/DownloadRouteImagesZip`,
                {
                    responseType: 'blob',
                }
            )
            FileSaver.saveAs(
                new Blob([data]),
                `followup-route-${row.Reference}.zip`
            )

            this.downloading = false
        },

        async downloadZipForActor(row) {
            this.downloading = true

            const { data } = await this.$http.get(
                `/BLC/${row.BLCRouteID}/DownloadRouteImagesZip/Actor/${
                    row.ActorID
                }`,
                {
                    responseType: 'blob',
                }
            )
            FileSaver.saveAs(
                new Blob([data]),
                `followup-actor-${row.Reference}.zip`
            )

            this.downloading = false
        },
    },

    filters: {
        hyphenize: function(value) {
            if (!value) return '-'
            return value
        },
    },
}
</script>
<style>
.vue-lb-content {
    background-color: black !important;
    padding: 20px !important;
}
</style>
