<template>
    <div class="el-grid-card">
        <div class="el-grid-card__header">{{ $t('title.overview') }}</div>
        <div class="el-grid-card__body">
            <el-row>
                <el-table
                    :data="users"
                    size="mini"
                    class="w-full mb-6"
                    style="width: 100%"
                    v-loading="loading"
                    border
                >
                    <el-table-column
                        sortable
                        :sort-method="(a, b) => sortBy(a, b, 'FirstName')"
                        prop="FirstName"
                        :label="$t('form.label.firstName')"
                    ></el-table-column>
                    <el-table-column
                        sortable
                        :sort-method="(a, b) => sortBy(a, b, 'LastName')"
                        prop="LastName"
                        :label="$t('form.label.lastName')"
                    ></el-table-column>
                    <el-table-column
                        sortable
                        :sort-method="(a, b) => sortBy(a, b, 'UserName')"
                        prop="UserName"
                        :label="$t('form.label.email')"
                    ></el-table-column>
                    <el-table-column
                        sortable
                        :sort-method="(a, b) => sortBy(a, b, 'Company')"
                        prop="Company"
                        :label="$t('form.label.company')"
                    ></el-table-column>
                    <el-table-column
                        :label="$t('table.column.operations')"
                        width="120"
                        :resizable="false"
                    >
                        <template slot-scope="{ row }">
                            <div class="btn-action-wrapper">
                                <a
                                    href="#"
                                    class="btn-action"
                                    @click.prevent="edit(row)"
                                    v-if="permissions.includes('USER_WRITE')"
                                >
                                    <v-btn flat icon color="cyan darken-3">
                                        <v-icon>mode_edit</v-icon>
                                    </v-btn>
                                </a>
                                <a
                                    href="#"
                                    class="btn-action"
                                    @click.prevent="remove(row)"
                                    title="Delete"
                                    v-if="permissions.includes('USER_DELETE')"
                                >
                                    <v-btn flat icon color="red darken-3">
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                                </a>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </el-row>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import InteractWithSort from '../../mixins/interact-with-sort'

export default {
    name: 'user-list',

    data() {
        return {
            users: [],
            loading: false,
        }
    },

    mixins: [InteractWithSort],

    computed: {
        ...mapGetters(['selectedContainer', 'permissions']),
    },

    created() {
        this.fetch()

        Events.$on('user-updated', () => {
            this.fetch()
        })
    },

    watch: {
        selectedContainer(container) {
            this.fetch(container)
        },
    },

    methods: {
        edit(user) {
            Events.$emit('user-editing', user)
        },

        async remove(user) {
            try {
                await this.$confirm(
                    this.$i18n.i18next.t('message.warning.delete', {
                        section: this.$i18n.i18next.t('text.user'),
                    }),
                    'Warning',
                    {
                        confirmButtonText: this.$i18n.i18next.t(
                            'button.text.confirm'
                        ),
                        cancelButtonText: this.$i18n.i18next.t(
                            'button.text.cancel'
                        ),
                        type: 'warning',
                    }
                )

                await this.$http.delete(`User/${user.UserID}`)
                await this.fetch()

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.$i18n.i18next.t('message.success.deleted', {
                        section: this.$i18n.i18next.t('text.user'),
                    }),
                })
            } catch (e) {
                if (e === 'cancel') {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: this.$i18n.i18next.t('message.error.general'),
                    })
                }
            }
        },

        async fetch(container = null) {
            this.loading = true

            container = container || this.selectedContainer

            if (container) {
                let { data } = await this.$http.get(
                    `Container/${container.ContainerID}/User`
                )

                this.users = data
            }

            this.loading = false
        },
    },
}
</script>
