/* el-table caret */

.caret-wrapper {
  position: absolute !important;
  right: 0;
  top: -5px;
}

/* full calendar now indicator */

.fc-now-indicator-line {
  width: 8000%;
  margin-left: -3000%;
}
