// -----------------------------------------------------------------------------
// This file contains helper class declarations, if any.
// -----------------------------------------------------------------------------

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}