// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

body {
  background: $--background-color;
  font-family: $--font-family;
  font-size: $--font-size-base;
}

.main-app {
  &.theme {
    &--light {
      background: transparent !important;
    }
  }
}

:focus {
  outline: 0 !important;
}

.el {
  &-main {
    background: $--background-color;
    padding: 40px 40px 60px 40px;
  }

  &-main-wrapper {
    margin: 0 auto;
    width: 100%;
  }

  &-main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;

    &--full-height {
      align-items: initial;
    }
  }

  &-title-block {
    margin-bottom: 25px;
  }
}
