// -----------------------------------------------------------------------------
// This file contains all typo declarations, if any.
// -----------------------------------------------------------------------------

h1 {
  font-size: $--font-size-x-large !important;
  font-weight: 400;
}

h2 {
  font-size: $--font-size-large !important;
  font-weight: 500;
}

.el {
  &-title-with-icon {
    padding-left: 27px;
    background: url("/images/icon/pointer.png") no-repeat left center;
    padding-top: 2px;

    span {
      font-size: $--font-size-large;
      font-weight: 500;
      color: $--sub-title-gray;
    }

    &--button {
      position: relative;
    }
  }

  &-sub-title {
    padding-left: 27px;
    color: $--sub-title-gray;
  }

  &-title {
    &__action-button {
      position: absolute;
      top: 4px;
      right: 0;
    }
  }
}
