<template>
    <div class="el-main-wrapper">
        <el-row class="el-title-block">
            <h1 class="el-title-with-icon">
                {{ $t('title.routePlanner') }}
                <span v-if="selectedContainer"
                >: {{ selectedContainer.Description }}</span
                >
            </h1>
        </el-row>

        <stc-route-planner></stc-route-planner>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import RoutePlanner from '../../../components/blc/route-planner/RoutePlanner'

export default {
    name: 'route-planner-view',

    components: {
        'stc-route-planner': RoutePlanner,
    },

    computed: mapGetters(['selectedContainer']),
}
</script>
