<template>
    <div class="el-main-content">
        <div class="el-grid-card el-grid-card--no-style calendar-main-wrapper">
            <div class="el-row">
                <v-btn-toggle class="btn-calendar-group">
                    <v-btn
                        flat
                        color="dark"
                        class="btn-calendar-sm"
                        @click="prevWeek"
                    >
                        <v-icon dark>keyboard_arrow_left</v-icon>
                    </v-btn>
                </v-btn-toggle>

                <el-date-picker
                    class="top-calendar-picker"
                    id="calendarDate"
                    v-model="date"
                    format="yyyy-MM-dd"
                    type="date"
                    :picker-options="pickerOptions"
                >
                </el-date-picker>

                <v-btn-toggle v-model="activeButton" class="btn-calendar-group">
                    <v-btn
                        flat
                        color="dark"
                        class="btn-calendar-auto"
                        @click="date = today"
                    >
                        {{ $t('button.text.currentWeek') }}
                    </v-btn>
                    <v-btn
                        flat
                        color="dark"
                        class="btn-calendar-auto"
                        @click="
                            $refs.bookingCalendar.fireMethod(
                                'changeView',
                                'agendaFiveDays'
                            )
                        "
                    >
                        {{ $t('button.text.days', { number: 5 }) }}
                    </v-btn>
                    <v-btn
                        flat
                        color="dark"
                        class="btn-calendar-auto"
                        @click="
                            $refs.bookingCalendar.fireMethod(
                                'changeView',
                                'agendaSevenDays'
                            )
                        "
                    >
                        {{ $t('button.text.days', { number: 7 }) }}
                    </v-btn>
                    <v-btn
                        flat
                        color="dark"
                        class="btn-calendar-sm"
                        @click="nextWeek"
                    >
                        <v-icon dark>keyboard_arrow_right</v-icon>
                    </v-btn>
                </v-btn-toggle>

                <span class="week-number">
                    <span class="week__text">
                        {{ $t('data.label.week') }}:
                    </span>
                    <span class="week__number">
                        {{ weekOfYear }}
                    </span>
                </span>
            </div>
            <full-calendar
                ref="bookingCalendar"
                :config="config"
                :header="header"
                @event-render="renderBooking"
                @event-selected="selectBooking"
                @event-created="addBooking"
                :events="calendarBookings"
                class="highlight-day"
            />
        </div>
        <div
            class="el-form-card el-form-card--right--cal"
            :class="{ 'el-form-card--collapse': collapseBooking }"
        >
            <div class="el-form-card__header">
                <div
                    class="el-form-card__header-left-icon"
                    @click="setBookingCollapsed(!collapseBooking)"
                >
                    <img
                        class="inline-block mt-2"
                        src="/images/icon/bookings.png"
                    />
                </div>
                <div class="el-form-card__header-text custom_font_1"
                     style="overflow:hidden;text-overflow:ellipsis;width:75%;">
                    {{ $t('form.title.calendarSettings') }}
                </div>
                <div
                    class="el-form-card__header-right-icon"
                    @click="setBookingCollapsed(!collapseBooking)"
                >
                    <img src="/images/icon/minimize.png"/>
                </div>
            </div>
            <div class="el-form-card__body">
                <div class="el-form-card__collapse-label custom_font_1">
                    {{ $t('form.title.calendarSettings') }}
                </div>
                <div class="el-form-card-mini" v-if="unloadingAreas.length">
                    <div class="el-form-card__header el-form-card__header-center">
                        {{ $t('title.unloadingAreas') }}
                    </div>
                    <div class="el-form-card__element-wrapper">
                        <div class="el-radio-list">
                            <v-radio-group class="calendar-filter-list-group">
                                <v-layout
                                    v-for="unloadingArea in unloadingAreas"
                                    :key="unloadingArea.UnloadingAreaID"
                                >
                                    <v-flex xs1>
                                        <v-checkbox
                                            :value="unloadingArea"
                                            :input-value="unloadingArea"
                                            v-model="unloadingAreaList"
                                            color="success"
                                            hide-details
                                        />
                                    </v-flex>
                                    <v-flex xs11>
                                        <span
                                            class="unloading-area"
                                            style="background: #FEA47F; display: table"
                                            :style="{
                                                background: unloadingArea.Color,
                                                border: selectedUnloadingArea && selectedUnloadingArea.UnloadingAreaID ===
                                                unloadingArea.UnloadingAreaID ? 'solid 1.5px #fff' : ''
                                            }"
                                            @click="handleUnloadingArea(unloadingArea)"
                                        >
                                            {{ unloadingArea.ShortDescription }}
                                        </span>
                                    </v-flex>
                                </v-layout>
                                <v-layout
                                    v-if="selectedContainer.AvailableBookingTypes && selectedContainer.AvailableBookingTypes.includes('PASS')">
                                    <v-flex xs1>
                                        <v-checkbox
                                            v-model="unloadingAreaList"
                                            v-if="selectedContainer && selectedContainer.AvailableBookingTypes.includes('PASS')"
                                            color="success"
                                            :value="null"
                                            hide-details
                                        />
                                    </v-flex>
                                    <v-flex xs11>
                                        <span
                                            class="unloading-area"
                                            style="background: #FEA47F"
                                        >
                                            {{ $t('table.filter.text.pass') }}
                                        </span>
                                    </v-flex>
                                </v-layout>
                            </v-radio-group>
                        </div>
                    </div>
                </div>
                <div class="el-form-card-mini">
                    <div class="el-form-card__header el-form-card__header-center">
                        {{ $t('form.title.bookingDetails') }}
                    </div>
                    <div class="el-form-card__element-wrapper">
                        <draggable
                            class="list-group"
                            tag="ul"
                            v-bind="dragOptions"
                            v-model="bookingDetailsArr"
                            @start="drag = true"
                            @end="drag = false"
                        >
                            <transition-group type="transition" :name="!drag ? 'flip-list' : null">
                                <li class="list-group-item" v-for="element in bookingDetailsArr" :key="element.id"
                                    style=" display: flex; ">
                                    <i class="el-icon-rank draggable_icon"></i>
                                    <v-checkbox
                                        :label="$t(element.text)"
                                        v-model="element.checked"
                                        color="success"
                                        hide-details
                                        @change="handleCheckBoxChange($event)"
                                    />
                                    <v-switch
                                        height="200"
                                        class="highlight_section"
                                        v-model="element.isHighlighted"
                                        @change="handleBookingDetailsHighlightChange"
                                    />
                                </li>
                            </transition-group>
                        </draggable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import _ from 'lodash'
import { DateTime } from 'luxon'
import { mapGetters, mapActions } from 'vuex'
import FullCalendar from '../Calender'
import draggable from 'vuedraggable'
import InteractWithDates from '../../mixins/interact-with-dates'
import BookingEventComponent from './BookingEvent'
import BookingNotificationEventComponent from './BookingNotificationEvent'
import BookingCreateEventComponent from './BookingCreateEvent'
import UnloadingAreasMixin from '../../mixins/unloading-areas-mixin'

let BookingEvent = Vue.extend(BookingEventComponent)
let BookingNotificationEvent = Vue.extend(BookingNotificationEventComponent)
let BookingCreateEvent = Vue.extend(BookingCreateEventComponent)

export default {
    data() {
        let dateTimeFormat = process.env.VUE_APP_DATETIME_FORMAT

        let date = DateTime.local().toJSDate()

        return {
            date,
            dateTimeFormat,
            activeButton: 1,
            popoverElements: [],
            header: {
                left: '',
                center: '',
                right: '',
            },
            rawBookings: [],
            dateTimeRange: [],
            rawNotifications: [],
            unloadingAreaList: [],
            weekOfYear: '',
            selectedUnloadingArea: undefined,
            drag: false,
        }
    },
    created: async function() {
        console.log('[BookingCalendar] created')
        await this.getUnloadingAreas()
        this.setInitialUnloadingArealist()
        this.weekOfYear = this.currentWeek

        Events.$on('actor-updated', () => {
            console.log('[BookingCalendar] on actor-updated')
            this.fetchByWeekNumber(this.weekOfYear)
        })

        Events.$on('actor-created', () => {
            console.log('[BookingCalendar] on actor-created')
            this.fetchByWeekNumber(this.weekOfYear)
        })

        Events.$on('notification-deleted', () => {
            console.log('[BookingCalendar] on notification-deleted')
            this.fetchByWeekNumber(this.weekOfYear)
        })

        Events.$on('calendar-refresh', res => {
            console.log('[BookingCalendar] on calendar-refresh: ', res)
            this.date = res[0]
            this.fetchByWeekNumber(this.weekOfYear)
        })
    },

    beforeDestroy() {
        Events.$off('notification-deleted')
    },

    mixins: [InteractWithDates, UnloadingAreasMixin],

    components: {
        'full-calendar': FullCalendar,
        draggable,
    },

    computed: {
        dragOptions() {
            return {
                animation: 200,
                group: 'description',
                disabled: false,
                ghostClass: 'ghost',
            }
        },
        bookingDetailsArr: {
            get() {
                return this.$store.state.bookingDetails
            },
            set(value) {
                this.$store.commit('setBookingDetails', value)
                this.fetchByWeekNumber(this.weekOfYear)
            },
        },
        bookings() {
            let bookings = this.rawBookings.map(item => {
                let accessSet = item.AccessSets[0]
                let schedulePart = accessSet.Schedules[0].ScheduleParts[0]

                return {
                    ...item,
                    DateFrom: DateTime.fromString(
                        schedulePart.ValidFrom,
                        this.dateTimeFormat
                    ),
                    DateTo: DateTime.fromString(
                        schedulePart.ValidTo,
                        this.dateTimeFormat
                    ),
                    UnloadingArea: accessSet.Checkpoint,
                    UnloadingAreaID: accessSet.UnloadingAreaID,
                    requestedResources: accessSet.RequestedResources,
                }
            })

            return bookings.filter(item => {
                if (!this.unloadingAreaList.length) {
                    return true
                }

                return this.unloadingAreaList.some(check => {
                    if (check) {
                        return check.UnloadingAreaID == item.UnloadingAreaID
                    }
                    return check == item.UnloadingAreaID
                })
            })
        },

        dailyNotifications() {
            let byDate = _.chain(this.rawNotifications)
                .filter(notification => notification.DeletedStatus !== 98)
                .groupBy(notification => {
                    return DateTime.fromISO(
                        notification.EstimatedArrival
                    ).toFormat('yyyy-MM-dd')
                })
                .value()

            let notifications = []

            for (let date in byDate) {
                let items = byDate[date]

                const createdCount = items.filter(
                    item => item.StatusDescription == 'CREATED'
                ).length

                notifications.push({
                    start: date,
                    end: date,
                    allDay: true,
                    event_type: 'NOTIFICATION',
                    destinationContainerID: items[0].DestinationContainerID,
                    title: date.toLocaleString(DateTime.DATETIME_MED),
                    arrived_count: items.length - createdCount,
                    created_count: createdCount,
                })
            }

            return notifications
        },

        calendarBookings() {
            let bookings = this.bookings.map(booking => {
                return {
                    ...booking,
                    title: booking.BookingReference,
                    start: booking.DateFrom.toISO(),
                    end: booking.DateTo.toISO(),
                    allDay:
                        booking.DateTo.diff(booking.DateFrom).as('days') >= 1,
                    showPopover: false,
                }
            })

            return [...this.dailyNotifications, ...bookings]
        },

        config() {
            let scrollTime = '06:00:00'

            let dayOfWeek = DateTime.local().weekday
            let isWeekend = dayOfWeek == 6 || dayOfWeek == 7

            return {
                locale: this.selectedLanguage.isoName.substring(0, 2),
                scrollTime,
                firstDay: 1,
                slotLabelFormat: 'HH:mm',
                timezone: 'local',
                editable: false,
                eventOverlap: false,
                defaultView: isWeekend ? 'agendaSevenDays' : 'agendaFiveDays',
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                views: {
                    agendaFiveDays: {
                        type: 'agendaWeek',
                        weekends: false,
                    },

                    agendaSevenDays: {
                        type: 'agendaWeek',
                    },
                },
                columnHeaderHtml(m) {
                    return `
                        <div>
                            <span class="calendar__day-text">${m.format(
                                'ddd'
                            )}</span>
                            <span class="calendar__day-number">${m.format(
                                'DD'
                            )}</span>
                        </div>
                    `
                },
            }
        },

        today() {
            return DateTime.local().toJSDate()
        },

        pickerOptions() {
            return {
                firstDayOfWeek: 1,
            }
        },

        ...mapGetters([
            'selectedLanguage',
            'selectedContainer',
            'collapseBooking',
        ]),
    },

    mounted() {
        const hidePopovers = _.throttle(() => {
            this.hideCalendarPoppers()
        }, 100)

        document.addEventListener('scroll', hidePopovers, true)
        this.$once('hook:beforeDestroy', () => {
            document.removeEventListener('scroll', hidePopovers, true)
        })
    },

    watch: {
        selectedContainer(container) {
            console.log('[BookingCalendar] watch selectedContainer')
            this.setInitialUnloadingArealist()
            this.fetchBookings(container, this.dateTimeRange)
            this.fetchNotifications(container, this.dateTimeRange)
        },

        selectedLanguage() {
            Vue.nextTick(() => {
                this.$refs.bookingCalendar.$emit('rerender-events')

                $('#calendar').fullCalendar(
                    'option',
                    'locale',
                    this.selectedLanguage.isoName.substring(0, 2)
                )
            })
        },

        weekOfYear(week) {
            console.log('[BookingCalendar] weekOfYear watch fetch data.')
            this.fetchByWeekNumber(week)
        },

        date() {
            console.log('date() ', this.date.toISOString())
            this.weekOfYear = DateTime.fromISO(
                this.date.toISOString()
            ).weekNumber
        },
    },

    methods: {
        ...mapActions(['setBookingCollapsed']),

        handleCheckBoxChange() {
            this.$store.commit(
                'setBookingDetails',
                this.$store.state.bookingDetails
            )
        },
        handleBookingDetailsHighlightChange() {
            this.$store.commit(
                'setBookingDetails',
                this.$store.state.bookingDetails
            )
        },

        async setInitialUnloadingArealist() {
            this.unloadingAreaList = [null, ...this.unloadingAreas]
        },

        fireEvent(event, ...data) {
            console.log(data)
            Events.$emit(event, ...data)
        },

        handleUnloadingArea(data) {
            this.selectedUnloadingArea = data
        },

        colorLuminance(hex, lum) {
            // validate hex string
            hex = String(hex).replace(/[^0-9a-f]/gi, '')
            if (hex.length < 6) {
                hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2]
            }
            lum = lum || 0

            // convert to decimal and change luminosity
            var rgb = '#',
                c,
                i
            for (i = 0; i < 3; i++) {
                c = parseInt(hex.substr(i * 2, 2), 16)
                c = Math.round(
                    Math.min(Math.max(0, c + c * lum), 255)
                ).toString(16)
                rgb += ('00' + c).substr(c.length)
            }

            return rgb
        },

        renderBooking(booking, element) {
            this.hideCalendarPoppers()

            let instance = null

            if (!booking._id) {
                instance = new BookingCreateEvent({
                    propsData: {
                        booking,
                        element,
                    },
                })
            } else if (booking.event_type === 'NOTIFICATION') {
                instance = new BookingNotificationEvent({
                    propsData: {
                        booking,
                        element,
                    },
                })
            } else {
                instance = new BookingEvent({
                    propsData: {
                        booking,
                        element,
                        filters: this.bookingDetailsArr,
                        trans: this.$t,
                        unloadingArea: this.findUnloadingAreaByID(
                            booking.UnloadingAreaID
                        ),
                    },
                })

                instance.$on('delete-booking', booking =>
                    this.deleteBooking(booking)
                )

                instance.$on('actor-editing', booking =>
                    this.selectBooking(booking)
                )
            }

            instance.$mount()
            element
                .eq(0)
                .find('.fc-content')
                .html(instance.$el)
        },

        hideCalendarPoppers() {
            for (const popper of document.querySelectorAll('.tippy-popper')) {
                const instance = popper._tippy

                if (instance && instance.state.visible) {
                    instance.popperInstance.disableEventListeners()
                    instance.hide()
                }
            }
        },

        selectBooking(booking) {
            console.log('[BookingCalendar] selectBooking: ', booking)
            this.hideCalendarPoppers()
            if (booking.event_type === 'NOTIFICATION') {
                Events.$emit('notification-show', booking)
                return
            }

            Events.$emit('calendar-editing', booking)
        },

        addBooking({ start, end }) {
            console.log(
                '[BookingCalendar] addBooking: ',
                { start, end },
                ' selectedUnloadingArea = ',
                this.selectedUnloadingArea
            )
            Events.$emit('calendar-creating', {
                dateRange: [start, end],
                unloadingArea: this.selectedUnloadingArea,
            })
        },

        fetchByDateTimeRange(range) {
            this.activeButton = ''
            this.fetchBookings(this.selectedContainer, range)
            this.fetchNotifications(this.selectedContainer, range)

            this.$nextTick(() => {
                if (this.$refs.bookingCalendar) {
                    this.$refs.bookingCalendar.fireMethod('gotoDate', this.date)
                }
            })
        },

        findUnloadingAreaByID(id) {
            return _.find(this.unloadingAreas, { UnloadingAreaID: id })
        },

        async fetchBookings(container = null, range = []) {
            container = container ? container : this.selectedContainer

            if (!_.isEmpty(container)) {
                range = range.length ? range : this.currentWeekRange

                let dateTimeFrom = DateTime.fromISO(range[0].toISOString())
                let dateTimeTo = DateTime.fromISO(range[1].toISOString())

                // set end and start time to day start and day end if it doesn't contains time
                if (
                    dateTimeFrom.startOf('day').valueOf() ===
                        dateTimeFrom.valueOf() &&
                    dateTimeTo.startOf('day').valueOf() === dateTimeTo.valueOf()
                ) {
                    let start = dateTimeFrom.startOf('day')
                    let end = dateTimeTo.endOf('day')

                    dateTimeFrom = start.toFormat(this.dateTimeFormat)
                    dateTimeTo = end.toFormat(this.dateTimeFormat)

                    range = [start.toJSDate(), end.toJSDate()]
                } else {
                    dateTimeFrom = dateTimeFrom.toFormat(this.dateTimeFormat)
                    dateTimeTo = dateTimeTo.toFormat(this.dateTimeFormat)
                }

                let unloadingAreasIdList = []
                this.unloadingAreas.filter(area => area.IsActive).map(area => {
                    unloadingAreasIdList.push(area.UnloadingAreaID)
                })

                let { data } = await this.$http.post(`Actor/Search`, {
                    ValidFrom: dateTimeFrom,
                    ValidTo: dateTimeTo,
                    ActorTypeFilter: ['PASS', 'SLOT', 'MILKRUN'],
                    DestinationContainerFilter: [container.ContainerID],
                    IncludeOptionalItems: ['PACKAGE_GROUPS_ITEMS'],
                    UnloadingAreaFilter: unloadingAreasIdList,
                })

                this.rawBookings = data
                this.dateTimeRange = range
            }
        },

        async fetchNotifications(container = null, range = []) {
            container = container ? container : this.selectedContainer

            if (!_.isEmpty(container)) {
                range = range.length ? range : this.currentWeekRange

                let dateTimeFrom = DateTime.fromISO(range[0].toISOString())
                let dateTimeTo = DateTime.fromISO(range[1].toISOString())

                // set end and start time to day start and day end if it doesn't contains time
                if (
                    dateTimeFrom.startOf('day').valueOf() ===
                        dateTimeFrom.valueOf() &&
                    dateTimeTo.startOf('day').valueOf() === dateTimeTo.valueOf()
                ) {
                    let start = dateTimeFrom.startOf('day')
                    let end = dateTimeTo.endOf('day')

                    dateTimeFrom = start.toFormat(this.dateTimeFormat)
                    dateTimeTo = end.toFormat(this.dateTimeFormat)

                    range = [start.toJSDate(), end.toJSDate()]
                } else {
                    dateTimeFrom = dateTimeFrom.toFormat(this.dateTimeFormat)
                    dateTimeTo = dateTimeTo.toFormat(this.dateTimeFormat)
                }

                console.log('[BookingCalendar] fetchNotifications')
                let { data } = await this.$http.get(
                    `Container/${
                        container.ContainerID
                    }/BLCNotification/From/${dateTimeFrom}/To/${dateTimeTo}`
                )

                this.rawNotifications = data
                this.dateTimeRange = range
            }
        },

        async deleteBooking(actor) {
            try {
                await this.$confirm(
                    this.$i18n.i18next.t('message.warning.delete', {
                        section: this.$i18n.i18next.t('text.booking'),
                    }),
                    'Warning',
                    {
                        confirmButtonText: this.$i18n.i18next.t(
                            'button.text.confirm'
                        ),
                        cancelButtonText: this.$i18n.i18next.t(
                            'button.text.cancel'
                        ),
                        type: 'warning',
                    }
                )

                await this.$http.delete(`Actor/${actor.ActorID}`)
                await this.fetchByWeekNumber(this.weekOfYear)

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.$i18n.i18next.t('message.success.deleted', {
                        section: this.$i18n.i18next.t('text.booking'),
                    }),
                })
            } catch (e) {
                if (e === 'cancel') {
                    //
                } else if (e.response.status == 488) {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: e.response.data,
                    })
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: this.$i18n.i18next.t('message.error.general'),
                    })
                }
            }
        },

        actorType(type = '') {
            if ('milkrun' === type.toLowerCase()) {
                return this.$i18n.i18next.t('text.milkrun').toUpperCase()
            }

            return type
        },

        fetchByWeekNumber(week) {
            let dateByWeek = DateTime.fromISO(this.date.toISOString()).set({
                weekNumber: week,
            })

            this.dateTimeRange = [
                dateByWeek.startOf('week').toJSDate(),
                dateByWeek.endOf('week').toJSDate(),
            ]

            this.fetchByDateTimeRange(this.dateTimeRange)
        },

        prevWeek() {
            let prev = DateTime.fromISO(this.date.toISOString()).minus({
                days: 7,
            })

            this.date = prev.toJSDate()
            this.weekOfYear = prev.weekNumber
        },

        nextWeek() {
            let next = DateTime.fromISO(this.date.toISOString()).plus({
                days: 7,
            })

            this.date = next.toJSDate()
            this.weekOfYear = next.weekNumber
        },
    },
}
</script>
<style>
.custom_font_1 {
    font-size: 0.79em;
    font-weight: bold;
}

.button {
    margin-top: 35px;
}

/* CSS for Draggable List - https://sortablejs.github.io/Vue.Draggable/#/simple */

.flip-list-move {
    transition: transform 0.5s;
}

.no-move {
    transition: transform 0s;
}

.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}

.list-group {
    min-height: 20px;
}

.list-group-item {
    cursor: move;
}

.list-group-item i {
    cursor: pointer;
}

.draggable_icon {
    color: #e4e5e7;
    font-size: 16px;
    padding-top: 6px;
    padding-right: 6px;
}
.highlight_section {
    margin-left: 120px;
}
.input-group label {
    display: table;
}
</style>
