<template>
    <div class="el-cal-item-container">
        <div v-if="booking.allDay" class="el-cal-item el-cal-item--small">
            <div class="el-cal-item__time-slot">
                {{
                    (booking.DateFrom && booking.DateFrom.toFormat('HH:mm')) ||
                        booking.start.format('HH:mm')
                }}
                -
                {{
                    (booking.DateTo && booking.DateTo.toFormat('HH:mm')) ||
                        booking.end.format('HH:mm')
                }}
            </div>
            <el-row>
                <div class="el-cal-item__title">
                    <div class="el-cal-item__title-text font-medium">
                        {{ this.actorType(booking.ActorType) || '' }}
                    </div>
                </div>
            </el-row>
        </div>
        <div v-else class="el-cal-item">
            <el-row>
                <div
                    class="el-cal-item__time-slot flex justify-between mr-6 mb-2"
                >
                    <span>
                        {{
                            (booking.DateFrom &&
                                booking.DateFrom.toFormat('HH:mm')) ||
                                booking.start.format('HH:mm')
                        }}
                        -
                        {{
                            (booking.DateTo &&
                                booking.DateTo.toFormat('HH:mm')) ||
                                booking.end.format('HH:mm')
                        }}
                    </span>
                    <span>
                        {{ this.actorType(booking.ActorType) || '' }}
                    </span>
                </div>
            </el-row>

            <div class="el-cal-item__body">

                <div v-for="bookingDetailObj in filters" :key="bookingDetailObj.id">
                    <div v-if="bookingDetailObj.checked">
                        <span v-if="bookingDetailObj.name == 'reference'" v-bind:class="[bookingDetailObj.isHighlighted ? 'text_bold' : 'text_not_bold']">
                            {{ toArray(booking.PackageGroups, 'Reference') }}
                        </span>
                        <span v-if="bookingDetailObj.name == 'supplier'" v-bind:class="[bookingDetailObj.isHighlighted ? 'text_bold' : 'text_not_bold']">
                            {{ toArray(booking.PackageGroups, 'SupplierName') }}
                        </span>
                        <span v-if="bookingDetailObj.name == 'bookedBy'" v-bind:class="[bookingDetailObj.isHighlighted ? 'text_bold' : 'text_not_bold']">
                            {{ booking.CreatedByUserName }}
                        </span>
                        <span v-if="bookingDetailObj.name == 'pin'" v-bind:class="[bookingDetailObj.isHighlighted ? 'text_bold' : 'text_not_bold']">
                            {{ booking.PinCode }}
                        </span>
                        <span v-if="bookingDetailObj.name == 'additionalInfo'" v-bind:class="[bookingDetailObj.isHighlighted ? 'text_bold' : 'text_not_bold']">
                            {{ booking.Comment }}
                        </span>
                    </div>
                </div>
                <el-row>
                    <div
                        class="el-cal-item__resources-icon-list el-cal-item__resources-icon-list--vertical"
                    >
                        <ul
                            v-for="requestedResource in booking.requestedResources"
                            :key="requestedResource.id"
                            class="resources-icon-list inline-block"
                        >
                            <li
                                v-if="requestedResource.resource === 'FORKLIFT'"
                                class="resource-icon resource-icon__transporter"
                            ></li>
                            <li
                                v-if="requestedResource.resource === 'TRUCK'"
                                class="resource-icon resource-icon__truck"
                            ></li>
                            <li
                                v-if="requestedResource.resource === 'MANPOWER'"
                                class="resource-icon resource-icon__team"
                            ></li>
                            <li
                                v-if="requestedResource.resource === 'CRANE'"
                                class="resource-icon resource-icon__crane"
                            ></li>
                            <li
                                v-if="requestedResource.resource === 'TOOLS'"
                                class="resource-icon resource-icon__tools"
                            ></li>
                        </ul>
                    </div>
                </el-row>
            </div>

            <div class="el-cal-item__footer">
                <p>
                    <i
                        class="material-icons"
                        v-if="booking.IsLocked"
                        style="font-size:16px"
                    >
                        lock
                    </i>
                    <span style="float:right">
                        {{ booking.UsageTimes }} / {{ booking.MaxUsageTimes }}
                    </span>
                </p>
            </div>
        </div>
        <div class="tippy-popper" ref="tooltip" v-if="booking">
            <v-card class="white--text v-card-round" width="700">
                <v-card-title primary-title :style="{ background: color }">
                    <v-layout>
                        <v-flex xs2>
                            <div>
                                <div class="subheading mb-3">
                                    {{ booking.BookingReference }}
                                </div>
                                <div class="subheading mb-1">
                                    {{ trans('form.label.pinCode') }}
                                </div>
                                <div class="subheading mb-1">
                                    {{ trans('form.label.bookedBy') }}
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs7>
                            <div>
                                <br>
                                <br>
                                <div class="subheading mb-1">
                                    : {{ booking.PinCode }}
                                </div>
                                <div class="subheading mb-1">
                                    : {{ booking.CreatedByUserName }}
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs3 justify-end>
                            <div>
                                <div class="mb-3 body-2">
                                    <v-layout justify-space-around>
                                        <v-btn
                                            v-if="booking.ActorType !== 'MILKRUN'"
                                            @click="fireEvent('actor-editing', booking)"
                                            icon
                                            small
                                        >
                                            <v-icon>edit</v-icon>
                                        </v-btn>
                                        <v-btn
                                            v-if="booking.ActorType !== 'MILKRUN'"
                                            @click="fireEvent('delete-booking', booking)"
                                            icon
                                            small
                                        >
                                            <v-icon>delete</v-icon>
                                        </v-btn>
                                        <v-btn @click="tippy.hide()" icon small>
                                            <v-icon>clear</v-icon>
                                        </v-btn>
                                    </v-layout>
                                </div>
                                <p style="font-size:16px;text-align:right">
                                    {{ booking.AccessSets[0].UnloadingArea }}<br>
                                    {{ this.actorType(booking.ActorType) || '' }}
                                </p>
                            </div>
                        </v-flex>
                    </v-layout>
                </v-card-title>
                <v-card-text
                    class="pa-3 white black--text"
                    v-if="booking.DateFrom"
                >
                    <v-layout>
                        <v-flex xs6>
                            <v-icon class="mr-2">event_note</v-icon>
                            <div v-if="booking.allDay" class="body-2">
                                {{ booking.DateFrom.toLocaleString() }} -
                                {{ booking.DateTo.toLocaleString() }}
                            </div>
                            <div v-else class="body-2">
                                {{ booking.DateFrom.toLocaleString() }}
                            </div>
                        </v-flex>
                        <v-flex xs6>
                            <v-icon class="mr-2">schedule</v-icon>
                            <div class="body-2">
                                {{ booking.DateFrom.toFormat('HH:mm') }} -
                                {{ booking.DateTo.toFormat('HH:mm') }}
                            </div>
                        </v-flex>
                    </v-layout>
                    <v-layout
                        class="mt-3"
                        v-for="(packageGroup, index) in booking.PackageGroups.slice().reverse()"
                        :key="packageGroup.PackageGroupID"
                    >
                        <v-flex xs3>
                            <div>
                                <div class="body-1">
                                    {{ trans('data.label.referenceNo') }}
                                </div>
                                <div class="body-1">
                                    {{ trans('data.label.supplier') }}
                                </div>
                                <div class="body-1">
                                    {{ trans('data.label.items') }}
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs3>
                            <div>
                                <div class="body-1">
                                    : {{ packageGroup.Reference }}
                                </div>
                                <div class="body-1">
                                    : {{ packageGroup.SupplierName }}
                                </div>
                                <div class="body-1">
                                    <p
                                        v-for="(packageItem, index) in packageGroup.PackageItems"
                                        :key="index"
                                    >
                                        : {{ `${packageItem.Description} ${packageItem.PackageType ? `(${packageItem.PackageType})` : ''}` }}
                                    </p>
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs3 v-if="index === 0">
                            <div>
                                <div class="body-1">
                                    {{ trans('form.label.recipientName') }}
                                </div>
                                <div class="body-1">
                                    {{ trans('form.label.recipientCompany') }}
                                </div>
                                <div class="body-1">
                                    {{ trans('form.label.recipientPhone') }}
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs3 v-if="index === 0 && booking.AccessSets.length">
                            <div>
                                <div class="body-1">
                                    : {{ booking.AccessSets[0].RecipientName }}
                                </div>
                                <div class="body-1">
                                    : {{ booking.AccessSets[0].RecipientCompany }}
                                </div>
                                <div class="body-1">
                                    : {{ booking.AccessSets[0].RecipientPhone }}
                                </div>
                            </div>
                        </v-flex>
                    </v-layout>
                    <v-layout style="padding-top: 15px;">
                        <v-flex xs3>
                            <div class="body-1">
                                {{ trans('table.column.comments') }}
                            </div>
                        </v-flex>
                        <v-flex xs9>
                            <div class="body-1">
                                : {{ booking.Comment }}
                            </div>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-card-title primary-title :style="{ background: '#5D5E61' }">
                    <v-layout>
                        <v-flex xs3>
                            <div>
                                <div class="body-1">
                                    {{ trans('form.label.usageTime') }}
                                </div>
                                <div class="body-1">
                                    {{ trans('form.label.maxUsageTime') }}
                                </div>
                                <div class="body-1">
                                    {{ trans('form.label.numberPlate') }}
                                </div>
                                <div v-if="booking.IsLocked" class="body-1">
                                    <i
                                        class="material-icons"
                                        v-if="booking.IsLocked"
                                        style="font-size:16px"
                                    >
                                        lock
                                    </i>
                                    {{ trans('form.label.locked') }}
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs3>
                            <div>
                                <div class="body-1">
                                    : {{ booking.UsageTimes }}
                                </div>
                                <div class="body-1">
                                    : {{ booking.MaxUsageTimes }}
                                </div>
                                <div class="body-1">
                                    : {{ booking.PlateNo }}
                                </div>
                                <div v-if="booking.IsLocked" class="body-1">
                                    : {{ booking.LockedByUserName }}
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs3>
                            <div>
                                <div class="body-1">
                                    {{ trans('table.data.label.preFlex') }}
                                </div>
                                <div class="body-1">
                                    {{ trans('form.label.unloadingTimeInMin') }}
                                </div>
                                <div class="body-1">
                                    {{ trans('form.label.created') }}
                                </div>
                                <div class="body-1">
                                    {{ trans('form.label.updated') }}
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs3>
                            <div>
                                <div class="body-1">
                                    : {{ getPreFlex(booking) }} mins
                                </div>
                                <div class="body-1">
                                    : {{ booking.UnloadingTimeInMins }} mins
                                </div>
                                <div class="body-1">
                                    : {{ booking.Created | formatDateTime }}
                                </div>
                                <div class="body-1">
                                    : {{ booking.Updated | formatDateTime }}
                                </div>
                            </div>
                        </v-flex>
                    </v-layout>
                </v-card-title>
            </v-card>
        </div>
    </div>
</template>

<script>
import tippy from 'tippy.js'

export default {
    name: 'booking-event',

    props: {
        filters: {},

        booking: {
            type: Object,
            default: () => null,
        },

        trans: {
            default: () => null,
        },

        unloadingArea: {
            type: Object,
            default: () => null,
        },

        element: {
            type: Object,
            default: () => {},
        },
    },

    computed: {
        color() {
            return this.unloadingArea ? this.unloadingArea.Color : '#FEA47F'
        },
    },

    mounted() {
        this.addStyles()

        tippy('.tippy', {
            trigger: 'mouseenter',
            onShow(tip) {
                tip.set({ trigger: 'click' })
            },
            onHide(tip) {
                tip.set({ trigger: 'mouseenter' })
            },
        })

        this.tippy = tippy.one(this.element.get(), {
            arrow: true,
            arrowTransform: 'scale(1.2)',
            html: this.$refs.tooltip.firstChild,
            interactive: true,
            livePlacement: false,
            duration: 300,
        })

        this.$once('hook:beforeDestroy', () => {
            this.tippy.destroy()
        })
    },

    methods: {
        actorType(type = '') {
            if ('milkrun' === type.toLowerCase()) {
                return this.trans('text.milkrun').toUpperCase()
            }

            if ('SLOT' === type.toUpperCase()) {
                return this.trans('text.direct').toUpperCase()
            }

            return type
        },

        addStyles() {
            this.element.css('border-width', '2px')

            if (this.booking.ActorType === 'MILKRUN') {
                this.element.addClass('fc-event__milk-run fe-event__whiteBg')
                this.element.css('border-color', this.color)
            } else {
                this.element.css('border-color', '#FFFFFF')
                this.element.css('background', this.color)
            }
        },

        fireEvent(event, ...data) {
            this.tippy.hide()
            this.$emit(event, ...data)
        },

        toArray(data, key) {
            let str = ''

            if (data && data.length) {
                data.map(p => {
                    str += `${p[key]}, `
                })
            }

            return str.trim().replace(/.$/, '')
        },

        getPreFlex(b) {
            let preFlex =
                b.AccessSets &&
                b.AccessSets[0] &&
                b.AccessSets[0].Schedules &&
                b.AccessSets[0].Schedules[0] &&
                b.AccessSets[0].Schedules[0].ScheduleParts &&
                b.AccessSets[0].Schedules[0].ScheduleParts[0] &&
                b.AccessSets[0].Schedules[0].ScheduleParts[0].PreFlex

            return preFlex || 0
        },
    },
}
</script>
<style>
.v-card-round {
    border-radius: 10px;
}
.tippy-tooltip {
    color: inherit !important;
    font-size: inherit !important;
    padding: 0 !important;
    max-width: inherit !important;
    text-align: inherit !important;
    background-color: transparent !important;
}
.tippy-popper[x-placement^='top'] .tippy-arrow {
    border-top-color: #eeeeee !important;
}
.tippy-popper[x-placement^='bottom'] .tippy-arrow {
    border-bottom-color: #eeeeee !important;
}
.tippy-popper[x-placement^='left'] .tippy-arrow {
    border-left-color: #eeeeee !important;
}
.tippy-popper[x-placement^='right'] .tippy-arrow {
    border-right-color: #eeeeee !important;
}
.text_bold {
    font-weight: bold !important;
    text-shadow: 0.5px 0.5px #323b49;
}
.text_not_bold {
    font-weight: normal !important;
    text-shadow: none;
}
</style>
