<template>
    <div class="el-main-content">
        <div class="el-form-card">
            <div class="el-form-card__header" style="display:flex;justify-content: space-between;padding:0 30px 0 30px;">
                {{ readonly ? 'Booking Information' : `${formText} ${$t('form.title.booking')}` }}
                <span v-if="!isBlc" style="float:right;font-size:12px;display:flex;">
                    <span>
                        {{ $t('form.label.lock') }}
                    </span>
                    <v-switch
                        style="padding: 10px 0px 0px 10px;"
                        v-model="form.isLocked"
                        @change="isLockedChange($event)"
                        color="yellow"
                    />
                </span>
            </div>
            <div class="el-form-card__body" style="padding: 0">
                <el-form
                    ref="form"
                    class="dark-form"
                    label-position="top"
                    label-width="150px"
                    size="mini"
                    :model="form"
                    :rules="rules"
                >
                    <el-row v-if="selectedContainer.ContainerType === 'CCC'">
                        <div class="el-form-card__element-wrapper mt-3">
                            <el-form-item prop="container">
                                <treeselect
                                    v-model="form.container"
                                    value-format="object"
                                    class="supplier-tree-select"
                                    @select="containerSelect"
                                    :flat="true"
                                    :clearable="false"
                                    :placeholder="
                                        $t('form.label.selectSearchContainer')
                                    "
                                    :options="selectedContainerTree"
                                    :normalizer="normalizer"
                                />
                            </el-form-item>
                        </div>
                    </el-row>

                    <el-row v-if="!editing">
                        <div class="el-form-card__element-wrapper">
                            <div class="el-radio-list" prop="actorType">
                                <v-radio-group v-model="form.actorType">
                                    <v-radio
                                        :label="$t('form.label.slot')"
                                        v-if="
                                            form.container.AvailableBookingTypes.includes(
                                                'SLOT'
                                            ) &&
                                                selectedContainer.ContainerType !==
                                                'CCC'
                                        "
                                        color="success"
                                        value="SLOT"
                                        hide-details
                                    >
                                    </v-radio>
                                    <v-radio
                                        :label="$t('form.label.pass')"
                                        v-if="
                                            form.container.AvailableBookingTypes.includes(
                                                'PASS'
                                            ) &&
                                                selectedContainer.ContainerType !==
                                                'CCC'
                                        "
                                        color="success"
                                        value="PASS"
                                        hide-details
                                    >
                                    </v-radio>
                                    <v-radio
                                        :label="$t('form.label.blc')"
                                        v-if="
                                            form.container.AvailableBookingTypes.includes(
                                                'BLC'
                                            )
                                        "
                                        color="success"
                                        value="BLC"
                                        hide-details
                                    >
                                    </v-radio>
                                    <v-radio
                                        :label="$t('form.label.stockBooking')"
                                        color="success"
                                        value="stock"
                                        v-if="inventoryItems.length"
                                        hide-details
                                    >
                                    </v-radio>
                                </v-radio-group>
                            </div>
                        </div>
                    </el-row>

                    <el-row
                        v-if="!isMilkRun && !isStock"
                        v-show="selectedContainer.ContainerType !== 'CCC'"
                    >
                        <div class="el-form-card__element-wrapper">
                            <el-form-item prop="pinCode">
                                <stc-password
                                    :labelText="$t('form.label.pinCodeForDriver')"
                                    readonly
                                    v-model="form.pinCode"
                                    ref="password"
                                    fetch-url="Util/GeneratePin"
                                    :onLoadGenerate="onLoadGeneratePassword"
                                >
                                </stc-password>
                            </el-form-item>
                        </div>
                    </el-row>

                    <el-row
                        v-if="!isMilkRun && !isStock"
                        v-show="selectedContainer.ContainerType !== 'CCC'"
                    >
                        <div
                            class="el-form-card__element-wrapper el-form-card__element-wrapper--expander"
                        >
                            <el-form-item prop="isSendInvitationMessage">
                                <div class="el-checkbox-list">
                                    <v-checkbox
                                        :label="$t('form.label.sendInvitationMessage')"
                                        v-model="form.isSendInvitationMessage"
                                        color="success"
                                        hide-details
                                    >
                                    </v-checkbox>
                                </div>
                            </el-form-item>
                        </div>
                    </el-row>

                    <div
                        v-if="form.isSendInvitationMessage"
                        class="form-expanded-content"
                    >
                        <el-row v-if="!isMilkRun && !isStock">
                            <div class="el-form-card__element-wrapper">
                                <el-form-item prop="phone">
                                    <v-text-field
                                        :label="$t('form.label.sendPinToPhone')"
                                        v-model="form.phone"
                                    >
                                    </v-text-field>
                                </el-form-item>
                            </div>
                        </el-row>
                        <el-row v-if="!isMilkRun && !isStock">
                            <div class="el-form-card__element-wrapper">
                                <el-form-item prop="email">
                                    <v-text-field
                                        :label="$t('form.label.sendPinToEmail')"
                                        v-model="form.email"
                                    >
                                    </v-text-field>
                                </el-form-item>
                            </div>
                        </el-row>
                    </div>

                    <el-row v-if="!isMilkRun && !isStock">
                        <div class="el-form-card__element-wrapper">
                            <el-form-item prop="plateNo">
                                <v-text-field
                                    :readonly="readonly"
                                    :label="$t('form.label.vehicleNumberPlate')"
                                    v-model="form.plateNo"
                                >
                                </v-text-field>
                            </el-form-item>
                        </div>
                    </el-row>

                    <el-row v-if="isBlc">
                        <div class="el-form-card__element-wrapper">
                            <el-form-item prop="estimatedArrival">
                                <el-date-picker
                                    class="el-form-card__date-picker"
                                    v-model="form.estimatedArrival"
                                    :picker-options="pickerOptions"
                                    type="date"
                                    format="yyyy-MM-dd"
                                    :placeholder="$t('form.label.date')"
                                >
                                </el-date-picker>
                            </el-form-item>
                        </div>
                    </el-row>

                    <el-row v-if="isStock">
                        <div class="el-form-card__element-wrapper">
                            <el-form-item prop="estimatedArrival">
                                <el-date-picker
                                    class="el-form-card__date-picker"
                                    v-model="form.estimatedArrival"
                                    type="datetime"
                                    :picker-options="pickerOptions"
                                    :placeholder="$t('form.label.date')"
                                >
                                </el-date-picker>
                            </el-form-item>
                        </div>
                    </el-row>

                    <div v-if="!isBlc && !isStock">
                        <hr class="border mt-8" />

                        <div v-if="isPass">
                            <el-row>
                                <div class="el-form-card__element-wrapper">
                                    <v-select
                                        :items="uniqueGates"
                                        :label="$t('form.label.selectCheckpoints')"
                                        v-model="form.gates"
                                        item-value="Name"
                                        item-text="Name"
                                        return-object
                                        clearable
                                        multiple
                                        required
                                        chips
                                        dark
                                    >
                                    </v-select>
                                </div>
                            </el-row>
                        </div>

                        <div v-else>
                            <el-row>
                                <div class="el-form-card__element-wrapper">
                                    <el-form-item prop="unloadingArea">
                                        <v-select
                                            :items="activeUnloadingAreas"
                                            :readonly="readonly"
                                            item-text="ShortDescription"
                                            item-value="UnloadingAreaID"
                                            return-object
                                            v-model="form.unloadingArea"
                                            :label="$t('form.label.unloadingArea')"
                                            dark
                                            :clearable="!readonly"
                                            required
                                        >
                                        </v-select>
                                    </el-form-item>
                                </div>
                            </el-row>

                            <el-row v-if="unloadingAreaCheckpoints.length">
                                <div
                                    class="el-form-card__element-wrapper el-form-card__element-wrapper--expander"
                                >
                                    <el-form-item prop="isShowGate">
                                        <div class="el-checkbox-list">
                                            <v-checkbox
                                                :label="$t('form.label.showGates')"
                                                v-model="form.isShowGate"
                                                color="success"
                                                hide-details
                                            >
                                            </v-checkbox>
                                        </div>
                                    </el-form-item>
                                </div>
                            </el-row>

                            <el-row v-else>
                                <div class="el-form-card__element-wrapper">
                                    <el-form-item>
                                        <label
                                            class="text-sm italic"
                                            style="color: #989ea6"
                                        >
                                            {{ $t('form.label.noGatesVisible') }}
                                        </label>
                                    </el-form-item>
                                </div>
                            </el-row>

                            <div
                                v-if="form.isShowGate && unloadingAreaCheckpoints.length"
                                class="form-expanded-content"
                            >
                                <el-row>
                                    <div class="el-form-card__element-wrapper">
                                        <ul class="el-form-card__unOrder-list">
                                            <li
                                                v-for="(gate, index) in unloadingAreaCheckpoints"
                                                :key="index"
                                            >
                                                {{ gate.Name }}
                                            </li>
                                        </ul>
                                    </div>
                                </el-row>
                            </div>
                        </div>

                        <el-row>
                            <div class="el-form-card__element-wrapper">
                                <el-form-item
                                    prop="dateTimeRange"
                                    class="form-element-datepicker"
                                >
                                    <el-date-picker
                                        id="dateTimeRange"
                                        v-model="form.dateTimeRange"
                                        format="yyyy-MM-dd HH:mm"
                                        @change="notifyRangeChanged"
                                        type="datetimerange"
                                        range-separator="-"
                                        :picker-options="pickerOptions"
                                        :start-placeholder="$t('form.label.dateTimeFrom')"
                                        :end-placeholder="$t('form.label.dateTimeUntil')"
                                        :readonly="readonly"
                                        :clearable="!readonly"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                            </div>
                        </el-row>

                        <hr class="border" />

                        <el-row>
                            <div class="el-form-card__element-wrapper">
                                <el-form-item
                                    v-if="permissions.includes('USER_READ')"
                                    prop="recipient"
                                >
                                    <v-select
                                        :items="recipients"
                                        :readonly="readonly"
                                        item-text="Label"
                                        combobox
                                        return-object
                                        v-model="form.recipient"
                                        :label="$t('form.label.recipientName')"
                                        dark
                                        :clearable="!readonly"
                                        required
                                    >
                                    </v-select>
                                </el-form-item>
                            </div>
                        </el-row>

                        <el-row>
                            <div class="el-form-card__element-wrapper">
                                <el-form-item prop="recipientCompany">
                                    <v-text-field
                                        :label="$t('form.label.recipientCompany')"
                                        :readonly="readonly"
                                        v-model="form.recipientCompany"
                                        required
                                    />
                                </el-form-item>
                            </div>
                        </el-row>

                        <el-row>
                            <div
                                class="el-form-card__element-wrapper"
                                :class="{ 'mb-6': readonly }"
                            >
                                <el-form-item prop="recipientPhone">
                                    <v-text-field
                                        :label="$t('form.label.recipientPhone')"
                                        :readonly="readonly"
                                        v-model="form.recipientPhone"
                                        required
                                    >
                                    </v-text-field>
                                </el-form-item>
                            </div>
                        </el-row>

                        <el-row v-if="!isMilkRun">
                            <div class="el-form-card__element-wrapper">
                                <el-form-item prop="comment">
                                    <v-text-field
                                        :label="$t('form.label.additionalInformation')"
                                        :readonly="readonly"
                                        v-model="form.comment"
                                        multi-line
                                    />
                                </el-form-item>
                            </div>
                        </el-row>

                        <el-row v-if="!isMilkRun">
                            <div class="el-form-card__element-wrapper el-form-card__element-wrapper--expander">
                                <el-form-item prop="isAdvance">
                                    <div class="el-checkbox-list">
                                        <v-checkbox
                                            :label="$t('form.label.advancedSettings')"
                                            v-model="form.isAdvance"
                                            color="success"
                                            hide-details
                                        />
                                    </div>
                                </el-form-item>
                            </div>
                        </el-row>

                        <div
                            v-if="form.isAdvance"
                            class="form-expanded-content"
                        >
                            <el-row>
                                <div class="el-form-card__element-wrapper">
                                    <el-form-item
                                        prop="maxUsageTimes"
                                        class="form-element-with-tooltip"
                                    >
                                        <v-text-field
                                            :label="$t('form.label.maxUsageTimes')"
                                            v-model="form.maxUsageTimes"
                                            type="number"
                                            :rules="[selectedContainer.MaximumPassingsPerBooking > 0 ? maxUsageTimeRule.max : null]"
                                            :min="0"
                                        />
                                        <v-tooltip right>
                                            <v-icon dark right slot="activator">
                                                help
                                            </v-icon>
                                            <span v-html="$t('form.helpText.maxUsageTimes')"/>
                                        </v-tooltip>
                                    </el-form-item>
                                </div>
                            </el-row>

                            <el-row>
                                <div class="el-form-card__element-wrapper">
                                    <el-form-item
                                        prop="preFlex"
                                        class="form-element-with-tooltip"
                                    >
                                        <v-select
                                            v-model="form.preFlex"
                                            :items="preFlexes"
                                            :label="$t('form.label.preFlex')"
                                            dark
                                        />
                                        <v-tooltip right>
                                            <v-icon dark right slot="activator">
                                                help
                                            </v-icon>
                                            <span v-html="$t('form.helpText.preFlex')"/>
                                        </v-tooltip>
                                    </el-form-item>
                                </div>
                            </el-row>

                            <el-row>
                                <div class="el-form-card__element-wrapper">
                                    <el-form-item
                                        prop="unloadingTimeInMins"
                                        class="form-element-with-tooltip"
                                    >
                                        <v-select
                                            v-model="form.unloadingTimeInMins"
                                            :items="unloadingTimes"
                                            :label="$t('form.label.unloadingTimeInMins')"
                                            dark
                                        />
                                        <v-tooltip right>
                                            <v-icon dark right slot="activator">
                                                help
                                            </v-icon>
                                            <span v-html="$t('form.helpText.unloadingTimeInMins')"/>
                                        </v-tooltip>
                                    </el-form-item>
                                </div>
                            </el-row>
                        </div>
                    </div>

                    <el-row v-if="isBlc || isStock">
                        <div
                            class="el-form-card__element-wrapper el-form-card__element-wrapper--expander"
                        >
                            <el-form-item prop="isAdvance">
                                <div
                                    class="el-checkbox-list booking__check-box--express-delivery"
                                >
                                    <v-checkbox
                                        :label="$t('form.label.expressDelivery')"
                                        v-model="form.isExpressDelivery"
                                        color="success"
                                        hide-details
                                    >
                                    </v-checkbox>
                                </div>
                            </el-form-item>
                        </div>
                    </el-row>

                    <div
                        class="button-wrapper flex justify-between items-center"
                        v-if="!isMilkRun"
                    >
                        <v-btn
                            round
                            v-if="showUpdateBtn"
                            color="primary"
                            @click="submit"
                            :disabled="loading || form.container.ContainerType === 'CCC'"
                            dark
                        >
                            {{ formText }}
                        </v-btn>
                        <v-btn round color="dark" @click="close" dark>
                            {{ $t('form.button.cancel') }}
                        </v-btn>
                    </div>
                </el-form>
            </div>
        </div>
        <div class="el-grid-card">
            <el-row v-if="isStock">
                <stc-my-loc-inventory
                    v-if="inventoryItems.length"
                    :items="inventoryItems"
                    v-model="orderedItems"
                >
                </stc-my-loc-inventory>
            </el-row>
            <div v-else>
                <el-row>
                    <div
                        class="el-inner-table-right-col"
                        style="margin-bottom: 10px"
                    >
                        <h2 class="el-form-card__inner-title mb-2">
                            {{ $t('form.title.unloadingResources') }}
                            <span v-if="isBlc">(at BLC)</span>
                        </h2>

                        <div class="el-inner-table-check-box-list">
                            <div class="dark-form">
                                <div class="el-radio-list">
                                    <v-checkbox
                                        :label="$t('form.label.forkLift')"
                                        :disabled="readonly"
                                        class="booking__check-box--fork-lift"
                                        color="success"
                                        v-model="form.requestedResources"
                                        value="FORKLIFT"
                                        hide-details
                                    >
                                    </v-checkbox>

                                    <v-checkbox
                                        v-if="!isBlc"
                                        :label="$t('form.label.truck')"
                                        :disabled="readonly"
                                        class="booking__check-box--truck"
                                        color="success"
                                        v-model="form.requestedResources"
                                        value="TRUCK"
                                        hide-details
                                    >
                                    </v-checkbox>

                                    <v-checkbox
                                        v-if="!isBlc"
                                        :disabled="readonly"
                                        :label="$t('form.label.labourers')"
                                        class="booking__check-box--labourers"
                                        color="success"
                                        v-model="form.requestedResources"
                                        value="MANPOWER"
                                        hide-details
                                    >
                                    </v-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="el-inner-table-check-box-list">
                            <div class="dark-form">
                                <div class="el-radio-list">
                                    <v-checkbox
                                        v-if="!isBlc"
                                        :disabled="readonly"
                                        :label="$t('form.label.industrialCrane')"
                                        class="booking__check-box--crane"
                                        color="success"
                                        v-model="form.requestedResources"
                                        value="CRANE"
                                        hide-details
                                    >
                                    </v-checkbox>

                                    <v-checkbox
                                        :label="$t('form.label.tools')"
                                        :disabled="readonly"
                                        class="booking__check-box--tools"
                                        color="success"
                                        v-model="form.requestedResources"
                                        value="TOOLS"
                                        hide-details
                                    >
                                    </v-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-row>
                <div class="el-table__dark-expandable el-table__modal">
                    <stc-booking-blc-package
                        v-for="packageGroup in packageGroups"
                        :key="packageGroup.PackageGroupID || packageGroup.id"
                        :data-blc-package="packageGroup"
                        :actor="actor"
                        :readonly="readonly"
                        :suppliers="suppliers"
                        @delete-blc-package="deletePackage"
                    >
                    </stc-booking-blc-package>

                    <div class="el-row" v-if="!isMilkRun">
                        <div class="el-bottom-btn-panel">
                            <v-btn
                                class="el-table-info__btn el-table-info__btn--lg el-table-info__btn--primary"
                                flat
                                @click="addPackage"
                            >
                                {{ $t('modal.button.addPackageGroup') }}
                            </v-btn>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import _ from 'lodash'
import { mapGetters } from 'vuex'
import { DateTime } from 'luxon'
import StcPassword from '../Password'
import StcBookingBlcPackage from './BookingBlcPackage'
import InteractWithActor from '../../mixins/interact-with-actor'
import Treeselect from '@riophae/vue-treeselect'
import moment from 'moment'

import UnloadingAreasMixin from '../../mixins/unloading-areas-mixin'
import BlcMixin from '../../mixins/blc-mixin'
import GatesMixin from '../../mixins/gates-mixin'
import RecipientsMixin from '../../mixins/recipients-mixin'
import SchedulesMixin from '../../mixins/schedules-mixin'

const MyLocInventory = () => import('./MyLocInventory')

export default {
    name: 'booking-create',

    props: {
        isEditable: {
            type: Boolean,
            default: false,
        },
        data: {
            type: Object,
            default: undefined,
        },
        dateRange: {
            type: Array,
            default: undefined,
        },
        selectedUnloadingArea: {
            type: Object,
            default: undefined,
        },
    },

    data() {
        return {
            readonly: false,
            showAddMaterials: false,
            actor: '',
            editing: false,
            loading: false,
            preFlexes: [0, 5, 10, 15, 20, 30],
            unloadingTimes: [0, 15, 20, 25, 30, 40, 50, 60, 90, 120],
            form: {
                actorType: 'SLOT',
                container: null,
                recipient: '',
                recipientName: '',
                recipientPhone: '',
                recipientCompany: '',
                firstName: '',
                lastName: '',
                pinCode: '',
                plateNo: '',
                unloadingArea: '',
                inGate: '',
                isLocked: false,
                outGate: '',
                gates: [],
                dateTimeRange: [],
                estimatedArrival: DateTime.local()
                    .endOf('day')
                    .toJSDate(),
                schedule: {
                    Description: '',
                    ScheduleParts: [
                        {
                            ValidFrom: null,
                            ValidTo: null,
                            WeekStart: 0,
                            WeekStop: 0,
                            IsSimpleSchedule: true,
                        },
                    ],
                },
                allowApp: true,
                company: '',
                phone: '',
                email: '',
                comment: '',
                maxUsageTimes: 1,
                preFlex: 0,
                isSendInvitationMessage: false,
                isShowGate: false,
                isAdvance: false,
                isExpressDelivery: false,
                unloadingTimeInMins: 0,
                requestedResources: [],
            },
            packageGroups: [],
            inventoryItems: [],
            orderedItems: [],
            suppliers: [],
            normalizer(node) {
                let data = {
                    id: node.ContainerID,
                    label: node.Description,
                }

                if (node.Children && node.Children.length) {
                    return {
                        ...data,
                        children: node.Children,
                    }
                }

                return data
            },
            maxUsageTimeRule: {
                max: v =>
                    v < this.selectedContainer.MaximumPassingsPerBooking ||
                    this.$t('form.validation.invalidMaxUsageTimes', {
                        number: this.selectedContainer
                            .MaximumPassingsPerBooking,
                    }),
            },
            onLoadGeneratePassword: false,
            showUpdateBtn: true,
        }
    },

    created: async function() {
        this.form.container = { ...this.selectedContainer }
        console.log(this.form.container)
        console.log(
            '[BookingCreate] created. editmode: %s data: %s dateRange: %s ',
            this.isEditable,
            this.data,
            this.dateRange,
            this.form.container
        )
        if (this.form.container.ContainerType !== 'CCC') {
            this.fetchSuppliers()
            this.getContainerBlcData()
            this.getUnloadingAreas()
            this.getGates()
            this.fetchMyLocInventory()
            this.getRecipients()
            this.getSchedules()
        }

        // Edit mode or Create mode
        if (this.isEditable && this.data) {
            console.log('[BookingCreate] edit mode')
            this.onLoadGeneratePassword = false
            this.reset()

            this.editing = true
            this.readonly = false

            this.actor = await this.fetchActorByID(this.data['ActorID'])

            if (this.actor.ActorType === 'MILKRUN') {
                this.readonly = true
            }

            this.fillFormActor(this.actor)

            let gates = this.actor.AccessSets.map(accessSet =>
                _.find(this.uniqueGates, {
                    CheckpointID: accessSet['CheckPointID'],
                })
            )

            this.form.gates = [...gates]
            this.actor.AccessSets.forEach(accessSet => {
                this.fillFormAccessSet(accessSet)
            })

            this.form.isSendInvitationMessage = _.some(
                [this.form.email, this.form.phone],
                val => val && val.length
            )
            this.form.isAdvance = _.some(
                [this.form.preFlex, this.form.unloadingTimeInMins],
                val => val > 0
            )
        } else {
            console.log('[BookingCreate] default create mode')
            this.onLoadGeneratePassword = true
            this.reset()
        }
        // Create booking by calendar 'slot click' or 'drag and click'
        if (this.dateRange && this.dateRange.length === 2) {
            console.log('[BookingCreate] create mode with input date range')
            this.form.dateTimeRange = this.dateRange
        } else {
            this.form.dateTimeRange = this.initialDateTimeRange()
        }
        this.form.estimatedArrival = this.form.dateTimeRange[0]
    },
    updated() {
        if (this.selectedUnloadingArea) {
            this.form.unloadingArea = this.selectedUnloadingArea
        }
    },
    mounted() {
        if (!this.packageGroups.length) {
            this.addPackage()
        }
        this.$refs.password && this.$refs.password.generate()

        if (this.selectedContainer.ContainerType === 'CCC') {
            this.form.actorType = 'BLC'
            this.form.estimatedArrival = moment()
                .endOf('day')
                .subtract(1, 'milliseconds')
                .toDate()
        }

        Events.$on('actor-add-packages', () => {
            if (!this.packageGroups.length) {
                this.addPackage()
            }
        })

        Events.$on('generate-password', () => {
            this.$refs.password && this.$refs.password.generate()
        })

        Events.$on('actor-editing', async data => {
            this.reset()

            this.editing = true
            this.readonly = false

            this.actor = await this.fetchActorByID(data['ActorID'])

            if (this.actor.ActorType === 'MILKRUN') {
                this.readonly = true
            }

            this.fillFormActor(this.actor)

            let gates = this.actor.AccessSets.map(accessSet =>
                _.find(this.uniqueGates, {
                    CheckpointID: accessSet['CheckPointID'],
                })
            )

            this.form.gates = [...gates]
            this.actor.AccessSets.forEach(accessSet => {
                this.fillFormAccessSet(accessSet)
            })

            this.form.isSendInvitationMessage = _.some(
                [this.form.email, this.form.phone],
                val => val && val.length
            )
            this.form.isAdvance = _.some(
                [this.form.preFlex, this.form.unloadingTimeInMins],
                val => val > 0
            )
        })

        Events.$on('actor-creating', range => {
            this.reset()

            this.form.dateTimeRange = range
            this.form.estimatedArrival = range[0]
        })

        Events.$on('actor-reset', () => {
            this.reset()
        })
    },

    mixins: [
        InteractWithActor,
        UnloadingAreasMixin,
        BlcMixin,
        GatesMixin,
        RecipientsMixin,
        SchedulesMixin,
    ],

    components: {
        'stc-my-loc-inventory': MyLocInventory,
        'stc-password': StcPassword,
        'stc-booking-blc-package': StcBookingBlcPackage,
        treeselect: Treeselect,
    },

    watch: {
        'form.isAdvance': function(isAdvance) {
            if (!isAdvance) {
                this.form.preFlex = 0
                this.form.maxUsageTimes = 1
                this.form.unloadingTimeInMins = 0
            }
        },

        'form.actorType': function(newVal) {
            if (newVal == 'SLOT') {
                this.form.requestedResources = []
                this.form.isExpressDelivery = false
            }

            if (newVal == 'PASS') {
                this.form.unloadingArea = ''
                this.form.requestedResources = []
                this.form.isExpressDelivery = false
            }

            if (newVal == 'BLC') {
                this.form.unloadingArea = ''
                this.form.recipientName = ''
                this.form.recipientCompany = ''
                this.form.recipientPhone = ''
            }
        },

        'form.recipient': function(recipient) {
            if (_.isObject(recipient)) {
                this.form.recipientName =
                    recipient.FirstName + ' ' + recipient.LastName
                this.form.recipientCompany = recipient.Company
                this.form.recipientPhone = recipient.Phone
            } else {
                this.form.recipientName = recipient
            }
        },

        'form.container': function() {},

        selectedContainer() {
            if (this.editing) {
                this.reset()
            }
            this.fetchMyLocInventory()
        },
    },

    computed: {
        ...mapGetters(['permissions', 'selectedContainer']),

        selectedContainerTree() {
            return [this.selectedContainer]
        },

        unloadingAreaCheckpoints() {
            if (!this.form.unloadingArea) return []

            return this.form.unloadingArea.Checkpoints.map(id => {
                return _.find(this.gates, { CheckpointID: id })
            })
        },

        formText() {
            return this.editing
                ? this.$t('form.title.update')
                : this.$t('form.title.create')
        },

        actorPayload() {
            let form = _.cloneDeep(this.form)

            let accessSets = []

            if (this.isPass) {
                accessSets = this.buildAccessSet(form)
            } else {
                accessSets = this.buildAccessSetWithoutGates(form)
            }

            return {
                ActorType: this.form.actorType,
                Email: this.form.email,
                FirstName: this.form.firstName,
                LastName: this.form.lastName,
                MAIsEnabled: this.form.allowApp,
                Comment: this.form.comment,
                PinCode: this.form.pinCode,
                PlateNo: this.form.plateNo,
                Phone: this.form.phone,
                Company: this.form.company,
                LocationValidationDisabled: true,
                MaxUsageTimes: this.form.maxUsageTimes,
                UnloadingTimeInMins: this.form.unloadingTimeInMins,
                AccessSets: accessSets,
                PackageGroups: this.packageGroups,
                IsLocked: this.form.isLocked,
            }
        },

        blcPayload() {
            let dateTimeFormat = process.env.VUE_APP_DATETIME_FORMAT

            const estimatedArrival = DateTime.fromISO(
                moment(this.form.estimatedArrival)
                    .endOf('day')
                    .subtract(1, 'milliseconds')
                    .toDate()
                    .toISOString()
            ).toFormat(dateTimeFormat)

            return {
                DestinationContainerID: this.form.container.ContainerID,
                EstimatedArrival: estimatedArrival,
                PinCode: this.form.pinCode,
                PlateNo: this.form.plateNo,
                Email: this.form.email,
                Phone: this.form.phone,
                IsExpress: this.form.isExpressDelivery,
                RequestedResources: this.form.requestedResources,
                BlcCheckpointID: this.containerBlcData.CheckpointID,
                BlcUnloadingAreaID: this.containerBlcData.UnloadingAreaID,
                BlcContainerID: this.containerBlcData.ContainerID,
                PackageGroups: this.packageGroups,
            }
        },

        isSlot() {
            return this.form.actorType == 'SLOT'
        },

        isBlc() {
            return this.form.actorType == 'BLC'
        },

        isStock() {
            return this.form.actorType == 'stock'
        },

        isMilkRun() {
            return this.form.actorType == 'MILKRUN'
        },

        isPass() {
            return this.form.actorType == 'PASS'
        },

        hasPackageItems() {
            return (
                this.packageGroups.length > 0 &&
                _.every(this.packageGroups, group => {
                    return group.PackageItems.length > 0
                })
            )
        },

        pickerOptions() {
            return {
                firstDayOfWeek: 1,
            }
        },

        rules() {
            const rules = {
                actorType: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: this.$t('form.label.slot'),
                        }),
                        trigger: 'blur',
                    },
                ],
                pinCode: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: this.$t('form.label.pinCodeForDriver'),
                        }),
                        trigger: 'blur',
                    },
                    {
                        pattern: /^[0-9]{6}$/,
                        message: this.$t('form.validation.minNumberDigits', {
                            name: this.$t('form.label.pinCodeForDriver'),
                            number: 6,
                        }),
                        trigger: 'blur,change',
                    },
                ],
                recipient: [
                    {
                        required: true,
                        message: this.$t(
                            'form.validation.selectRequiredOrEnter',
                            {
                                name: this.$t('form.label.recipientName'),
                            }
                        ),
                        trigger: 'blur',
                    },
                ],
                recipientCompany: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: this.$t('form.label.recipientCompany'),
                        }),
                        trigger: 'blur',
                    },
                ],
                recipientPhone: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: this.$t('form.label.recipientPhone'),
                        }),
                        trigger: 'blur',
                    },
                ],
                unloadingArea: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: this.$t('form.label.unloadingArea'),
                        }),
                        trigger: 'blur',
                    },
                ],
                inGate: [
                    {
                        required: true,
                        message: this.$t('form.validation.selectRequired', {
                            name: this.$t('form.label.entranceGate'),
                        }),
                        trigger: 'blur',
                    },
                ],
                outGate: [
                    {
                        required: true,
                        message: this.$t('form.validation.selectRequired', {
                            name: this.$t('form.label.exitGate'),
                        }),
                        trigger: 'blur',
                    },
                ],
                dateTimeRange: [
                    {
                        validator: (rule, value, callback) => {
                            if (value === '') {
                                const message = this.$t(
                                    'form.validation.selectRequired',
                                    {
                                        name: this.$t(
                                            'form.label.dateTimeRange'
                                        ),
                                    }
                                )
                                callback(new Error(message))
                            } else {
                                const fromTime = DateTime.fromISO(
                                    value[0].toISOString()
                                )
                                const toTime = DateTime.fromISO(
                                    value[1].toISOString()
                                )
                                const diff = toTime.diff(fromTime, 'minutes')
                                const remaining =
                                    diff.minutes %
                                    this.selectedContainer.MinimumBookingTime

                                if (remaining) {
                                    callback(
                                        new Error(
                                            `Please select ${
                                                this.selectedContainer
                                                    .MinimumBookingTime
                                            } blocks.`
                                        )
                                    )
                                }
                            }
                            callback()
                        },
                        trigger: 'blur',
                    },
                ],
                email: [
                    {
                        type: 'email',
                        message: this.$t('form.validation.valid', {
                            name: this.$t('form.label.email'),
                        }),
                        trigger: 'blur,change',
                    },
                ],
                estimatedArrival: [
                    {
                        required: true,
                        message: this.$t('form.validation.selectRequired', {
                            name: 'date',
                        }),
                        trigger: 'blur',
                    },
                ],
            }

            Vue.nextTick(() => this.$refs.form.clearValidate())

            return rules
        },
    },

    methods: {
        isLockedChange(value) {
            if (
                this.permissions.includes('SUPER_USER') ||
                this.actor.LockedByUserID === this.$auth.user().UserID
            ) {
                this.showUpdateBtn = true
                this.readonly = false
            } else {
                this.form.isLocked = !value
            }
        },
        reset() {
            if (this.$refs.form) {
                this.$refs.form.resetFields()
            }

            this.actor = ''
            this.form.actorType = 'SLOT'
            this.form.pinCode = ''
            this.form.unloadingArea = ''
            this.form.phone = ''
            ;(this.form.email = ''), (this.form.isExpressDelivery = false)
            this.form.requestedResources = []
            this.form.gates = []
            this.packageGroups = []
            this.orderedItems = []
            this.form.dateTimeRange = this.initialDateTimeRange()

            this.editing = false
            this.readonly = false
        },

        close() {
            this.reset()
            this.$emit('reset')
            this.showUpdateBtn = true
            this.readonly = false
            this.form.isLocked = false
        },

        containerSelect(container) {
            this.fetchMyLocInventory(container)
            this.fetchSuppliers(container)
            this.getContainerBlcData(container)
        },

        async submit() {
            this.loading = true

            try {
                await this.$refs.form.validate()

                if (!this.isStock && !this.hasPackageItems) {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: this.$i18n.i18next.t(
                            'message.error.noPackages'
                        ),
                    })

                    this.loading = false

                    return
                }

                if (this.isStock && !this.orderedItems.length) {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: this.$i18n.i18next.t('message.error.noOrders'),
                    })

                    this.loading = false

                    return
                }

                if (this.isSlot) {
                    let isOverlapped = await this.isScheduleOverlappedWithUnloadingArea(
                        this.form.unloadingArea,
                        this.form.dateTimeRange,
                        this.actor
                    )

                    if (
                        this.selectedContainer.IsBookingCanOverlapped &&
                        isOverlapped
                    ) {
                        await this.$confirm(
                            this.$i18n.i18next.t(
                                'message.warning.bookingConflicting'
                            ),
                            'Warning',
                            {
                                confirmButtonText: this.$i18n.i18next.t(
                                    'button.text.confirm'
                                ),
                                cancelButtonText: this.$i18n.i18next.t(
                                    'button.text.cancel'
                                ),
                                type: 'warning',
                            }
                        )
                    } else if (isOverlapped) {
                        this.$message({
                            type: 'error',
                            showClose: true,
                            message: this.$i18n.i18next.t(
                                'message.error.bookingConflicting'
                            ),
                        })

                        this.loading = false

                        return
                    }
                }

                if (this.isStock) {
                    let dateTimeFormat = process.env.VUE_APP_DATETIME_FORMAT
                    const estimatedArrival = DateTime.fromISO(
                        moment(this.form.estimatedArrival)
                            .endOf('day')
                            .subtract(1, 'milliseconds')
                            .toDate()
                            .toISOString()
                    ).toFormat(dateTimeFormat)

                    await this.$http.post(
                        `/MyLocInventory/${
                            this.form.container.ContainerID
                        }/Order`,
                        {
                            DestinationContainerID: this.form.container
                                .ContainerID,
                            RequestedDeliveryDate: estimatedArrival,
                            BlcCheckpointID: this.containerBlcData.CheckpointID,
                            BlcUnloadingAreaID: this.containerBlcData
                                .UnloadingAreaID,
                            BlcContainerID: this.containerBlcData.ContainerID,
                            IsExpress: this.form.isExpressDelivery,
                            Packages: this.orderedItems.map(item => ({
                                PackageID: item.MylocPackageID,
                                PackageType: item.PackageType,
                            })),
                        }
                    )
                    this.fetchMyLocInventory()
                } else if (this.isBlc) {
                    let blcContainerID = this.containerBlcData.ContainerID

                    if (!blcContainerID) {
                        this.$message({
                            type: 'error',
                            showClose: true,
                            message: this.$i18n.i18next.t(
                                'message.error.noBLC'
                            ),
                        })

                        this.loading = false

                        return
                    }

                    await this.$http.post(
                        `/BLC/${blcContainerID}/Notification`,
                        this.blcPayload
                    )
                } else {
                    let method = this.editing ? 'put' : 'post'
                    let url = this.editing
                        ? `Actor/${this.actor.ActorID}`
                        : 'Actor'

                    await this.$http[method](url, this.actorPayload)
                }

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.editing
                        ? this.$i18n.i18next.t('message.success.updated', {
                              section: this.$i18n.i18next.t('text.booking'),
                          })
                        : this.$i18n.i18next.t('message.success.created', {
                              section: this.$i18n.i18next.t('text.booking'),
                          }),
                })

                Events.$emit('booking-create-success', this.getResponse())

                const range = this.form.dateTimeRange

                // this.close()

                if (this.editing) {
                    this.notifyActorUpdate()
                }

                // Events.$emit('actor-created') // TODO
                this.notifyRangeChanged(range)
            } catch (e) {
                console.error('[BookingCreate error:]', e)
                if (e === false || e === 'cancel') {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: `${e.response.data.Message ||
                            e.response.data}.`,
                    })
                }
            }

            this.loading = false
        },

        fillFormActor(actor) {
            this.form.allowApp = actor.MAIsEnabled
            this.form.actorType = actor.ActorType || ''
            this.form.firstName = actor.FirstName || ''
            this.form.lastName = actor.LastName || ''
            this.form.company = actor.Company || ''
            this.form.email = actor.Email || ''
            this.form.phone = actor.Phone || ''
            this.form.pinCode = actor.PinCode || ''
            this.form.plateNo = actor.PlateNo || ''
            this.form.maxUsageTimes = actor.MaxUsageTimes || 1
            this.form.comment = actor.Comment || ''
            this.form.unloadingTimeInMins = actor.UnloadingTimeInMins || 0
            this.packageGroups = actor.PackageGroups
            this.form.isLocked = actor.IsLocked
            if (this.form.isLocked) {
                this.showUpdateBtn = false
                this.readonly = true
            } else {
                this.showUpdateBtn = true
                this.readonly = false
            }
            console.log(
                '[BookingCreate] User permissions: ',
                'isSuperUser: ',
                this.permissions.includes('SUPER_USER'),
                'isSameUser: ',
                actor.LockedByUserID === this.$auth.user().UserID,
                'actor.isLocked: ',
                actor.IsLocked
            )
        },

        fillFormAccessSet(accessSet) {
            accessSet.Schedules.forEach(schedule => {
                schedule.ScheduleParts.forEach(part => {
                    let direction = part.Direction.toLowerCase()

                    this.form.unloadingArea =
                        _.find(this.activeUnloadingAreas, {
                            UnloadingAreaID: accessSet['UnloadingAreaID'],
                        }) || ''

                    this.form[`${direction}Gate`] =
                        _.find(this[`${direction}Gates`], {
                            CheckpointID: accessSet['CheckPointID'],
                        }) || ''

                    this.form.dateTimeRange = [
                        DateTime.fromISO(part.ValidFrom).toJSDate(),
                        DateTime.fromISO(part.ValidTo).toJSDate(),
                    ]

                    this.form.preFlex = part.PreFlex
                    this.form.recipient = accessSet.RecipientName
                    this.form.recipientCompany = accessSet.RecipientCompany
                    this.form.recipientPhone = accessSet.RecipientPhone
                    this.form.requestedResources = accessSet.RequestedResources
                })
            })
        },

        notifyRangeChanged(range) {
            let start = DateTime.fromISO(range[0].toISOString())
                .startOf('day')
                .toJSDate()

            let end = DateTime.fromISO(range[1].toISOString())
                .endOf('day')
                .toJSDate()

            Events.$emit('date-range-changed', [start, end])
        },

        notifyActorUpdate(actor = null) {
            Events.$emit('actor-updated', actor)
        },

        addPackage() {
            this.packageGroups.push({
                id: _.uniqueId(),
                Reference: '',
                OrderNo: '',
                SupplierName: '',
                SupplierID: '',
                PackageItems: [
                    {
                        Height: 0,
                        Width: 0,
                        Length: 0,
                        Weight: 0,
                        PackageType: '',
                        Description: '',
                        TrackingReference: '',
                        CustomReference: '',
                    },
                ],
            })
        },

        async deletePackage(blcPackage) {
            try {
                await this.$confirm(
                    this.$i18n.i18next.t('message.warning.delete', {
                        section: 'package',
                    }),
                    'Warning',
                    {
                        confirmButtonText: this.$i18n.i18next.t(
                            'button.text.confirm'
                        ),
                        cancelButtonText: this.$i18n.i18next.t(
                            'button.text.cancel'
                        ),
                        type: 'warning',
                    }
                )

                if (blcPackage.PackageGroupID) {
                    this.$http.delete(
                        `/Actor/${this.actor.ActorID}/PackageGroup/${
                            blcPackage.PackageGroupID
                        }`
                    )
                }

                let index = this.packageGroups.indexOf(blcPackage)

                this.packageGroups.splice(index, 1)
            } catch (e) {
                //
            }
        },

        async fetchMyLocInventory(container = null) {
            container = container || this.selectedContainer

            try {
                const { data } = await this.$http.get(
                    `/MyLocInventory/${container.ContainerID}`
                )

                this.inventoryItems = data
            } catch (e) {
                this.inventoryItems = []
            }
        },

        initialDateTimeRange() {
            const bookingTime = this.selectedContainer.MinimumBookingTime
            const roundedUp =
                Math.ceil(DateTime.local().minute / bookingTime) * bookingTime
            let dateTime = DateTime.local().set({
                minute: roundedUp,
                second: 0,
            })

            let dateTimeFrom = dateTime.toJSDate()
            let dateTimeTo = dateTime.plus({ minutes: bookingTime }).toJSDate()

            return [dateTimeFrom, dateTimeTo]
        },

        async fetchSuppliers(container = null) {
            this.loading = true

            container = container || this.selectedContainer

            if (container) {
                let { data } = await this.$http.get(
                    `Container/${container.ContainerID}/Supplier`
                )

                this.suppliers = data
            }

            this.loading = false
        },
        getResponse() {
            if (this.form.actorType === 'BLC') {
                return [
                    DateTime.fromISO(this.form.estimatedArrival.toISOString())
                        .startOf('week')
                        .toJSDate(),
                    DateTime.fromISO(this.form.estimatedArrival.toISOString())
                        .endOf('week')
                        .toJSDate(),
                ]
            } else {
                return [
                    DateTime.fromISO(this.form.dateTimeRange[0].toISOString())
                        .startOf('week')
                        .toJSDate(),
                    DateTime.fromISO(this.form.dateTimeRange[1].toISOString())
                        .endOf('week')
                        .toJSDate(),
                ]
            }
        },
    },
}
</script>
