<template>
    <div class="el-cal-item" style="background: #81c784">
        <div class="el-cal-item__title flex justify-between">
            <div
                class="el-cal-item__title-text"
                v-if="timeSlot.start && timeSlot.end"
            >
                {{ timeSlot.start.format('HH:mm') }} -
                {{ timeSlot.end.format('HH:mm') }}
            </div>

            <i
                class="material-icons mr-3 text-base"
                @click.prevent="$emit('delete', timeSlot)"
            >clear</i
            >
        </div>
    </div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
    name: 'GlobalScheduleEvent',

    props: ['timeSlot'],
})
</script>
