<template>
    <div class="el-main-content el-main-content--full-height">
        <div class="el-grid-card el-grid-card--no-style calendar-main-wrapper">
            <full-calendar
                ref="calendar"
                :events="timeSlots"
                :header="header"
                :config="config"
                @event-created="submitSchedulePart"
                @event-drop="submitSchedulePart"
                @event-resize="submitSchedulePart"
                @event-render="renderTimeSlot"
                class="no-highlight-day"
            >
            </full-calendar>
        </div>
        <div
            class="el-form-card el-form-card--right"
            :class="{ 'el-form-card--collapse': collapse }"
        >
            <div class="el-form-card__header">
                <div
                    class="el-form-card__header-left-icon"
                    @click="collapse = !collapse"
                >
                    <img
                        class="inline-block mt-2"
                        src="/images/icon/global_schedule.png"
                    />
                </div>
                <div class="el-form-card__header-text">
                    {{ $t('title.globalschedule') }}
                </div>
                <div
                    class="el-form-card__header-right-icon"
                    @click="collapse = !collapse"
                >
                    <img src="/images/icon/minimize.png" />
                </div>
            </div>
            <div class="el-form-card__body">
                <div class="el-form-card__collapse-label">
                    {{ $t('title.globalschedule') }}
                </div>
                <el-form
                    class="dark-form"
                    label-position="top"
                    label-width="150px"
                    size="mini"
                    ref="form"
                    :model="scheduleForm"
                    :rules="rules"
                >
                    <el-row>
                        <div class="el-form-card__element-wrapper">
                            <el-form-item prop="Description">
                                <v-text-field
                                    id="scheduleName"
                                    :label="$t('form.label.scheduleName')"
                                    v-model="scheduleForm.Description"
                                    required
                                ></v-text-field>
                            </el-form-item>
                        </div>
                    </el-row>
                    <div
                        class="button-wrapper flex justify-between items-center"
                    >
                        <v-btn
                            round
                            color="primary"
                            @click="submitSchedule"
                            dark
                            :disabled="saving"
                        >
                            {{
                                editing
                                    ? $t('button.text.update')
                                    : $t('button.text.save')
                            }}
                        </v-btn>
                        <v-btn
                            round
                            color="dark"
                            @click="resetScheduleForm"
                            dark
                        >
                            {{ $t('form.button.cancel') }}
                        </v-btn>
                    </div>
                    <div
                        class="form-expanded-content form-expanded-content__form-element"
                        v-if="schedules.length"
                    >
                        <div
                            class="router-list-item"
                            v-for="schedule in schedules"
                            :key="schedule.ScheduleTemplateID"
                            :class="{
                                'router-list-item--selected':
                                    schedule.ScheduleTemplateID ==
                                    selectedSchedule.ScheduleTemplateID,
                            }"
                        >
                            <div class="router-list-item__radio">
                                <div class="el-radio-list">
                                    <v-radio-group v-model="selectedSchedule">
                                        <v-radio
                                            color="success"
                                            :value="schedule"
                                            hide-details
                                        >
                                        </v-radio>
                                    </v-radio-group>
                                </div>
                            </div>
                            <div>
                                <div class="router-list-item__details">
                                    <div class="router-list-item__details">
                                        <div
                                            class="el-row router-list-item__details-lg-row"
                                        >
                                            <div
                                                class="router-list-item__details-value"
                                            >
                                                {{ schedule.Description }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="router-list-item__actions"
                                    v-if="
                                        permissions.includes(
                                            'SCHEDULETEMPLATE_WRITE'
                                        )
                                    "
                                >
                                    <div
                                        class="router-list-item__actions-delete"
                                        @click="
                                            () => {
                                                deleteSchedule(schedule)
                                            }
                                        "
                                    ></div>
                                    <div
                                        class="router-list-item__actions-edit"
                                        @click="
                                            () => {
                                                editSchedule(schedule)
                                            }
                                        "
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-form>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import { DateTime } from 'luxon'
import { mapGetters } from 'vuex'
import FullCalendar from './../../components/Calender'
import GlobalScheduleEvent from './GlobalScheduleEvent'

export default {
    name: 'global-schedule',

    components: {
        FullCalendar,
    },

    data() {
        return {
            saving: false,
            editing: false,
            collapse: false,
            schedules: [],
            selectedSchedule: {
                ScheduleTemplateID: '',
                ScheduleParts: [],
            },
            scheduleForm: {
                Description: '',
            },
        }
    },

    computed: {
        ...mapGetters(['selectedLanguage', 'selectedContainer', 'permissions']),

        header() {
            return {
                left: '',
                center: '',
                right: '',
            }
        },

        config() {
            let scrollTime = '06:00:00'
            return {
                locale: this.selectedLanguage.isoName.substring(0, 2),
                scrollTime,
                firstDay: 1,
                slotLabelFormat: 'HH:mm',
                timezone: 'local',
                allDaySlot: false,
                eventOverlap: false,
                defaultView: 'agendaSevenDays',
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                views: {
                    agendaSevenDays: {
                        type: 'agendaWeek',
                    },
                },
                columnHeaderHtml(m) {
                    return `
                        <div>
                            <span class="calendar__day-text">${m.format(
                                'ddd'
                            )}</span>
                        </div>
                    `
                },
            }
        },

        rules() {
            const rules = {
                Description: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: 'Schedule name',
                        }),
                        trigger: 'change',
                    },
                ],
            }

            Vue.nextTick(() => this.$refs.form.clearValidate())

            return rules
        },

        timeSlots() {
            if (!this.selectedSchedule) return []

            return this.selectedSchedule.ScheduleParts.map(part => {
                return {
                    ...part,
                    start: this.dateFromWeekStart(part.WeekStart),
                    end: this.dateFromWeekStart(part.WeekStop),
                }
            })
        },
    },

    watch: {
        selectedLanguage() {
            Vue.nextTick(() => {
                this.$refs.calendar.$emit('rerender-events')

                $('#calendar').fullCalendar(
                    'option',
                    'locale',
                    this.selectedLanguage.isoName.substring(0, 2)
                )
            })
        },
    },

    created() {
        if (!this.permissions.includes('SCHEDULETEMPLATE_VIEW')) {
            this.$router.replace({ name: 'dashboard' })
        }

        this.fetchSchedules()
    },

    methods: {
        resetScheduleForm() {
            this.$refs.form.clearValidate()

            this.editing = false

            this.scheduleForm = {
                Description: '',
            }
        },

        editSchedule(schedule) {
            this.editing = true
            this.scheduleForm = Object.assign({}, schedule)
        },

        renderTimeSlot(timeSlot, element) {
            let instance = new GlobalScheduleEvent({
                propsData: {
                    timeSlot,
                },
            })
            instance.$on('delete', this.deleteSchedulePart)

            instance.$mount()
            element
                .find('.fc-content')
                .html(instance.$el)
                .focus()

            element.eq(0).focus()
        },

        async deleteSchedulePart(schedulePart) {
            try {
                await this.$confirm(
                    this.$i18n.i18next.t('message.warning.delete', {
                        section: 'Part',
                    }),
                    'Warning',
                    {
                        confirmButtonText: this.$i18n.i18next.t(
                            'button.text.confirm'
                        ),
                        cancelButtonText: this.$i18n.i18next.t(
                            'button.text.cancel'
                        ),
                        type: 'warning',
                    }
                )

                await this.$http.delete(
                    `/SchedulePartTemplate/${
                        schedulePart.SchedulePartTemplateID
                    }`
                )
                await this.fetchSchedules()

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.$i18n.i18next.t('message.success.deleted', {
                        section: 'Part',
                    }),
                })
            } catch (e) {
                if (e === 'cancel') {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: this.$i18n.i18next.t('message.error.general'),
                    })
                }
            }
        },

        async deleteSchedule(schedule) {
            try {
                await this.$confirm(
                    this.$i18n.i18next.t('message.warning.delete', {
                        section: 'Schedule',
                    }),
                    'Warning',
                    {
                        confirmButtonText: this.$i18n.i18next.t(
                            'button.text.confirm'
                        ),
                        cancelButtonText: this.$i18n.i18next.t(
                            'button.text.cancel'
                        ),
                        type: 'warning',
                    }
                )

                await this.$http.delete(
                    `/ScheduleTemplate/${schedule.ScheduleTemplateID}`
                )
                await this.fetchSchedules()

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.$i18n.i18next.t('message.success.deleted', {
                        section: 'Schedule',
                    }),
                })
            } catch (e) {
                if (e === 'cancel') {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: this.$i18n.i18next.t('message.error.general'),
                    })
                }
            }
        },

        async submitSchedule() {
            this.saving = true

            try {
                await this.$refs.form.validate()

                let method = this.editing ? 'put' : 'post'
                let url = this.editing
                    ? `/ScheduleTemplate/${
                          this.scheduleForm.ScheduleTemplateID
                      }`
                    : `/Container/${
                          this.selectedContainer.ContainerID
                      }/ScheduleTemplate`

                await this.$http[method](url, {
                    Description: this.scheduleForm.Description,
                })

                this.fetchSchedules()
                this.resetScheduleForm()

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.editing
                        ? this.$i18n.i18next.t('message.success.updated', {
                              section: 'Schedule',
                          })
                        : this.$i18n.i18next.t('message.success.created', {
                              section: 'Schedule',
                          }),
                })
            } catch (e) {
                if (e === false || e === 'cancel') {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: `${e.response.data}.`,
                    })
                }
            }

            this.saving = false
            this.editing = false
        },

        async submitSchedulePart(event) {
            if (!this.selectedSchedule.ScheduleTemplateID) {
                this.$message({
                    type: 'error',
                    showClose: true,
                    message:
                        'Please create or select a schedule name before creating a time slot.',
                })

                return
            }

            const partId = event.SchedulePartTemplateID
            const method = partId ? 'put' : 'post'
            const url = partId
                ? `/SchedulePartTemplate/${partId}`
                : `/ScheduleTemplate/${
                      this.selectedSchedule.ScheduleTemplateID
                  }/SchedulePartTemplate`

            try {
                const startDuration = this.durationFromWeekStartInSeconds(
                    event.start
                )

                const endOfDay = event.start.endOf('day')
                const endDuration = this.durationFromWeekStartInSeconds(
                    event.end.isSameOrAfter(endOfDay) ? endOfDay : event.end
                )

                const validateUrl = `/ScheduleTemplate/${
                    this.selectedSchedule.ScheduleTemplateID
                }/Start/${startDuration}/End/${endDuration}`

                partId
                    ? await this.$http.get(`${validateUrl}/${partId}`)
                    : await this.$http.get(validateUrl)

                await this.$http[method](url, {
                    Start: startDuration,
                    Stop: endDuration,
                    ValidFrom: null,
                    ValidTo: null,
                    IsSimpleSchedule: false,
                })

                this.fetchSchedules()

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.$i18n.i18next.t(
                        `message.success.${partId ? 'updated' : 'created'}`,
                        { section: 'Time slot' }
                    ),
                })
            } catch (e) {
                if (e === false || e === 'cancel') {
                    //
                } else if (e.response.status === 400) {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: 'Schedule part is overlapping.',
                    })
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: `${e.response.data}.`,
                    })
                }
            }
        },

        async fetchSchedules() {
            const { data } = await this.$http.get(
                `Container/${
                    this.selectedContainer.ContainerID
                }/ScheduleTemplate`
            )

            this.schedules = data

            const scheduleTemplateId =
                this.selectedSchedule &&
                this.selectedSchedule.ScheduleTemplateID
            const scheduleTemplate = this.schedules.find(
                item => item.ScheduleTemplateID === scheduleTemplateId
            )

            if (scheduleTemplate) {
                this.selectedSchedule = scheduleTemplate
            } else {
                this.selectedSchedule = data.length
                    ? data[0]
                    : (this.selectedSchedule = {
                          ScheduleTemplateID: '',
                          ScheduleParts: [],
                      })
            }
        },

        durationFromWeekStartInSeconds(date) {
            const start = DateTime.fromISO(date.toISOString()).startOf('week')
            const end = DateTime.fromISO(date.toISOString())

            if (end.hasSame(start, 'seconds')) {
                return 0
            }

            return parseInt(end.diff(start, 'seconds').toObject().seconds)
        },

        dateFromWeekStart(seconds) {
            const start = DateTime.local().startOf('week')
            const end = start.plus({ seconds })

            return end.toJSDate()
        },
    },
}
</script>
