.el {
  &-btn {
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: $--font-size-small;
    font-weight: 500;
    color: $--color-white;
    border-radius: 50px !important;
    border: 0;
    padding: 0;

    &--default {
      background-color: $--cta-green !important;
    }

    &--dark {
      background-color: $--cta-dark !important;
    }
  }

}

.btn {
  margin: 0;
  width: 130px;
  height: 30px;
  border-radius: 50px !important;
  font-size: $--font-size-small;
  font-weight: 500;
  color: $--color-white;
  &.primary {
    background-color: $--cta-green !important;
  }
}

.password-form-group {
  .btn-toggle {
    .btn:not(:last-child) {
      border-color: $--darker-gray;
    }
    float: left;
    margin-top: 18px;
    .btn {
      border-radius: 0 !important;
      background-color: $--cta-dark !important;
      opacity: 1;
      color: $--color-white;
      text-transform: uppercase;
    }
  }
}

.btn.btn--disabled:not(.btn--icon):not(.btn--flat) {
    background-color: $--disabled-fill-base;
}
