.fc-view.fc-agendaDay-view.fc-agenda-view {
  .fc-axis.fc-widget-header {
    background: transparent !important;
    width: 28px !important;
  }
  .fc-widget-header{
    height: 29px !important;
    th {
      background: #6b7990;
      font-size: 11px;
      font-weight: 500;
      color: #fff;
      text-align: left;
      line-height: 29px;
      border-right: 1px solid #e6e9ee;
      &:last-child {
        border-right: 0;
      }
    }
    thead {
      td {
        background: #6b7990;
      }
    }
  }
}

.fc-unthemed th {
  border-color: transparent;
}

.fc-head-container.fc-widget-header {
  border: 0;
}

.fc-slats {
  .fc-axis.fc-time.fc-widget-content {
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    border: 0 !important;
  }

  tr:nth-child(even) {
    .fc-axis.fc-time.fc-widget-content {
      background: #384252;
    }
    td  {
      background: #fff;
      border: 0 !important;
      border-right: 1px solid #e6e9ee;
      &:last-child {
        border-right: 0 !important;
      }
    }
  }

  tr:nth-child(odd) {
    .fc-axis.fc-time.fc-widget-content {
      background: #323b49;
    }
    td {
      background: #f1f3f7;
      border: 0 !important;
      border-right: 1px solid #e6e9ee;
      &:last-child {
        border-right: 0 !important;
      }
    }
  }
}

.fc-content-skeleton {
  table {
    tbody {
      tr {
        td {
          border-right: 1px solid #e6e9ee !important;
          &:last-child {
            //border-right: 0 !important;
          }
        }
      }
    }
  }
}

th.fc-resource-cell {
  text-align: left;
  padding-left: 10px;
}

.fc-unthemed td.fc-today {
  background: transparent;
}

.fc-time-grid .fc-slats {
  z-index: -1;
}

.calendar-main-wrapper {
  margin-right: 29px;
}

.el-cal-item-container {
  height: 100%;
  position: relative;
}

.el-cal-item {
  width: 100%;
  display: block;
  padding: 5px 10px;
  height: 100%;
  position: relative;
  overflow: hidden;
  &--small {
    height: 15px;
    overflow: hidden;
    position: relative;
    .el-cal-item__title-text {
      text-align: center;
    }
    .el-cal-item__time-slot {
      position: absolute;
      top: 6px;
      left: 10px;
    }
  }
  &__time-slot {
    font-size: 10px;
    color: #323b49;
  }
  &__title {

  }
  &__title-text {
    font-size: 12px;
    color: #FFFFFF;
  }
  &__body {
    color: #FFFFFF;
  }
  &__footer {
    position: absolute;
    bottom: 15px;
    width:80%;
  }
  &__title-icon-list {
    position: absolute;
    top: 0;
    right: 30px;
  }
  &__resources-icon-list {
    padding-top: 10px;
    .resources-icon-list {
      .resource-icon {
        &__transporter {
          background: url("/images/icon/transporter_selected.png") no-repeat center center;
        }
        &__truck {
          background: url("/images/icon/truck_selected.png") no-repeat center center;
        }
        &__team {
          background: url("/images/icon/team_selected.png") no-repeat center center;
        }
        &__crane {
          background: url("/images/icon/crane_selected.png") no-repeat center center;
        }
        &__tools {
          background: url("/images/icon/tools_selected.png") no-repeat center center;
        }
      }
    }

    &--vertical {
      position: absolute;
      top: 20px;
      right: 30px;
      margin: 0;
      .resources-icon-list {
        .resource-icon {
          float: none;
          width: 20px !important;
          margin: 0 0 5px 0 !important;
        }
      }
    }
  }

  &__counter-with-icon {
    padding: 0;
    margin: 0;
  }

  &__counter-with-icon-item {
    display: inline-block;
    min-width: 45px;
    line-height: 18px;
    height: 18px;
    text-align: right;
    color: #323b49;
    font-size: 16px;
    &--green {
      background: url("/images/icon/express_selected.png") no-repeat left center;
    }

    &--white {
      background: url("/images/icon/truck.png") no-repeat left center;
      min-width: 37px;
      margin-left: 15px;
    }
  }
}

.fc-event {
  background: transparent;
   //border: 0 !important;
  border-radius: 4px !important;
}

.unloading-area {
  color: #fff;
  height: 23px;
  margin: 0px 20.5px 5px 14.5px;
  padding: 2px 0px 0px 10px;
  width: 100%;
  cursor: pointer;
}

.week-number {
  float: right;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: -14px;
  right: 0;
  width: 100px;
  text-align: right;
  .week {
    &__text {
      float: left;
      width: 100%;
      line-height: 16px;
    }
    &__number {
      float: left;
      width: 100%;
      line-height: 32px;
      font-size: 32px;
    }
  }
}

.fc-head-container.fc-widget-header .fc-row.fc-widget-header tr .fc-day-header.fc-widget-header.fc-today {
  background: #ddd;
  color: #323b49;
}

.fc-event .fc-resizer {
  position: absolute;
  z-index: 4;
  bottom: 20px;
  display: block;
  width: 20px;
  border: 1px solid #fff;
  right: 50%;
}

hr.fc-divider.fc-widget-header {
  display: none;
}

.fc-row.fc-week.fc-widget-content {
  tr {
    td {
      background: $--color-white;
    }
    td:first-child {
      background: #323b49;
      color: $--color-white;
      text-transform: capitalize;
    }
  }
}

.fc-head-container.fc-widget-header {
  .fc-row.fc-widget-header {
    tr {
      .fc-axis.fc-widget-header {
        background: transparent;
        color: #323b49;
        position: relative;
      }
      .fc-day-header.fc-widget-header {
        background: #384252;
        color: $--color-white;
        text-transform: uppercase;
        height: 60px;
        .calendar {
          &__day-text {
            font-weight: 400;
            width: 100%;
            float: left;
            text-align: left;
            padding-left: 10px;
            line-height: 14px;
            margin-top: 8px;
          }
          &__day-number {
            font-size: 32px;
            float: left;
            font-weight: 400;
            margin-top: 2px;
            line-height: 32px;
            padding-left: 10px;
          }
        }
      }
    }
  }
}

.fc-row.fc-week.fc-widget-content {
  .fc-content-skeleton {
    tr td:first-child {
      background: transparent;
    }
  }
}

.fc-view.fc-agendaWeekDays-view.fc-agenda-view {
  .fc-row.fc-widget-header {
    tr {
      .fc-axis.fc-widget-header {
        background: transparent;
        color: #323b49;
        position: relative;
      }
      .fc-day-header.fc-widget-header.fc-past {
        background: #384252;
        color: $--color-white;
        text-transform: uppercase;
        height: 30px;
        line-height: 30px;
      }

      .fc-day-header.fc-widget-header.fc-today {
        background: #384252;
        color: $--color-white;
        text-transform: uppercase;
        height: 30px;
        line-height: 30px;
      }

      .fc-day-header.fc-widget-header {
        background: #384252;
        color: $--color-white;
        text-transform: uppercase;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}

.fc-event {
  margin-bottom: 2px;
}

.fc-event__milk-run {
  background: #FFFFFF !important;
  .el-cal-item {
    &__title-text {
      color: #323b49;
    }
    &__body {
      color: #323b49;
    }
  }
}

.fc-event__notification {
  background: #FFFFFF;
  border: 0 !important;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
  width: 75px;
  .el-cal-item {
    width: auto;
  }
  .el-cal-item__title-text {
    text-align: center;
  }
  .fc-event__notification-number1 {
    display: inline-block;
    width: auto;
    font-size: 34px;
    line-height: 34px;
    color: #67c23a;
    font-weight: 400;
  }

  .fc-event__notification-number2 {
    display: inline-block;
    width: auto;
    font-size: 16px;
    line-height: 16px;
    margin-left: -4px;
    margin-top: 17px;
    padding-bottom: 5px;
    color: #323b49;
    font-weight: 400;
  }

  .el-cal-item {
    &__title-text {
      color: #00b4ff;
    }
    &__body {
      color: #323b49;
    }
  }
}

.fe-event__whiteBg {
  .el-cal-item {
    &__resources-icon-list {
      padding-top: 10px;
      .resources-icon-list {
        .resource-icon {
          &__transporter {
            background: url("/images/icon/transporter.png") no-repeat center center;
          }
          &__truck {
            background: url("/images/icon/truck.png") no-repeat center center;
          }
          &__team {
            background: url("/images/icon/team.png") no-repeat center center;
          }
          &__crane {
            background: url("/images/icon/crane.png") no-repeat center center;
          }
          &__tools {
            background: url("/images/icon/tools.png") no-repeat center center;
          }
        }
      }
    }
  }
}

.route-planner-cal-wrapper {
  .fc-scroller.fc-time-grid-container {
    height: 60vh !important;
  }
  .el-grid-card__check-box-row {
    margin-top: 15px;
  }
}

.highlight-day {
  .fc-today {
    background: rgba(0, 0, 0, 0.1) !important;
  }
}

.no-highlight-day {
  .fc-head-container.fc-widget-header .fc-row.fc-widget-header tr .fc-day-header.fc-widget-header.fc-today {
    background: #384252;

    .calendar__day-text {
      color: $--color-white;
    }
  }
}
