.el-checkbox-group {
  .input-group.input-group--selection-controls {
    display: inline-block !important;
    width: auto;
    min-width: 113px;
    padding-right: 10px;

    .icon--selection-control {
      color: $--background-color;
    }

    &.input-group--active {
      .icon--selection-control {
        color: $--cta-green;
      }
    }
  }
  .input-group:not(.input-group--error) label {
    margin-top: -2px;
    text-transform: uppercase;
    color: $--input-text-color;
  }
}

.dark-form {
  .el-checkbox-list {
    .input-group.input-group--selection-controls {
      margin-left: -2px;
      .icon--selection-control {
        color: $--cta-dark;
      }

      &.input-group--active {
        .icon--selection-control {
          color: $--cta-green;
        }
      }
    }

    .input-group:not(.input-group--error) label {
      margin-top: -2px;
      color: $--input-text-color;
      max-width: 100% !important;
    }

    &--top-gap {
      padding-top: 15px;
    }

    &--bottom-gap {
      padding-bottom: 15px;
    }
  }
}

.is-center {
  .el-checkbox-list {
    width: 20px;
    margin: auto;
  }
}