.el-collapse {
  border: none;
  &-item {
    margin-bottom: 1px;
    &__header {
      border: none;
      height: 36px;

      &.is-active {
        .el-collapse-item {
          &__header-content {
            background: #fee192;
          }

          &__header-text {
            color: $--background-dark;
          }

          &__header-icon-list {
            .resources-icon-list {
              .resource-icon {
                &__transporter {
                  background: url("/images/icon/transporter.png") no-repeat center center;
                }
                &__truck {
                  background: url("/images/icon/truck.png") no-repeat center center;
                }
                &__team {
                  background: url("/images/icon/team.png") no-repeat center center;
                }
                &__crane {
                  background: url("/images/icon/crane.png") no-repeat center center;
                }
                &__tools {
                  background: url("/images/icon/tools.png") no-repeat center center;
                }
              }
            }
          }

          &__arrow {
            color: $--background-dark;
          }
        }
      }
    }
    &__header-content {
      background: $--item-select-gray;
      height: 36px;
      position: relative;
      padding-left: 30px;
      padding-right: 55px;
      &:before {
        content: '';
        display: block;
        background: url("/images/icon/collapse-title.png") no-repeat;
        width: 15px;
        height: 5px;
        position: absolute;
        left: 0;
        top: 15px;
      }
    }

    &__header-text {
      height: 36px;
      line-height: 36px;
      float: left;
      color: $--color-white;
      font-size: 11px;
    }

    &__header-icon-list {
      float: right;
      height: 36px;

      .resources-icon-list {
        padding-top: 10px;
        .resource-icon {
          &__transporter {
            background: url("/images/icon/transporter_selected.png") no-repeat center center;
          }
          &__truck {
            background: url("/images/icon/truck_selected.png") no-repeat center center;
          }
          &__team {
            background: url("/images/icon/team_selected.png") no-repeat center center;
          }
          &__crane {
            background: url("/images/icon/crane_selected.png") no-repeat center center;
          }
          &__tools {
            background: url("/images/icon/tools_selected.png") no-repeat center center;
          }
        }
      }
    }

    &__arrow {
      line-height: 36px;
      font-weight: 600;
      color: $--color-white;
      z-index: 1;
      position: relative;
      font-size: 18px;
      margin-right: 25px;
    }

    &__wrap {
      background: transparent;
      border: none;
    }

    &__content {
      padding-left: 30px;
      padding-bottom: 0;
      display: block;
    }

    &__content-item-list {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    &__content-item-no-item {
      background: #323b49;
      height: 36px;
      line-height: 36px;
      position: relative;
      padding-left: 30px;
      padding-right: 55px;
      color: $--color-white;
    }

    &__content-item {
      height: auto;
      line-height: 28px;
      padding-left: 30px;
      padding-right: 20px;
      background: #fffbd5;
      margin-bottom: 1px;
    }
  }
}

