.el-date-picker-dark {
  .el-input__inner {
    height: 30px;
    background: transparent;
    border-radius: 0;
    padding-left: 0;
    border: 0;
    border-bottom: 1px solid $--cta-dark;
    color: $--color-white;
  }

  &--lg {
    .el-input__inner {
      width: 270px;

    }
  }
  .el-input__prefix {
    display: none !important;
  }

  .el-input__suffix {
    display: none !important;
  }
}