.el-date-editor {
  &--datetimerange {
    width: 290px !important;
    border-radius: 0 !important;
    height: 30px !important;
    padding: 0 !important;
    border: 0;
    border-bottom: 1px solid;
    i {
      display: none !important;
    }

    .el-range-input {
      width: 111px !important;
      padding: 0 !important;
      color: $--input-text-color !important;
      font-size: $--font-size-base;
      text-align: left !important;
      height: 30px !important;
      float: left;
    }

    .el-range-separator {
      float: left;
      height: 30px !important;
      line-height: 30px !important;
      color: $--input-text-color !important;
      width: 20px;
    }
  }
}

.el-date-picker-light {
  border-bottom-color: $--background-color !important;
}
