.el {
  &-form-card {
    width: 350px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    background-color: $--darker-gray;
    margin-right: 29px;
    transition: width 0.2s;
    overflow: hidden;

    &__filter-panel {
      width: 250px;
      margin-right: 0;
      margin-left: 29px;

      .el-form-card__body {
        padding-bottom: 30px;
      }

      .input-group {
        padding-top: 0;
      }
    }

    &--right {
      margin-right: 0;
      &--cal {
        width: 268px;
        margin-right: 0;
      }
    }

    &__collapse-label {
      display: none;
    }

    &--collapse {
      width: 52px;
      cursor: pointer;

      .el-form-card {
        &__header {
          padding: 0 0 0 18px;
        }

        &__header-text {
          display: none !important;
        }

        &__header-right-icon {
          display: none !important;
        }

        &__collapse-label {
          display: block;
          font-size: 18px;
          color: $--color-white;
          writing-mode: vertical-lr;
          text-orientation: upright;
          margin-left: 13px;
        }

        &-mini {
          margin-left: 25px;
        }
      }


      .dark-form {
        display: none !important;
      }
    }

    .el-form-item {
      margin-bottom: 0;
    }

    &__form-action {
      padding: 30px 0 0 0;
    }

    &__header {
      height: 52px;
      line-height: 52px;
      padding: 0 50px 0 30px;
      color: $--color-white;
      font-weight: 600;
      font-size: $--font-size-large;
      text-transform: uppercase;
      background-color: $--item-select-gray;
      position: relative;
    }

    &__header-left-icon {
      float: left;
      margin-right: 10px;
      padding-top: 3px;
      height: 52px;
    }

    &__header-right-icon {
      position: absolute;
      right: 32px;
      top: 4px;
      cursor: pointer;
      height: 30px;
    }

    &__header-text {
      float: left;
    }

    &__header-center {
      text-align: center;
      padding: 0 40px 0 30px;
      margin: 0 15px;
    }

    &__body {
      padding: 30px 0 0 0;

      .input-group__details {
        min-height: auto;
      }

      hr.border {
        border-bottom: 0;
        border-color: $--item-select-gray;
      }

      .form-element-with-tooltip {
        padding-right: 25px;
        position: relative;

        span.tooltip--right {
          position: absolute;
          right: -27px;
          bottom: 4px;
          i {
            color: $--cta-green;
            font-size: 18px;
          }
        }
      }
      .form-expanded-content {
        background-color: $--item-select-gray;
        position: relative;
        padding: 30px 0;

        &:after {
          bottom: 100%;
          left: 40px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(136, 183, 213, 0);
          border-bottom-color: $--item-select-gray;
          border-width: 8px;
          margin-left: -8px;
        }

        &__form-element {
          padding: 30px;
          background: #323b49;

          &:after {
            display: none;
          }
        }
      }

      .button-wrapper {
        padding: 30px;
        //background-color: $--item-select-gray;
      }

      .form-element-datepicker {
        padding: 20px 0;

        .el-date-editor--datetimerange {
          background-color: transparent;
          border-color: $--cta-dark;
        }
      }
    }

    &__element-wrapper {
      padding: 0 30px;

      &--single {
        padding: 30px 30px 25px 30px;
      }

      &--expander {
        padding: 30px 30px 10px 30px;
      }

      &--with-tooltip {
        padding-right: 25px;
        position: relative;
      }
    }

    &__inner-title {
      font-size: $--font-size-large;
      color: $--cta-green;

      &--white {
        font-size: $--font-size-large;
        color: $--color-white;
      }
    }

    .input-group {
      &__input {
        input {
          font-size: $--font-size-large;
          color: $--input-text-color;
        }
      }
    }

    &__date-picker {
      width: 100% !important;
      padding-top: 15px;
      .el-input {
        &__inner {
          height: 30px;
          padding: 0;
          border-radius: 0;
          background: transparent;
          border: none;
          border-bottom: 1px solid $--cta-dark;
          font-size: $--font-size-large;
          color: $--input-text-color;
        }
        &__prefix {
          display: none;
        }

        &__icon {
          display: none;
        }
      }
    }

    &__package-wrapper {
      display: block;
      width: 100%;

      .el-form-card__package-item:nth-of-type(even)
      {
        background: #4d5c74;
      }
      .el-form-card__package-item:nth-of-type(odd)
      {
        background: $--gray;
      }
    }

    &__package-item {
      padding: 7px 0 10px 30px;
      margin-bottom: 1px;
    }

    &__package-item-text {
      float: left;
      padding-right: 70px;
      color: $--color-white;
      padding-top: 2px;
      width: 100%;
    }

    &__package-item-icons {
      float: left;
      padding-top: 4px;

      .resources-icon-list--white {
        .resource-icon {
          &__transporter {
            background: url("/images/icon/transporter_selected.png") no-repeat center center;
          }
          &__truck {
            background: url("/images/icon/truck_selected.png") no-repeat center center;
          }
          &__team {
            background: url("/images/icon/team_selected.png") no-repeat center center;
          }
          &__crane {
            background: url("/images/icon/crane_selected.png") no-repeat center center;
          }
          &__tools {
            background: url("/images/icon/tools_selected.png") no-repeat center center;
          }
        }
      }
    }

    &__package-title {
      color: $--color-white;
      font-size: 11px;
      position: relative;
      padding-bottom: 5px;
      height: 45px;

      &--express {
        height: 45px;
        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 29px;
          height: 16px;
          background: url('/images/icon/express-red.png') no-repeat;
          right: 30px;
          bottom: 6px;
        }
      }
    }

    &-mini {
      padding: 0 10px 25px 10px;
    }
  }
}

.el-form-item {
  &.is-success {
    .el-input__inner {
      border-color: #21252c !important;
    }
  }
}

.el-form-item__content {
    .el-table__body tr.current-row > td {
        background: #384252 !important;
    }
}

.theme--light{
    .el-light-search.input-group {
        .input-group__details {
            &:before {
                background-color: #e6e9ee !important;
            }

            &:after {
                background-color: #21252c !important;
            }
        }

        input {
            color: #989ea6 !important;
        }
    }

    .el-light-search.input-group.input-group--focused .input-group__append-icon {
        color: #21252c !important;
    }
}
.el-form-card__unOrder-list {
    color: #989ea6;
    padding: 0 10px 15px 15px;
}
