.el {
  &-grid-card {
    flex: auto;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    background-color: $--color-white;
    width: 500px;

    &__filter-section {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &__filter-section-right {
      flex: 1;
    }

    &__filter-section-left {
      padding-right: 10px;
    }

    .main-app {
      > div {
        min-height: auto;
      }
    }

    &__header {
      height: 52px;
      line-height: 52px;
      padding: 0 30px;
      color: $--cta-dark;
      font-weight: 600;
      font-size: $--font-size-large;
      border-bottom: 1px solid $--background-color;
      text-transform: uppercase;
    }

    &__body {
      padding: 20px 25px 30px 25px;

      .el-button-group {
        .el-button {
          height: 30px;
          padding: 7px 20px;
          &--primary {

          }
        }
      }

      .el-checkbox-group {
        margin-top: 10px;
      }

      .el-table {
        margin-top: 17px;
      }
    }

    .filter-block {
      flex: initial;
      &:before {
        display: none !important;
      }

      &:after {
        display: none !important;
      }
    }

    .btn-toggle {
      .btn {
        width: 60px;
        height: 30px;
        border-radius: 0 !important;
        background-color: $--cta-dark !important;
        color: $--color-white;
        font-size: $--font-size-small;
        font-weight: 500;
        text-transform: uppercase;
        opacity: 1;

        &:hover {
          background-color: $--cta-blue !important;
        }

        &:focus {
          background-color: $--cta-blue !important;
        }

        &--active {
          background-color: $--cta-blue !important;
        }
      }

      .btn:not(:last-child) {
        border-color: $--color-white;
      }

      .btn-calendar-sm {
        width: 30px;
        height: 30px;
        border: 1px solid #dbdfe6 !important;
        background: #FFF !important;
        color: #384252 !important;

        &:hover {
          border: 1px solid #dbdfe6 !important;
          background: #FFF !important;
          color: #384252 !important;
        }
      }

      .btn-calendar-auto {
        width: auto !important;
        height: 30px;
        border: 1px solid #dbdfe6 !important;
        background: #FFF !important;
        color: #384252 !important;

        &:hover {
          border: 1px solid #dbdfe6 !important;
          background: #FFF !important;
          color: #384252 !important;
        }
      }
    }
  }
}

.btn-modal-top {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
  background: #34c8b4 !important;
  color: $--color-white !important;
  opacity: 1;

  &:hover {
    background: #34c8b4 !important;
    color: $--color-white !important;
  }

  .btn-calendar-sm {
    background: #34c8b4 !important;
    color: $--color-white !important;
    opacity: 1;

    &:hover {
      background: #34c8b4 !important;
      color: $--color-white !important;
    }
  }
}

.el-grid-card {
  &__top-button.btn-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    background: #34c8b4 !important;
    color: $--color-white !important;
    opacity: 1;

    &:hover {
      background: #34c8b4 !important;
      color: $--color-white !important;
    }

    .btn-calendar-sm {
      background: #34c8b4 !important;
      color: $--color-white !important;
      opacity: 1;
      border: none  !important;
      width: auto;

      &:hover {
        background: #34c8b4 !important;
        color: $--color-white !important;
        border: none  !important;
        width: auto;
      }
    }
  }
}