input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent !important;
  color: $--color-white !important;
}

.input-group--required label:after {
  content: none;
}

.input-group--required label:before {
  content: '*';
  color: $--warning-red;
  float: left;
  width: 10px;
}

.main-app .theme--dark.input-group:not(.input-group--error) {
  label {
    font-size: $--font-size-base;
    color: $--input-text-color;
    font-weight: 400;
  }
}
.theme--light {
  .input-group:not(.input-group--error) {
    label {
      font-size: $--font-size-base;
      color: $--input-text-color;
      font-weight: 400;
    }
  }

  .input-group {
    input {
      color: $--color-white;
    }

    textarea {
      color: $--color-white;
    }
  }
}

.input-group.primary--text {
  color: $--cta-green !important;
}

//.input-group.input-group--text-field:not(.input-group--single-line):not(.input-group--error).input-group--focused {
//  label {
//    color: $--cta-green !important;
//  }
//}

.theme--light .input-group:not(.input-group--error) .input-group__details:before,
.main-app .theme--light.input-group:not(.input-group--error) .input-group__details:before {
  background-color: $--cta-dark !important;
}

.input-group__details:after {
  background-color: $--color-white;
}

.input-group.input-group--focused .input-group__append-icon {
  color: $--color-white;
}

.password-form-group {
  .input-group {
    width: 162px !important;
    float: left !important;
    display: block !important;
  }
}

.input-group--select {
  .input-group__selections__comma {
    font-size: $--font-size-base;
    color: $--input-text-color !important;
  }

  .input-group__append-icon {
    margin-right: -10px;
    color: $--input-text-color !important;
  }
}

.input-group--text-field.input-group--multi-line textarea {
  height: 60px;
  resize: none;
}

.el-dialog__body {
  .password-form-group {
    .input-group {
      width: 298px !important;
    }
  }
}

.input-group--text-field input, .input-group--text-field textarea {
  font-size: $--font-size-small;
}

.input-bg-light {
  .input-group__input {
    input[type="text"] {
      color: lighten($--color-black, 20%);
    }
  }

  .theme--light .input-group:not(.input-group--error) .input-group__details:before,
  .main-app .theme--light.input-group:not(.input-group--error) .input-group__details:before {
    background-color: lighten($--cta-dark, 20%) !important;
  }

  .input-group__details:after {
    background-color: lighten($--cta-dark, 10%);
  }
}

.checkbox-primary.success--text {
  color: $--cta-green !important;
}

.input-group-inline {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .input-group {
    padding: 0;
  }

  .input-group__input {
    margin-left: 10px;
    padding: 0 10px;
    max-width: 181px !important;
    background: #fffbd5;
  }

  .input-group--select__autocomplete,
  .input-group__selections__comma {
    color: $--darker-gray !important;
    font-size: 12px !important;
  }

  .input-group__details {
    display: none;
  }
}

.input-group-inline.readonly {
  .input-group__input {
    background: #FFF;
  }
}
