.el {
  &-dialog{
    background-color: transparent;
    border-radius: 10px;
    &__wrapper {
      background-color: rgba(0, 0, 0, 0.50);
    }

    &__header {
      background-color: $--item-select-gray;
      color: $--color-white;
      font-weight: 600;
      font-size: $--font-size-large;
      height: 52px;
      border-radius: 10px 10px 0 0;
      line-height: 52px;
      padding: 0 30px;
    }

    &__body {
      background-color: $--color-white;
      padding: 30px;
    }

    &__footer {
      border-radius: 0 0 10px 10px;
      padding: 0;
      background-color: $--gray;
      height: 52px;

      .dialog-footer {
        width: 100%;
        height: 52px;
        display: block;
      }
    }

    &__close {
      font-size: 22px;
      color: $--color-white !important;
    }

    &__footer-btn {
      float: left;
      width: 50%;
      margin: 0 !important;
      background: transparent !important;
      border: none;
      height: 52px;
      color: $--color-white !important;
      font-weight: 600;
      font-size: $--font-size-large;
      border-right: 1px solid $--dark-gray !important;

      &:last-child {
        border: 0 !important;
      }
    }

    &--dark {
      .el-dialog__body {
        background-color: $--darker-gray;
      }
    }
  }
}
