.el-popover {
  padding: 0 !important;
  border: 0;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, .5);
  border-radius: 8px;
  &__title {
    display: none;
  }
  &__custom-title {
    height: 58px;
    width: 100%;
    display: block;
    border-radius: 8px 8px 0 0;
    padding: 10px 10px 10px 20px;
  }

  &__action-buttons {
    width: 100%;
    text-align: right;
  }

  &__action-buttons-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__action-button {
    display: inline-block;
    cursor: pointer;
  }

  &__action-edit {
    width: 15px;
    height: 16px;
    background: url("/images/icon/popover-edit.png") no-repeat center center;
    margin-right: 14px;
  }

  &__action-delete {
    width: 13px;
    height: 16px;
    background: url("/images/icon/popover-delete.png") no-repeat center center;
    margin-right: 14px;
  }

  &__action-close {
    width: 16px;
    height: 16px;
    background: url("/images/icon/popover-close.png") no-repeat center center;
  }

  &__title-text {
    color: $--color-white;
    font-size: 14px;
  }

  &__body {
    padding: 20px;
    font-size: 12px;
    color: #323b49;
    position: relative;
  }

  &__body-time {
    margin-bottom: 15px;
  }

  &__icon-calendar {
    float: left;
    width: 16px;
    height: 16px;
    background: url("/images/icon/popover-calendar.png") no-repeat center center;
    margin-right: 10px;
  }

  &__icon-clock {
    float: left;
    width: 16px;
    height: 16px;
    background: url("/images/icon/popover-clock.png") no-repeat center center;
    margin-right: 10px;
  }

  &__datetime-text {
    float: left;
    font-size: 10px;
    line-height: 16px;
  }

  &__body-resources-icon {
    margin: 15px 0;

    &--vertical {
      margin: 0;
      .resources-icon-list {
        .resource-icon {
          float: none;
          width: 20px !important;
          margin: 0 0 5px 0 !important;
        }
      }
    }
  }
}
