.el-radio-group {
  .input-group.input-group--selection-controls {
    display: inline-block !important;
    width: 50%;
    padding-right: 10px;

    .icon--selection-control {
      color: $--background-color;
    }

    &.input-group--active {
      .icon--selection-control {
        color: $--cta-green;
      }
    }
  }

  input-group:not(.input-group--error) label {
    margin-top: -2px;
    text-transform: uppercase;
    color: $--input-text-color;
  }
}

.el-radio-list {
  .input-group.input-group--selection-controls {
    padding-right: 10px;

    .icon--selection-control {
      color: $--background-color;
    }

    &.input-group--active {
      .icon--selection-control {
        color: $--cta-green;
      }

      &.input-group:not(.input-group--error) label {
        color: $--color-white;
      }
    }
  }

  input-group:not(.input-group--error) label {
    margin-top: -2px;
    color: $--input-text-color;
  }
}

.dark-form {
  .el-radio-list {
    .input-group.input-group--selection-controls {
      margin-left: -2px;
      .icon--selection-control {
        color: $--cta-dark;
      }

      &.input-group--active {
        .icon--selection-control {
          color: $--cta-green;
        }
      }
    }

    .input-group:not(.input-group--error) label {
      margin-top: -2px;
      color: $--input-text-color;
      max-width: 100% !important;
    }
  }
}

.color-indicator {
    display: block;
    position: relative;
    padding: 5px 8px;
    top: 5px;
    width: 260px;
    height: 24px;
    line-height: 1;
    color: #FFFFFF;
}
