.el-table {
  &__header {
    font-size: $--font-size-small;
    font-weight: 600;
    text-transform: uppercase;
    th {
      background-color: $--gray;
      color: $--color-white !important;
      border: 1px solid $--color-white;
      border-left: 0;
      border-bottom: 0 !important;
      text-align: left;
      height: 30px;
      padding: 0;
      line-height: 30px;
      &:last-child {
        border-right: 0;
      }
    }
  }

  tbody {
    tr.el-table__row {
      color: $--darker-gray;
      &:nth-child(even) {
        font-size: $--font-size-small;
        background: #f1f3f7;
      }
      &:nth-child(odd) {
        font-size: $--font-size-small;
        background: $--lighter-gray;
      }

      &:hover {
        td {
          box-shadow: 0 2px 4px -1px rgba(50, 59, 73, 0.21) inset;
        }
        &:nth-child(even) {
          td {
            background: #f1f3f7 !important;
          }
        }
        &:nth-child(odd) {
          td {
            background: $--lighter-gray !important;
          }
        }
      }

      td {
        border: 1px solid $--color-white;
        border-left: 0;
        border-bottom: 0;
        &:last-child {
          border-right: 0;
        }
        .btn-action-wrapper {
          display: block;
          margin: auto;
          text-align: center;
        }
        .btn-action {
          display: inline-block;
          width: auto;
          text-decoration: none !important;
          .btn {
            width: 30px;
            margin: 0 10px;
          }
        }
      }
    }
  }

  &__dark-expandable {
    .el-table__expand-icon > .el-icon {
      font-size: 17px;
      font-weight: bolder;
      margin-left: -9px;
      margin-top: -9px;
    }
    tbody {
      tr.expanded {
        background: $--item-select-gray !important;
        color: $--color-white !important;

          td {
              background: $--item-select-gray  !important;
          }

        .el-table__expand-icon > .el-icon {
          color: #ffffff;
        }

        &:hover {
          &:nth-child(even) {
            td {
              background: $--item-select-gray !important;
              color: $--color-white !important;
            }
          }
          &:nth-child(odd) {
            td {
              background: $--item-select-gray !important;
              color: $--color-white !important;
            }
          }
        }
      }
      tr.el-table__row {
        td {
          padding: 6px 0;
        }
      }
    }
    .el-table {
      &__expanded-cell {
        background: $--item-select-gray !important;
        padding: 20px;
        border-top: 1px solid $--color-white;
        border-bottom: none;
        &:hover {
          background: $--item-select-gray !important;
        }
      }
    }
  }

    &__inner-dark-expandable {
        margin-top: 0 !important;
        .el-table__header {
            th {
                background-color: #21252c;
                border-color: #323b49;
            }
        }
        .el-table__expand-icon > .el-icon {
            font-size: 17px;
            font-weight: bolder;
            margin-left: -9px;
            margin-top: -9px;
        }
        tbody {
            tr.el-table__row {
                td {
                    border-color: #323b49;
                }
            }
            tr.el-table__row:nth-child(odd) {
                background: #f1f3f7;
            }
            tr.el-table__row:nth-child(even) {
                background: #ffffff;
            }
            tr.expanded {
                background: #6b7990 !important;
                color: $--color-white !important;

                td {
                    background: #6b7990 !important;
                }

                .el-table__expand-icon > .el-icon {
                    color: #ffffff;
                }

                &:hover {
                    &:nth-child(even) {
                        td {
                            background: #6b7990 !important;
                            color: $--color-white !important;
                        }
                    }
                    &:nth-child(odd) {
                        td {
                            background: #6b7990 !important;
                            color: $--color-white !important;
                        }
                    }
                }
            }
            tr.el-table__row {
                td {
                    padding: 6px 0;
                }
            }
        }
        .el-table {
            &__expanded-cell {
                background: #6b7990 !important;
                padding: 0;
                border-top: 1px solid $--color-white;
                border-bottom: none;
                border-color: #323b49;
                &:hover {
                    background: #6b7990 !important;
                }
            }
        }
    }

    &__inner-transparent {
        &:before {
            display: none;
        }
        margin-top: 0 !important;
        background: transparent;
        .el-table__header {
            tr {
                background-color: transparent;
                color: #384252;
            }
            th {
                background-color: transparent;
                border: 0 !important;
                color: #384252 !important;
                padding: 0;

                > .cell {
                    padding: 0 10px 0 0;
                }
            }
        }
        .el-table__expand-icon > .el-icon {
            font-size: 17px;
            font-weight: bolder;
            margin-left: -9px;
            margin-top: -9px;
        }
        tbody {
            tr.el-table__row {
                td {
                    border-width: 1px 0;
                    border-color: #dedbb9;
                    > .cell {
                        padding: 0 10px 0 0;
                    }
                }
            }
            tr.el-table__row:nth-child(odd) {
                background: transparent;
                &:hover {
                    td {
                        background: transparent !important;
                        box-shadow: none !important;
                    }
                }
            }
            tr.el-table__row:nth-child(even) {
                background: transparent;
                &:hover {
                    td {
                        background: transparent !important;
                        box-shadow: none !important;
                    }
                }
            }
            tr.expanded {
                background: #6b7990 !important;
                color: $--color-white !important;

                .el-table__expand-icon > .el-icon {
                    color: #ffffff;
                }

                &:hover {
                    &:nth-child(even) {
                        td {
                            background: transparent !important;
                            color: $--color-white !important;
                        }
                    }
                    &:nth-child(odd) {
                        td {
                            background: transparent !important;
                            color: $--color-white !important;
                        }
                    }
                }
            }
            tr.el-table__row {
                td {
                    padding: 6px 0;
                }
            }
        }
        .el-table {
            &__expanded-cell {
                background: #6b7990 !important;
                padding: 0;
                border-top: 1px solid $--color-white;
                border-bottom: none;
                border-color: #323b49;
                &:hover {
                    background: #6b7990 !important;
                }
            }
        }
    }

  &__inner-title {
    color: $--cta-green;
    font-size: 18px !important;

    &--sub {
      color: $--color-white;
    }
  }

  &__inner-title-label {
    font-size: $--font-size-small;
    color: $--cta-green;
  }

  &__inner-title-content {
    font-size: $--font-size-small;
    color: $--color-white;
  }

  &__inner-editable {
    .input-group {
      padding: 0 !important;

      &__input {
        min-height: 14px !important;
      }

      &--text-field {
        input {
          height: 14px;
          color: #384252;
          font-size: 12px;
        }
      }

      &__selections__comma {
        color: #384252 !important;
        font-size: 12px;
      }

      &__details {
        display: none;
        &:before {
          display: none;
        }
      }
    }
    &:before {
      background: none;
    }
    .el-table__header {
      th {
        background-color: $--lighter-gray;
        color: $--background-dark !important;
        border: 1px solid $--item-select-gray;
        border-left: 0;
        border-bottom: 0 !important;
        text-align: left;
        height: 30px;
        padding: 0;
        line-height: 30px;
        &:last-child {
          border-right: 0;
        }
      }
    }

    tbody {
      tr.el-table__row {
        background: #fffbd5 !important;
        border-color: $--item-select-gray;
        &:hover {
          &:nth-child(even) {
            td {
              background: #fffbd5 !important;
            }
          }
          &:nth-child(odd) {
            td {
              background: #fffbd5 !important;
            }
          }
        }
        td {
          border-color: $--item-select-gray !important;
        }
      }
    }

    &--no-top-margin {
      margin-top: 0 !important;
    }
  }

  &-input-text {
    color: #384252;
  }

  &__table-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
  }

  &__inner-main {
      flex: 1;
      height: 700px;
      overflow-y: scroll;

      .el-table__body tr.current-row > td {
          background: #fffbd5 !important;
      }
  }

    &__inner-side {
        width: 380px;
        padding-left: 20px;
    }
}

.readonly.el-table__inner-editable {
  tbody tr.el-table__row {
    background: #f1f3f7 !important;
    &:hover {
      &:nth-child(even) {
        td {
          background: #f1f3f7 !important;
        }
      }
      &:nth-child(odd) {
        td {
          background: #f1f3f7 !important;
        }
      }
    }
  }
}

.el-col {
  &__action {
    &--red {
      background: $--warning-red;
      cursor: pointer;
      position: relative;
      .cell {
        width: 30px;
        display: block;
        text-align: center;
        color: #ffffff;
        padding: 0;
        height: 24px;
      }
    }
  }
}

.el-table__body tr.current-row > td.el-col__action--red {
    background: $--warning-red !important;
}

.el-col {
    &__action {
        &--green {
            background: $--cta-green;
            cursor: pointer;
            position: relative;
            .cell {
                width: 30px;
                display: block;
                text-align: center;
                color: #ffffff;
                padding: 0;
                height: 24px;
            }
        }
    }
}

.el-table__body tr.current-row > td.el-col__action--green {
    background: $--cta-green !important;
}

.el-table__inner-editable tbody tr.el-table__row:hover:nth-child(odd) td.el-col__action--red,
.el-table__inner-editable tbody tr.el-table__row:hover:nth-child(even) td.el-col__action--red
{
  background: $--warning-red !important;
}

.el-table__inner-editable tbody tr.el-table__row:hover:nth-child(odd) td.el-col__action--green,
.el-table__inner-editable tbody tr.el-table__row:hover:nth-child(even) td.el-col__action--green
{
    background: $--cta-green !important;
}

.el-form-card {
  .el-table--group::after {
    background-color: transparent;
  }

  .el-table--border::after {
    background-color: transparent;
  }

  .el-table::before {
    background-color: transparent;
  }

  .el-table {
    &__header {
      th {
        background-color: $--darker-gray;
        border-color: $--cta-dark;
      }
    }

    tbody {
      tr.el-table__row {
        color: $--input-text-color;
        &:nth-child(even) {
          background: $--dark-gray;
        }
        &:nth-child(odd) {
          background: $--darker-gray;
        }

        &:hover {
          td {
            box-shadow: 0 2px 4px -1px rgba(50, 59, 73, 0.21) inset;
          }
          &:nth-child(even) {
            td {
              background: $--dark-gray !important;
            }
          }
          &:nth-child(odd) {
            td {
              background: $--darker-gray !important;
            }
          }
        }

        td {
          border: 1px solid $--cta-dark;
          border-left: 0;
          border-bottom: 0;
          &:last-child {
            border-right: 0;
          }
        }
      }
    }
  }
}
.el-form-card {
  .el-table__inner-editable {
    .el-table__header {
      th {
        font-size: 10px !important;
        background-color: #dae6f9 !important;
      }
    }

    &.el-table {
      tbody {
        tr.el-table__row:hover:nth-child(odd) {
          td {
            background: #fffbd5 !important;
          }
          td.el-col__action--red {
            background: #e25858 !important;
          }
          td.el-col__action--red {
            background: $--cta-green !important;
          }
        }

        tr.el-table__row:hover:nth-child(even) {
          td {
            background: #fffbd5 !important;
          }
          td.el-col__action--red {
            background: #e25858 !important;
          }
          td.el-col__action--red {
            background: $--cta-green !important;
          }
        }
      }
    }
  }
  .el-table__modal {
    .el-table-info__panel {
      ul {
        margin-top: 2px;
      }
    }
  }
}

.el-inner-table-right-col {
  float: left;
  width: 500px;
}

.el-inner-table-check-box-list {
  float: left;
  width: 250px;
  margin-bottom: 20px;
}

.el-table {
    &__inner-row-content {
        background: #fffbd5;
        padding: 20px;
        margin-bottom: 5px;
        float: left;
        width: 100%;
    }

    &__inner-row-inline-list {
        list-style: none;
        margin-bottom: 20px;
        li {
            display: inline-block;
            margin-right: 20px;

            .label {
                font-weight: 600;
            }
        }
    }
}

.el-table {
    &__inner-row-content--dark {
        background: #384252;

        .el-table tbody tr.el-table__row {
            color: #FFFFFF;
        }

        .el-table__inner-transparent .el-table__header th {
            color: #FFFFFF !important;
        }

        .el-table__inner-row-inline-list {
            color: #FFFFFF;
        }
    }
}

.image-holder__inline {
    float: left;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    background: transparent;
}
.el-table__body tr.current-row > td {
  background-color: initial !important;
}

.el-custom-header {
  width: inherit;
  padding: 0px 0px 0px 0px !important;
  line-height: 27px !important;
  margin-bottom: -10px;

  &__title {
    cursor: default;
  }

  &__details {
    padding: 0px 0px 0px 0px !important;
    cursor: none;
  }
}

.hidden {
  display: none !important;
}
