.vue-treeselect {
  z-index: 2;
  height: auto !important;
  &__control {
    height: 30px;
    border-radius: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #c3c9d3;
    padding: 0;
  }

  &__placeholder {
    color: #606266;
    padding-left: 0;
    line-height: 30px;
  }

  &__arrow {
    border-top-color: #384252;

  }
}