<template>
    <div class="el-form-card">
        <div class="el-form-card__header">
            {{ $t('form.title.createUnloadingArea') }}
        </div>
        <div class="el-form-card__body">
            <el-form
                ref="form"
                class="dark-form"
                :model="form"
                size="mini"
                label-position="top"
                label-width="125px"
                style="min-height: 680px;"
            >
                <el-row>
                    <div class="el-form-card__element-wrapper">
                        <el-form-item prop="Description">
                            <v-text-field
                                :label="$t('form.label.description')"
                                v-model="form.description"
                                required
                            ></v-text-field>
                        </el-form-item>
                    </div>
                </el-row>

                <el-row>
                    <div class="el-form-card__element-wrapper">
                        <el-form-item prop="shortDescription">
                            <v-text-field
                                :label="$t('form.label.shortDescription')"
                                v-model="form.shortDescription"
                                required
                            ></v-text-field>
                        </el-form-item>
                    </div>
                </el-row>

                <el-row>
                    <div class="el-form-card__element-wrapper">
                        <v-select
                            :items="associatedCheckpoints"
                            :label="$t('form.label.associatedCheckpoints')"
                            item-text="CommonName"
                            item-value="CheckpointID"
                            v-model="form.associatedCheckpoints"
                            return-object
                            multiple
                            required
                            chips
                            dark
                        >
                        </v-select>
                    </div>
                </el-row>

                <el-row>
                    <div class="el-form-card__element-wrapper">
                        <el-form-item prop="geoLocation">
                            <v-text-field
                                :label="$t('form.label.geoLocation')"
                                v-model="form.geoLocation"
                                required
                            ></v-text-field>
                        </el-form-item>
                    </div>
                </el-row>

                <el-row>
                    <div
                        class="el-form-card__element-wrapper el-form-card__element-wrapper--expander"
                    >
                        <el-form-item prop="activeUnloadingArea">
                            <div class="el-checkbox-list">
                                <v-checkbox
                                    :label="
                                        $t('form.label.unloadingAreaActive')
                                    "
                                    v-model="form.activeUnloadingArea"
                                    color="success"
                                    hide-details
                                >
                                </v-checkbox>
                            </div>
                        </el-form-item>
                    </div>
                </el-row>

                <el-row>
                    <div class="el-form-card__element-wrapper">
                        <el-form-item prop="Color">
                            <div class="text-grey mt-2">
                                {{ $t('form.label.chooseColor') }}
                            </div>
                            <swatches v-model="form.color" :colors="colors" />
                        </el-form-item>
                    </div>
                </el-row>

                <div class="button-wrapper flex justify-between items-center">
                    <v-btn
                        round
                        color="primary"
                        @click="submit"
                        :disabled="loading"
                        dark
                    >
                        {{ $t('button.text.create') }}
                    </v-btn>
                    <v-btn round @click.prevent="reset" color="dark" dark>
                        {{ $t('form.button.cancel') }}
                    </v-btn>
                </div>
            </el-form>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Swatches from 'vue-swatches'

export default {
    name: 'create-unloading-areas',

    components: { Swatches },

    data() {
        return {
            editing: false,
            loading: false,
            unloadingArea: '',
            associatedCheckpoints: [],
            colors: [
                [
                    '#9fa8da',
                    '#00bcd4',
                    '#c0ca33',
                    '#4db6ac',
                    '#f06292',
                    '#9b84c3',
                    '#f9a825',
                    '#ccc68d',
                    '#81c784',
                    '#00b4ff',
                    '#90a4ae',
                    '#eec290',
                    '#a7848b',
                    '#9e9e9e',
                    '#bcaaa4',
                ],
            ],
            form: {
                description: '',
                shortDescription: '',
                associatedCheckpoints: [],
                geoLocation: '',
                color: '#9fa8da',
                colorCode: '',
                activeUnloadingArea: false,
            },
        }
    },

    created() {
        this.fetchCheckpoints()
    },

    mounted() {
        Events.$on('unloading-area-editing', async data => {
            this.editing = true
            this.unloadingArea = data

            this.fillFormUser(this.unloadingArea)
        })
    },

    computed: {
        ...mapGetters(['selectedContainer']),

        unloadingAreaPayload() {
            let checkpoints = this.form.associatedCheckpoints.map(
                checkpoint => {
                    return checkpoint.CheckpointID
                }
            )

            return {
                ContainerID: this.selectedContainer.ContainerID,
                Description: this.form.description,
                ShortDescription: this.form.shortDescription,
                GeoLocation: this.form.geoLocation,
                Color: this.form.color,
                IsActive: this.form.activeUnloadingArea,
                RelatedCheckpointIDs: checkpoints,
            }
        },
    },

    watch: {
        selectedContainer(container) {
            this.fetchCheckpoints(container)
        },
    },

    methods: {
        async fetchCheckpoints(container = null) {
            container = container || this.selectedContainer

            if (container) {
                let { data } = await this.$http.get(
                    `Container/${container.ContainerID}/Checkpoint`
                )
                this.associatedCheckpoints = data
            }
        },

        async submit() {
            this.loading = true

            let method = this.editing ? 'put' : 'post'
            let url = this.editing
                ? `UnloadingArea/${this.unloadingArea.UnloadingAreaID}`
                : 'UnloadingArea'

            await this.$http[method](url, this.unloadingAreaPayload)

            this.$message({
                type: 'success',
                showClose: true,
                message: this.editing
                    ? this.$i18n.i18next.t('message.success.updated', {
                          section: this.$i18n.i18next.t(
                              'form.label.unloadingArea'
                          ),
                      })
                    : this.$i18n.i18next.t('message.success.created', {
                          section: this.$i18n.i18next.t(
                              'form.label.unloadingArea'
                          ),
                      }),
            })

            this.notifyUnloadingAreaUpdate()
            this.reset()

            this.loading = false
        },

        reset() {
            this.unloadingArea = ''
            this.form.description = ''
            this.form.shortDescription = ''
            this.form.associatedCheckpoints = []
            this.form.geoLocation = ''
            this.form.color = '#9fa8da'
            this.form.colorCode = ''
            this.form.activeUnloadingArea = false
            this.editing = false
        },

        notifyUnloadingAreaUpdate() {
            Events.$emit('unloading-area-updated')
        },

        fillFormUser(unloadingArea) {
            this.form.description = unloadingArea.Description
            this.form.shortDescription = unloadingArea.ShortDescription
            this.form.geoLocation = unloadingArea.GeoLocation
            this.form.color = unloadingArea.Color
            this.form.activeUnloadingArea = unloadingArea.IsActive
            this.form.associatedCheckpoints = this.associatedCheckpoints.filter(
                associatedCheckpoint => {
                    return unloadingArea.Checkpoints.some(
                        unloadingAreaCheckpoint => {
                            return (
                                unloadingAreaCheckpoint ===
                                associatedCheckpoint.CheckpointID
                            )
                        }
                    )
                }
            )
        },
    },
}
</script>
