<template>
    <div id="app">
        <v-app class="main-app">
            <el-container v-if="$auth.ready()">
                <router-view></router-view>
            </el-container>
            <div v-else v-loading.fullscreen.lock="true"></div>
        </v-app>
    </div>
</template>

<style lang="scss">
@tailwind preflight;

[v-cloak] > * {
    display: none;
}

@import './../assets/scss/vendor';
@import './../assets/scss/main';

@tailwind utilities;
</style>
