<template>
    <div class="el-main-wrapper manage-container" v-if="checked">
        <el-row class="el-title-block">
            <h1 class="el-title-with-icon">
                Containers
            </h1>
        </el-row>

        <div class="el-main-content">
            <div class="el-grid-card">
                <div class="el-grid-card__header">
                    {{ $t('title.overview') }}
                </div>
                <div class="el-grid-card__body mb-10">
                    <el-row :gutter="100">
                        <el-col :span="10">
                            <el-tree
                                :data="containerTree"
                                :props="container.defaultProps"
                                :default-checked-keys="[checked.ContainerID]"
                                :default-expanded-keys="[checked.ContainerID]"
                                :node-key="container.nodeKey"
                                highlight-current
                                @node-drop="handleDrop"
                                draggable
                                accordion
                                @node-click="checkSelected"
                            >
                                <span
                                    class="custom-tree-node"
                                    slot-scope="{ node, data }"
                                >
                                    <span>{{ node.label }}</span>
                                    <span>
                                        <v-btn
                                            v-if="
                                                permissions.includes(
                                                    'CONTAINER_WRITE'
                                                )
                                            "
                                            icon
                                            small
                                            @click.stop="
                                                () =>
                                                    startAddingNewContainer(
                                                        data
                                                    )
                                            "
                                        >
                                            <v-icon color="blue">add</v-icon>
                                        </v-btn>
                                        <v-btn
                                            v-if="
                                                permissions.includes(
                                                    'CONTAINER_DELETE'
                                                )
                                            "
                                            icon
                                            small
                                            @click="() => deleteContainer(data)"
                                        >
                                            <v-icon color="pink">delete</v-icon>
                                        </v-btn>
                                    </span>
                                </span>
                            </el-tree>
                        </el-col>
                        <el-col :span="12">
                            <el-row class="el-title-block">
                                <div class="text-xl">
                                    {{ $t('form.title.containerSettings') }}
                                    <small class="text-grey-dark"
                                    >: {{ checked.Description }}</small
                                    >
                                </div>
                            </el-row>

                            <el-row class="mb-8">
                                <div class="w-96">
                                    <v-text-field
                                        :label="
                                            $t(
                                                'form.label.containerDescription'
                                            )
                                        "
                                        multiple
                                        class="input-bg-light"
                                        v-model="checked.Description"
                                    ></v-text-field>
                                    <v-select
                                        :items="containerTypes"
                                        :label="$t('form.label.containerType')"
                                        item-text="Description"
                                        item-value="Description"
                                        class="input-bg-light"
                                        v-model="checked.ContainerType"
                                    >
                                    </v-select>
                                    <v-select
                                        :items="types"
                                        :label="$t('form.label.type')"
                                        multiple
                                        class="input-bg-light"
                                        v-model="checked.AvailableBookingTypes"
                                        chips
                                    >
                                    </v-select>
                                    <v-select
                                        :items="bookingTimes"
                                        :label="
                                            $t('form.label.minimumBookingTime')
                                        "
                                        class="input-bg-light"
                                        v-model="checked.MinimumBookingTime"
                                    >
                                    </v-select>
                                    <v-text-field
                                        :label="$t('form.label.maxPassesPerBooking')"
                                        class="input-bg-light"
                                        v-model="checked.MaximumPassingsPerBooking"
                                    />
                                    <v-checkbox
                                        :label="$t('form.label.autoPinEnabled')"
                                        color="success"
                                        v-model="checked.AutoPinEnabled"
                                        class="checkbox-primary"
                                        hide-details
                                    />
                                    <v-checkbox
                                        :label="
                                            $t('form.label.canBookOverlapped')
                                        "
                                        color="success"
                                        v-model="checked.IsBookingCanOverlapped"
                                        class="checkbox-primary"
                                        hide-details
                                    >
                                    </v-checkbox>
                                </div>
                            </el-row>
                            <div
                                class="button-wrapper flex justify-between items-center"
                            >
                                <v-btn
                                    round
                                    v-if="editing"
                                    :disabled="loading"
                                    class="primary"
                                    @click.prevent="
                                        () => updateContainer(checked)
                                    "
                                >
                                    {{ $t('button.text.update') }}
                                </v-btn>
                                <v-btn
                                    v-if="!editing"
                                    round
                                    :disabled="loading"
                                    class="primary"
                                    @click.prevent="() => addNewContainer()"
                                >
                                    {{ $t('button.text.save') }}
                                </v-btn>
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import _ from 'lodash'
import { mapGetters } from 'vuex'

export default {
    name: 'containers-view',

    data() {
        return {
            loading: false,
            types: ['SLOT', 'PASS', 'BLC'],
            bookingTimes: [
                { text: 'OFF', value: 0 },
                { text: '15min', value: 15 },
                { text: '30min', value: 30 },
                { text: '45min', value: 45 },
                { text: '60min', value: 60 },
                { text: '90min', value: 90 },
            ],
            checked: {
                ContainerID: '',
                ParentContainerID: '',
                Description: '',
                ContainerType: '',
                AvailableBookingTypes: [],
                MinimumBookingTime: '',
                IsBookingCanOverlapped: false,
                AutoPinEnabled: false,
                MaximumPassingsPerBooking: '',
            },
            editing: true,
            containerTypes: [],
            container: {
                show: false,
                nodeKey: 'ContainerID',
                defaultProps: {
                    children: 'Children',
                    label: 'Description',
                },
            },
        }
    },

    computed: {
        ...mapGetters(['containerTree', 'selectedContainer', 'permissions']),
    },

    mounted() {
        if (!this.permissions.includes('CONTAINER_WRITE')) {
            this.$router.replace({ name: 'dashboard' })
        }

        this.checked = _.cloneDeep(this.selectedContainer)
    },

    created() {
        this.fetchData()
    },

    methods: {
        async fetchData() {
            const { data } = await this.$http.get('/ContainerType')

            this.containerTypes = data
        },

        reset() {
            this.checked.ContainerID = ''
            this.checked.ParentContainerID = ''
            this.checked.Description = ''
            this.checked.ContainerType = ''
            this.checked.AvailableBookingTypes = []
            this.checked.MinimumBookingTime = ''
            this.checked.IsBookingCanOverlapped = false
        },

        checkSelected(container) {
            this.checked = _.cloneDeep(container)
            this.editing = true
        },

        startAddingNewContainer(data) {
            this.reset()
            this.checked.ParentContainerID = data.ContainerID
            this.editing = false
        },

        async addNewContainer() {
            this.loading = true

            try {
                await this.$http.post(`/Container`, this.checked)

                this.$store.dispatch('fetchAllContainers')

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: 'New Container created.',
                })
            } catch (e) {
                this.$message({
                    type: 'error',
                    showClose: true,
                    message: `${e.response.data}.`,
                })
            }

            this.loading = false
        },

        async updateContainer(container) {
            this.loading = true

            try {
                await this.$http.put(`/Container/${container.ContainerID}`, {
                    ...container,
                    LongName: 'LongName',
                    ShortName: 'ShortName',
                })

                this.$store.dispatch('fetchAllContainers')

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: 'Container settings updated.',
                })
            } catch (e) {
                this.$message({
                    type: 'error',
                    showClose: true,
                    message: `${e.response.data}.`,
                })
            }

            this.loading = false
        },

        async deleteContainer(data) {
            try {
                await this.$confirm(
                    this.$i18n.i18next.t('message.warning.delete', {
                        section: this.$i18n.i18next.t('text.container'),
                    }),
                    'Warning',
                    {
                        confirmButtonText: this.$i18n.i18next.t(
                            'button.text.confirm'
                        ),
                        cancelButtonText: this.$i18n.i18next.t(
                            'button.text.cancel'
                        ),
                        type: 'warning',
                    }
                )

                await this.$http.delete(`/Container/${data.ContainerID}`)

                this.$store.dispatch('fetchAllContainers')

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.$i18n.i18next.t('message.success.deleted', {
                        section: this.$i18n.i18next.t('text.container'),
                    }),
                })
            } catch (e) {
                if (e === 'cancel') {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: this.$i18n.i18next.t('message.error.general'),
                    })
                }
            }
        },

        handleDrop(draggingNode, dropNode) {
            let container = { ...draggingNode.data }
            container.ParentContainerID = dropNode.data.ContainerID

            this.updateContainer(container)
        },
    },
}
</script>
