<template>
    <div class="w-full flex el-login">
        <el-col :span="12">
            <div class="el-center-right-content">
                <v-app class="main-app">
                    <div class="el-login-card">
                        <div slot="header" class="clearfix">
                            <h1 class="el-title-with-icon">
                                {{ $t('form.label.forgotPassword') }}
                            </h1>
                        </div>
                        <el-form ref="form" :model="formData" :rules="rules">
                            <el-form-item prop="email">
                                <v-text-field
                                    name="email"
                                    :label="$t('form.label.email')"
                                    v-model="formData.email"
                                    @keyup.enter.native="submit"
                                    hide-details
                                ></v-text-field>
                            </el-form-item>
                            <el-form-item>
                                <vue-recaptcha
                                    :sitekey="siteKey"
                                    @verify="verifyCaptcha"
                                />
                            </el-form-item>
                            <el-form-item>
                                <v-btn
                                    round
                                    color="primary"
                                    @click="submit"
                                    loader="loading"
                                    :disabled="loading"
                                    dark
                                >
                                    {{ $t('form.button.submit') }}
                                </v-btn>
                                <router-link
                                    :to="{ name: 'login' }"
                                    class="link"
                                >
                                    {{ $t('form.button.back') }}
                                </router-link>
                            </el-form-item>
                        </el-form>
                    </div>
                </v-app>
            </div>
        </el-col>
        <el-col :span="12" class="el-login-bg">
            <div class="el-center-content flex">
                <img src="/images/logo/stc_logo-with-tag.svg" alt="STC" />
            </div>
        </el-col>
    </div>
</template>

<script>
import VueRecaptcha from 'vue-recaptcha'

export default {
    name: 'forgot-password',

    data() {
        return {
            loading: true,
            siteKey: '6LcngJQUAAAAAMTTGL1IbJiNKMR8dB7w3hGNci5_',
            secret: '6LcngJQUAAAAAIQ9PYP1FnZKJDX8Hu3SljkmlafY',
            formData: {
                email: '',
            },
        }
    },

    components: { VueRecaptcha },

    computed: {
        rules() {
            const rules = {
                email: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: this.$t('form.label.email'),
                        }),
                        trigger: 'blur',
                    },
                    {
                        type: 'email',
                        message: this.$t('form.validation.valid', {
                            name: this.$t('form.label.email'),
                        }),
                        trigger: 'blur,change',
                    },
                ],
            }

            Vue.nextTick(() => this.$refs.form.clearValidate())

            return rules
        },
    },

    methods: {
        async verifyCaptcha(res) {
            if (res) {
                this.loading = false

                await this.$http.get(
                    `https://www.google.com/recaptcha/api/siteverify?secret=${
                        this.secret
                    }&response=${res}`
                )
            }
        },

        async submit() {
            this.loading = true

            try {
                await this.$refs.form.validate()

                await this.$http.post(
                    `User/ForgetPassword/${this.formData.email}`
                )

                this.$message({
                    type: 'success',
                    message: this.$i18n.i18next.t(
                        'message.success.passwordResetLink'
                    ),
                })
                this.$router.push({ name: 'login' })
            } catch (e) {
                if (e === false) {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: `${e}.`,
                    })
                }
            }

            this.loading = false
        },
    },
}
</script>
