<template>
    <el-container class="h-screen">
        <el-header class="bg-primary">
            <div class="flex justify-between items-center">
                <div class="el-header-left flex">
                    <div
                        class="el-nav-icon"
                        :class="{ 'el-nav-icon--active': !collapse }"
                        @click.prevent="collapse = !collapse"
                    ></div>
                    <div
                        class="el-customer-select"
                        @click.prevent="container.show = true"
                    >
                        <span v-if="selectedContainer">{{
                            selectedContainer.Description
                        }}</span>
                        <span class="el-customer-icon"></span>
                        <span class="el-customer-dropdown-icon"></span>
                    </div>
                </div>
                <div class="el-lang-block">
                    <el-dropdown trigger="click">
                        <span class="el-lang-dropdown">
                            {{ this.selectedLanguage.name }}
                            <span
                                class="el-flag-wrapper flag-icon"
                                :class="this.selectedLanguage.flag"
                            ></span>
                            <span class="el-customer-dropdown-icon"></span>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item
                                v-if="noFallbackLang"
                                @click.native="changeLanguage('no-lang')"
                            >
                                No Lang
                            </el-dropdown-item>
                            <el-dropdown-item
                                @click.native="changeLanguage('en-US')"
                            >
                                {{ $t('data.label.english') }}
                                <span
                                    class="el-flag-wrapper flag-icon flag-icon-gb"
                                ></span>
                            </el-dropdown-item>
                            <el-dropdown-item
                                @click.native="changeLanguage('sv-SE')"
                                divided
                            >
                                {{ $t('data.label.swedish') }}
                                <span
                                    class="el-flag-wrapper flag-icon flag-icon-se"
                                ></span>
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </div>
                <div class="el-header-right">
                    <div class="el-profile-block">
                        <el-dropdown trigger="click">
                            <span class="el-profile-dropdown">
                                {{ fullName }}
                                <span class="el-user-icon">
                                    <img src="/images/icon/man.png" />
                                </span>
                                <span class="el-customer-dropdown-icon"></span>
                            </span>
                            <el-dropdown-menu
                                slot="dropdown"
                                class="el-profile-dropdown-block"
                            >
                                <el-dropdown-item
                                    @click.native="passwordChange = true"
                                >{{
                                    $t('text.changePassword')
                                }}</el-dropdown-item
                                >
                                <el-dropdown-item
                                    @click.native="logout"
                                    divided
                                >{{ $t('text.logOut') }}</el-dropdown-item
                                >
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </div>
            </div>
        </el-header>
        <el-container>
            <el-aside
                width="auto"
                class="z-10 border-r"
                :class="{ 'el-nav-expand': !collapse }"
            >
                <el-menu
                    :default-active="$route.path"
                    router
                    unique-opened
                    :collapse="collapse"
                    class="border-r-0 side-menu"
                >
                    <el-menu-item
                        class="el-menu-item-dashboard"
                        index="/"
                        :route="{ name: 'dashboard' }"
                        v-show="permissions.includes('ACTOR_READ')"
                    >
                        <span slot="title">{{
                            $t('navigation.dashboard')
                        }}</span>
                    </el-menu-item>
                    <el-menu-item
                        class="el-menu-item-booking"
                        index="/bookings"
                        :route="{ name: 'bookings' }"
                        v-show="!isBlc && permissions.includes('ACTOR_READ')"
                    >
                        <span slot="title">{{
                            $t('navigation.bookings')
                        }}</span>
                    </el-menu-item>
                    <el-menu-item
                        class="el-menu-item-users"
                        index="/users"
                        :route="{ name: 'users' }"
                        v-show="permissions.includes('USER_READ')"
                    >
                        <span slot="title">{{ $t('navigation.users') }}</span>
                    </el-menu-item>
                    <el-menu-item
                        class="el-menu-item-checkpoints"
                        index="/checkpoints"
                        :route="{ name: 'checkpoints' }"
                        v-show="permissions.includes('CHECKPOINT_READ')"
                    >
                        <span slot="title">{{
                            $t('navigation.checkpoints')
                        }}</span>
                    </el-menu-item>
                    <el-menu-item
                        class="el-menu-item-unloading"
                        index="/unloading-areas"
                        :route="{ name: 'unloading-areas' }"
                        v-show="permissions.includes('UNLOADINGAREA_READ')"
                    >
                        <span slot="title">{{
                            $t('navigation.unloadingAreas')
                        }}</span>
                    </el-menu-item>
                    <el-menu-item
                        class="el-menu-item-global-schedule"
                        index="/global-schedule"
                        :route="{ name: 'global-schedule' }"
                        v-show="permissions.includes('SCHEDULETEMPLATE_VIEW')"
                    >
                        <span slot="title">{{
                            $t('navigation.globalschedule')
                        }}</span>
                    </el-menu-item>
                    <el-menu-item
                        class="el-menu-item-suppliers"
                        index="/supplier"
                        :route="{ name: 'supplier' }"
                        v-if="
                            selectedContainer &&
                                selectedContainer.ContainerType !== 'CCC'
                        "
                        v-show="permissions.includes('SUPPLIER_VIEW')"
                    >
                        <span slot="title">{{
                            $t('navigation.suppliers')
                        }}</span>
                    </el-menu-item>
                    <el-submenu
                        v-show="isBlc"
                        class="el-menu-item-blc"
                        index="/blc"
                    >
                        <template slot="title">
                            <span
                                slot="title"
                                v-if="selectedContainer"
                                v-text="selectedContainer.Description"
                            ></span>
                        </template>
                        <el-menu-item-group>
                            <span
                                slot="title"
                                v-if="selectedContainer"
                                v-text="selectedContainer.Description"
                            ></span>
                            <el-menu-item
                                index="/blc/material-manager"
                                :route="{ name: 'blc/material-manager' }"
                            >
                                {{ $t('navigation.materialManager') }}
                            </el-menu-item>
                            <el-menu-item
                                index="/blc/route-planner"
                                :route="{ name: 'blc/route-planner' }"
                            >
                                {{ $t('navigation.routePlanner') }}
                            </el-menu-item>
                            <el-menu-item
                                index="/blc/follow-up"
                                :route="{ name: 'blc/follow-up' }"
                            >
                                {{ $t('navigation.followUp') }}
                            </el-menu-item>
                            <el-menu-item
                                index="/supplier"
                                :route="{ name: 'supplier' }"
                                v-if="
                                    selectedContainer &&
                                        selectedContainer.ContainerType ===
                                        'CCC'
                                "
                            >
                                {{ $t('navigation.supplierTool') }}
                            </el-menu-item>
                            <el-menu-item
                                index="/vehicleTool"
                                :route="{ name: 'vehicleTool' }"
                                v-if="
                                    permissions.includes('VEHICLE_READ') &&
                                        selectedContainer &&
                                        selectedContainer.ContainerType ===
                                        'CCC'
                                "
                            >
                                {{ $t('navigation.vehicleTool') }}
                            </el-menu-item>
                            <el-menu-item
                                index="/event-tool"
                                :route="{ name: 'eventTool' }"
                                v-if="
                                    permissions.includes('USER_READ') &&
                                        selectedContainer &&
                                        selectedContainer.ContainerType ===
                                        'CCC'
                                "
                            >
                                {{ $t('navigation.eventTool') }}
                            </el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-main>
                <router-view></router-view>
                <el-dialog
                    :visible.sync="container.show"
                    @close="resetContainer"
                    v-if="selectedContainer"
                    width="30%"
                >
                    <span slot="title">
                        <div class="flex justify-between">
                            <span>{{ $t('title.chooseContainer') }}</span>
                            <span
                                class="mr-4"
                                v-if="permissions.includes('CONTAINER_WRITE')"
                            >
                                <a
                                    @click="manageContainers"
                                    class="text-white underline"
                                >{{ $t('title.text.manageContainers') }}</a
                                >
                            </span>
                        </div>
                    </span>
                    <div>
                        <autocomplete
                            ref="autocomplete"
                            :placeholder="$t('title.text.searchContainers')"
                            :source="containers"
                            input-class="form-control"
                            results-display="Description"
                            results-value="Description"
                            name="Description"
                            @selected="selectedContainerFromAutocomplete"
                            style="margin-bottom: 10px"
                        >
                        </autocomplete>
                    </div>
                    <el-tree
                        ref="containerTreeRef"
                        :data="containerTree"
                        :props="container.defaultProps"
                        :default-checked-keys="[selectedContainer.ContainerID]"
                        :node-key="container.nodeKey"
                        highlight-current
                        accordion
                        @node-click="container.checked = $event; clearSearchAutocomplete()"
                    ></el-tree>
                    <span slot="footer" class="dialog-footer">
                        <el-button
                            class="el-dialog__footer-btn"
                            @click="resetContainer"
                        >{{ $t('modal.button.cancel') }}</el-button
                        >
                        <el-button
                            class="el-dialog__footer-btn"
                            type="primary"
                            @click="changeContainer"
                        >{{ $t('modal.button.confirm') }}</el-button
                        >
                    </span>
                </el-dialog>
                <el-dialog
                    class="el-dialog--dark"
                    :visible.sync="passwordChange"
                    @close="cancelChangePassword"
                    width="30%"
                >
                    <span slot="title">
                        <span>{{ $t('text.changePassword') }}</span>
                    </span>
                    <el-form
                        ref="form"
                        :model="form"
                        :rules="rules"
                        size="small"
                    >
                        <el-form-item prop="password">
                            <stc-password
                                v-model="form.password"
                                fetch-url="Util/GeneratePassword"
                            ></stc-password>
                        </el-form-item>
                    </el-form>
                    <span slot="footer" class="dialog-footer">
                        <el-button
                            class="el-dialog__footer-btn"
                            @click="cancelChangePassword"
                        >{{ $t('modal.button.cancel') }}</el-button
                        >
                        <el-button
                            class="el-dialog__footer-btn"
                            type="primary"
                            :loading="loading"
                            @click="changePassword"
                        >{{ $t('modal.button.confirm') }}</el-button
                        >
                    </span>
                </el-dialog>
            </el-main>
        </el-container>
    </el-container>
</template>

<script>
import _ from 'lodash'
import StcPassword from './../components/Password'
import { mapGetters, mapActions, mapState } from 'vuex'
import Autocomplete from 'vuejs-auto-complete'

export default {
    name: 'dashboard',

    data() {
        return {
            loading: false,
            form: {
                password: '',
            },
            rules: {
                password: [
                    {
                        required: true,
                        message: 'Password is required.',
                        trigger: 'blur',
                    },
                    {
                        min: 8,
                        message: 'Password should have at least 8 characters.',
                        trigger: 'blur,change',
                    },
                ],
            },
            collapse: true,
            passwordChange: false,
            container: {
                show: false,
                nodeKey: 'ContainerID',
                defaultProps: {
                    children: 'Children',
                    label: 'Description',
                },
                checked: {},
            },
        }
    },

    components: {
        'stc-password': StcPassword,
        autocomplete: Autocomplete,
    },

    computed: {
        ...mapState(['language']),

        ...mapGetters([
            'isBlc',
            'permissions',
            'containerTree',
            'containers',
            'selectedLanguage',
            'selectedContainer',
        ]),

        noFallbackLang() {
            return process.env.VUE_APP_LANG_FALLBACK == 'false'
        },

        fullName() {
            let user = this.$auth.user()

            return user.FirstName + ' ' + user.LastName
        },
    },

    async created() {
        this.updateUserLanguage()
        await this.fetchAllContainers()
    },

    mounted() {
        // here we are waiting until downloading all the network
        // resources since language files are loading asynchronously
        let t = setInterval(() => {
            if (document.readyState === 'complete') {
                this.changeLanguage(this.selectedLanguage.isoName)
                clearInterval(t)
            }
        }, 500)
    },

    watch: {
        selectedContainer(container) {
            this.fetchContainerPermissions(container)
        },

        language(language) {
            this.updateUserLanguage(language)
        },
    },

    methods: {
        ...mapActions([
            'changeLanguage',
            'setAllContainers',
            'fetchAllContainers',
            'setSelectedContainer',
            'setContainerPermissions',
            'fetchContainerPermissions',
        ]),

        logout() {
            this.$auth.logout()
            this.setAllContainers([])
            this.setSelectedContainer('')
            this.setContainerPermissions([])

            this.$router.push({ name: 'login' })
        },

        manageContainers() {
            this.container.show = false

            this.setSelectedContainer(this.container.checked)

            this.$router.replace({ name: 'containers' })
        },

        changeContainer() {
            let container = _.cloneDeep(this.container.checked)

            if (!_.isEmpty(container)) {
                this.setSelectedContainer(container)
            }

            this.container.show = false

            this.$router.replace({ name: 'dashboard' })
        },

        clearSearchAutocomplete() {
            this.$refs.autocomplete.clear()
        },

        selectedContainerFromAutocomplete(selected) {
            if (selected && selected.selectedObject) {
                this.container.checked = selected.selectedObject
                this.$refs.containerTreeRef.store.currentNode = null
                Object.keys(this.$refs.containerTreeRef.store.nodesMap).map(
                    key => {
                        this.$refs.containerTreeRef.store.nodesMap[
                            key
                        ].checked = false
                        this.$refs.containerTreeRef.store.nodesMap[
                            key
                        ].expanded = false
                    }
                )
            }
        },

        updateUserLanguage(language) {
            language = language || this.selectedLanguage.isoName

            let me = this.$auth.user()

            if (me.Culture === language) return

            let payload = {
                ...this.$auth.user(),
                Culture: language,
            }

            this.$auth.user(payload)
            this.$http.put(`User/Me`, payload)
        },

        async changePassword() {
            this.loading = true

            try {
                await this.$refs.form.validate()

                await this.$http.post(
                    `User/Me/SetPassword/${this.form.password}`
                )

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.$i18n.i18next.t('message.success.updated', {
                        section: this.$i18n.i18next.t('form.label.password'),
                    }),
                })

                this.$refs.form.resetFields()
                this.passwordChange = false
            } catch (e) {
                if (e === false) {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: `${e.response.data}.`,
                    })
                }
            }

            this.loading = false
        },

        cancelChangePassword() {
            this.$refs.form.resetFields()

            this.passwordChange = false
        },

        resetContainer() {
            this.container.checked = {}

            this.container.show = false
        },
    },
}
</script>

<style scoped lang="scss">
.side-menu:not(.el-menu--collapse) {
    width: 12rem;
}
</style>
