<template>
    <div class="w-full flex el-login">
        <el-col :span="12">
            <div class="el-center-right-content">
                <v-app class="main-app">
                    <div class="el-login-card">
                        <div slot="header" class="clearfix">
                            <h1 class="el-title-with-icon">
                                {{ $t('title.welcome') }}
                            </h1>
                        </div>
                        <el-form ref="form" :model="credentials" :rules="rules">
                            <v-select
                                :items="languages"
                                @input="changeLanguage"
                                :label="$t('form.label.language')"
                                dark
                            ></v-select>
                            <el-form-item prop="username">
                                <v-text-field
                                    name="username"
                                    :label="$t('form.label.email')"
                                    v-model="credentials.username"
                                    @keyup.enter.native="login"
                                    hide-details
                                ></v-text-field>
                            </el-form-item>
                            <el-form-item prop="password" class="mb-10">
                                <v-text-field
                                    name="password"
                                    :label="$t('form.label.password')"
                                    v-model="credentials.password"
                                    @keyup.enter.native="login"
                                    min="8"
                                    :append-icon="
                                        passwordShow
                                            ? 'visibility'
                                            : 'visibility_off'
                                    "
                                    :append-icon-cb="
                                        () => (passwordShow = !passwordShow)
                                    "
                                    :type="passwordShow ? 'text' : 'password'"
                                    hide-details
                                ></v-text-field>
                            </el-form-item>
                            <el-form-item>
                                <v-btn
                                    round
                                    color="primary"
                                    @click="login"
                                    loader="loading"
                                    :disabled="loading"
                                    dark
                                >
                                    {{ $t('form.button.login') }}
                                </v-btn>
                                <router-link
                                    :to="{ name: 'forgot-password' }"
                                    class="link"
                                >
                                    {{ $t('form.label.forgotPassword') }}
                                </router-link>
                            </el-form-item>
                        </el-form>
                    </div>
                </v-app>
            </div>
        </el-col>
        <el-col :span="12" class="el-login-bg">
            <div class="el-center-content flex">
                <img src="/images/logo/stc_logo-with-tag.svg" alt="STC" />
            </div>
        </el-col>
    </div>
</template>

<script>
import qs from 'qs'
import _ from 'lodash'
import { mapActions } from 'vuex'

export default {
    name: 'login',

    data() {
        return {
            passwordShow: false,
            loading: false,
            credentials: {
                username: '',
                password: '',
                client_id: '50B9A4FA-2C5D-41F8-828A-A1F7E29635A2',
            },
        }
    },

    computed: {
        languages() {
            return [
                { text: this.$t('data.label.english'), value: 'en-US' },
                { text: this.$t('data.label.swedish'), value: 'sv-SE' },
            ]
        },

        credentialsAsQueryString() {
            return qs.stringify(
                _.merge(
                    {
                        grant_type: 'password',
                    },
                    this.credentials
                )
            )
        },

        rules() {
            const rules = {
                username: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: this.$t('form.label.email'),
                        }),
                        trigger: 'blur',
                    },
                    {
                        type: 'email',
                        message: this.$t('form.validation.valid', {
                            name: this.$t('form.label.email'),
                        }),
                        trigger: 'blur,change',
                    },
                ],
                password: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: this.$t('form.label.password'),
                        }),
                        trigger: 'blur',
                    },
                ],
            }

            Vue.nextTick(() => this.$refs.form.clearValidate())

            return rules
        },
    },

    methods: {
        ...mapActions(['changeLanguage']),

        async login() {
            let redirect = this.$auth.redirect()

            this.loading = true

            try {
                await this.$refs.form.validate()
                await this.$auth.login({
                    data: this.credentialsAsQueryString,
                    redirect: {
                        name: redirect ? redirect.from.name : 'bookings',
                    },
                })
            } catch (e) {
                if (e === false) {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: this.$t('form.validation.invalidLogin'),
                    })
                }
            }

            this.loading = false
        },
    },
}
</script>
