<template>
    <div class="el-main-wrapper">
        <el-row class="el-title-block">
            <h1 class="el-title-with-icon">
                {{ $t('navigation.eventTool') }}
            </h1>
        </el-row>
        <el-row>
            <stc-event-tool-list></stc-event-tool-list>
        </el-row>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import EventToolList from '../../components/event-tool-list/EventToolList'

export default {
    name: 'event-tool-view',

    components: {
        'stc-event-tool-list': EventToolList,
    },

    computed: mapGetters(['selectedContainer']),
}
</script>
