<template>
    <div class="el-main-wrapper">
        <el-row class="el-title-block">
            <h1 class="el-title-with-icon">
                {{ $t('title.unloadingAreas') }}
                <span v-if="selectedContainer"
                >: {{ selectedContainer.Description }}</span
                >
            </h1>
        </el-row>

        <div class="el-main-content">
            <stc-create-unloading-areas
                v-if="permissions.includes('UNLOADINGAREA_WRITE')"
            ></stc-create-unloading-areas>
            <stc-unloading-area-list></stc-unloading-area-list>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import UnloadingAreaList from '../../components/unloading-areas/UnloadingAreaList'
import CreateUnloadingAreas from '../../components/unloading-areas/CreateUnloadingAreas'

export default {
    name: 'unloading-areas-view',

    components: {
        'stc-unloading-area-list': UnloadingAreaList,
        'stc-create-unloading-areas': CreateUnloadingAreas,
    },

    computed: mapGetters(['permissions', 'selectedContainer']),
}
</script>
