<template>
    <div class="el-form-card">
        <div class="el-form-card__header">
            {{ formText }} {{ $t('form.title.vehicle') }}
        </div>
        <div class="el-form-card__body">
            <el-form
                ref="form"
                class="dark-form"
                :model="form"
                :rules="rules"
                size="mini"
                label-position="top"
                label-width="125px"
            >
                <el-row>
                    <div class="el-form-card__element-wrapper">
                        <el-form-item prop="PlateNo">
                            <v-text-field
                                :label="$t('form.label.plateNo')"
                                v-model="form.PlateNo"
                                required
                            ></v-text-field>
                        </el-form-item>
                    </div>
                </el-row>

                <el-row>
                    <div class="el-form-card__element-wrapper">
                        <el-form-item prop="Description">
                            <v-text-field
                                :label="$t('form.label.description')"
                                v-model="form.Description"
                                required
                            ></v-text-field>
                        </el-form-item>
                    </div>
                </el-row>

                <div class="button-wrapper flex justify-between items-center">
                    <v-btn
                        round
                        color="primary"
                        @click="submit"
                        :disabled="
                            loading
                        "
                        dark
                    >{{ formText }}</v-btn
                    >
                    <v-btn round color="dark" @click="reset" dark>{{
                        $t('form.button.cancel')
                    }}</v-btn>
                </div>
            </el-form>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'vehicle-create',

    data() {
        return {
            editing: false,
            loading: false,
            vehicle: {
                Description: '',
                PlateNo: '',
                ContainerID: '',
            },
            form: {
                Description: '',
                PlateNo: '',
                ContainerID: '',
            },
        }
    },

    components: {},
    created() {
        console.log(this.selectedContainer.ContainerType === 'CCC')
        this.form.ContainerID = this.selectedContainer.ContainerID
    },

    computed: {
        ...mapGetters(['permissions', 'selectedContainer']),

        formText() {
            return this.editing
                ? this.$t('form.title.update')
                : this.$t('form.title.create')
        },

        rules() {
            const rules = {
                PlateNo: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: this.$t('form.label.plateNo'),
                        }),
                        trigger: 'blur',
                    },
                ],

                Description: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: this.$t('form.label.description'),
                        }),
                        trigger: 'blur',
                    },
                ],
            }

            Vue.nextTick(() => this.$refs.form.clearValidate())

            return rules
        },
    },

    mounted() {
        Events.$on('vehicle-editing', async data => {
            await this.$refs.form.resetFields()
            this.reset()

            this.editing = true

            this.vehicle = data.vehicle
            this.form.container = data.container
            this.fillFormSupplier(this.vehicle)
        })
    },

    watch: {},

    methods: {
        reset() {
            this.vehicle.ContainerID = ''
            this.vehicle.Description = ''
            this.vehicle.PlateNo = ''

            this.form.ContainerID = ''
            this.form.Description = ''
            this.form.PlateNo = ''
            this.editing = false
        },

        fillFormSupplier(vehicle) {
            this.form.Description = vehicle.Description
            this.form.PlateNo = vehicle.PlateNo
        },

        async submit() {
            this.loading = true

            let container = this.form.container || this.selectedContainer

            try {
                await this.$refs.form.validate()

                let method = this.editing ? 'put' : 'post'
                let url = this.editing
                    ? `Vehicle/${this.vehicle.VehicleID}`
                    : `Container/${container.ContainerID}/Vehicle`

                await this.$http[method](url, {
                    Description: this.form.Description,
                    PlateNo: this.form.PlateNo,
                })

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.editing
                        ? this.$i18n.i18next.t('message.success.updated', {
                              section: this.$i18n.i18next.t('text.vehicle'),
                          })
                        : this.$i18n.i18next.t('message.success.created', {
                              section: this.$i18n.i18next.t('text.vehicle'),
                          }),
                })

                this.notifySupplierUpdate(container)
                this.reset()
            } catch (e) {
                if (e === false) {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: `${e.response.data}.`,
                    })
                }
            }

            this.loading = false
        },

        notifySupplierUpdate(container = null) {
            Events.$emit('vehicle-updated', container)
        },
    },
}
</script>

<style lang="scss" scoped>
.cell {
    .el-form-item--mini {
        margin-bottom: 0 !important;
    }
}
.el-form-card {
    overflow: visible;
}
</style>
