.booking {
  &__check-box {
    &--express-delivery{
      label {
        position: relative;
        padding-left: 39px;
        &:before {
          content: '';
          width: 29px;
          height: 16px;
          display: block;
          background: url("/images/icon/express_delivery.png") no-repeat;
          position: absolute;
          left: 0;
          bottom: 7px;
        }
      }
    }

    &--fork-lift {
      label {
        position: relative;
        padding-left: 39px;
        &:before {
          content: '';
          width: 29px;
          height: 16px;
          display: block;
          background: url("/images/icon/fork_lift.png") no-repeat;
          position: absolute;
          left: 0;
          bottom: 7px;
        }
      }
    }

    &--truck {
      label {
        position: relative;
        padding-left: 39px;
        &:before {
          content: '';
          width: 24px;
          height: 24px;
          display: block;
          background: url("/images/icon/telehandler.png") no-repeat;
          background-size: 24px;
          position: absolute;
          left: 0;
          bottom: 4px;
        }
      }
    }

    &--labourers {
      label {
        position: relative;
        padding-left: 39px;
        &:before {
          content: '';
          width: 29px;
          height: 16px;
          display: block;
          background: url("/images/icon/labourers.png") no-repeat;
          position: absolute;
          left: 0;
          bottom: 7px;
        }
      }
    }

    &--crane {
      label {
        position: relative;
        padding-left: 39px;
        &:before {
          content: '';
          width: 29px;
          height: 16px;
          display: block;
          background: url("/images/icon/industrial_crane.png") no-repeat;
          position: absolute;
          left: 0;
          bottom: 7px;
        }
      }
    }

    &--tools {
      label {
        position: relative;
        padding-left: 39px;
        &:before {
          content: '';
          width: 29px;
          height: 16px;
          display: block;
          background: url("/images/icon/tools-sm.png") no-repeat;
          position: absolute;
          left: 0;
          bottom: 7px;
        }
      }
    }

  }

  &__add-item {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    color: $--input-text-color;
    &:before {
      content: '';
      width: 30px;
      height: 30px;
      display: block;
      background: url("/images/icon/add_item.png") no-repeat;
      position: absolute;
      left: 0;
      bottom: -6px;
    }
  }

  &__added-item {
    cursor: pointer;
    background: url("/images/icon/added_item.png") no-repeat;
    width: 35px;
    height: 37px;
    display: block;
    float: right;
    margin-top: -9px;
  }

  &__added-item--empty {
    cursor: pointer;
    background: url("/images/icon/item_empty.png") no-repeat;
    width: 29px;
    height: 30px;
    display: block;
    float: right;
    margin-top: -2px;
  }
}

.calendar-filter-list-group {
  .input-group.input-group--selection-controls label {
    height: 23px;
    color: $--color-white;

    span {
      height: 23px;
      line-height: 22px;
      padding-left: 10px;
      color: #fff;
      width: 100%;
      float: left;
    }
  }
}

//Filter label color palette
.calendar-filter-list-group {
  .label__orchid-orange {
    label {
      background: #FEA47F;
    }
  }
  .label__spiro_disco_ball {
    label {
      background: #25CCF7;
    }
  }
  .label__honey_glow {
    label {
      background: #EAB543;
    }
  }
  .label__sweet_garden {
    label {
      background: #55E6C1;
    }
  }
  .label__falling_star {
    label {
      background: #CAD3C8;
    }
  }
  .label__rich_gardenia {
    label {
      background: #F97F51;
    }
  }
  .label__clear-chill {
    label {
      background: #1B9CFC;
    }
  }
  //https://flatuicolors.com/palette/in used this pallet for colors
}
