.el {
    &-dashboard-card-wrapper {

    }

    &-card-title {
        font-size: $--font-size-x-large;
        font-weight: 600;
        color: $--color-white;
        position: absolute;
        width: 100%;
        display: block;
        top: 30px;
        left: 30px;
        transition: border-color .3s, background-color .3s, color .3s, background .3s;

        span {
            font-size: $--font-size-large;
            font-weight: 500;
            width: 100%;
            display: block;
            margin-bottom: -5px;
        }
    }

    &-dashboard-card {
        display: block;
        float: left;
        margin-right: 30px;
        margin-bottom: 30px;
        width: 255px;
        height: 250px;
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
        background-color: $--background-dark;
        cursor: pointer;
        position: relative;
        transition: border-color .3s, background-color .3s, color .3s, background .3s;

        &:hover {
            .el-card-title {
                color: $--cta-green;
            }
        }

        &-booking {
            background: url("/images/icon/booking_lg.png") $--darker-gray no-repeat center bottom 30px;

            &:hover {
                background: url("/images/icon/bookings_lg_hover.png") $--cta-dark no-repeat center bottom 30px;
            }

            &--inactive {
                background: url("/images/icon/bookings_lg-inactive.png") $--color-white no-repeat center center !important;
                cursor: not-allowed !important;
            }
        }

        &-users {
            background: url("/images/icon/users_lg.png") $--darker-gray no-repeat center bottom 30px;

            &:hover {
                background: url("/images/icon/users_lg_hover.png") $--cta-dark no-repeat center bottom 30px;
            }

            &--inactive {
                background: url("/images/icon/users_lg-inactive.png") $--color-white no-repeat center center !important;
                cursor: not-allowed !important;
            }
        }

        &-checkpoints {
            background: url("/images/icon/checkpoints_lg.png") $--darker-gray no-repeat center bottom 30px;

            &:hover {
                background: url("/images/icon/checkpoints_lg_hover.png") $--cta-dark no-repeat center bottom 30px;
            }

            &--inactive {
                background: url("/images/icon/checkpoints_lg-inactive.png") $--color-white no-repeat center center !important;
                cursor: not-allowed !important;
            }
        }

        &-unloading {
            background: url("/images/icon/unloading_lg.png") $--darker-gray no-repeat center bottom 30px;

            &:hover {
                background: url("/images/icon/unloading_lg_hover.png") $--cta-dark no-repeat center bottom 30px;
            }

            &--inactive {
                background: url("/images/icon/unloading_lg-inactive.png") $--color-white no-repeat center center !important;
                cursor: not-allowed !important;
            }
        }

        &-material-manager {
            background: url("/images/icon/material-manager_white@3x.png") $--darker-gray no-repeat center bottom 30px;

            &:hover {
                background: url("/images/icon/material-manager_b_hover@3x.png") $--cta-dark no-repeat center bottom 30px;
            }

            &--inactive {
                background: url("/images/icon/material-manager-inactive@3x.png") $--color-white no-repeat center center !important;
                cursor: not-allowed !important;
            }
        }

        &-route-planner {
            background: url("/images/icon/route-manager_white@3x.png") $--darker-gray no-repeat center bottom 30px;

            &:hover {
                background: url("/images/icon/route-manager_blue@3x.png") $--cta-dark no-repeat center bottom 30px;
            }

            &--inactive {
                background: url("/images/icon/route-manager-inactive@3x.png") $--color-white no-repeat center center !important;
                cursor: not-allowed !important;
            }
        }

        &-follow-up {
            background: url("/images/icon/follow_white@3x.png") $--darker-gray no-repeat center bottom 30px;

            &:hover {
                background: url("/images/icon/follow_blue@3x.png") $--cta-dark no-repeat center bottom 30px;
            }

            &--inactive {
                background: url("/images/icon/follow_white@3x.png") $--color-white no-repeat center center !important;
                cursor: not-allowed !important;
            }
        }

        &-supplier {
            background: url("/images/icon/suppliers_white@3x.png") $--darker-gray no-repeat center bottom 30px;

            &:hover {
                background: url("/images/icon/suppliers_blue@3x.png") $--cta-dark no-repeat center bottom 30px;
            }

            &--inactive {
                background: url("/images/icon/suppliers_inactive@3x.png") $--color-white no-repeat center center !important;
                cursor: not-allowed !important;
            }
        }

        &-eventTool {
            background: url("/images/icon/eventTool_white@3x.png") $--darker-gray no-repeat center bottom 30px;

            &:hover {
                background: url("/images/icon/eventTool_blue@3x.png") $--cta-dark no-repeat center bottom 30px;
            }

            &--inactive {
                background: url("/images/icon/eventTool_white@3x.png") $--color-white no-repeat center center !important;
                cursor: not-allowed !important;
            }
        }

        &-vehicleTool {
            background: url("/images/icon/VehicleManagement_b_white.svg") $--darker-gray no-repeat center bottom 30px;

            &:hover {
                background: url("/images/icon/VehicleManagement_b_blue.svg") $--cta-dark no-repeat center bottom 30px;
            }

            &--inactive {
                background: url("/images/icon/VehicleManagement_b_white.svg") $--color-white no-repeat center center !important;
                cursor: not-allowed !important;
            }
        }
    }
}
