.el {
  &-panel-wrapper {
    padding: 30px;
    height: 100%;
    overflow-y: auto;
    background: #e6e9ee;

    .el-grid-card {
      padding: 20px;
      background: $--item-select-gray;
    }

    .el-grid-card--white {
      background: $--color-white;
    }

    .el-top-input-wrapper {
      width: 270px;
    }

    .el-top-icon-wrapper {
      float: left;
      height: 46px;
      .resources-icon-list {
        padding-top: 20px;
      }
    }

    .el-draggable-area {
      height: 80px;
      text-align: center;
      width: 100%;
      display: block;
      line-height: 80px;
      border: 2px solid $--cta-green;
      font-size: 18px;
      color: $--cta-green;
      margin-bottom: 20px;
      margin-top: 5px;
    }
  }

  &-dark-top-bar {
    background-color: $--item-select-gray !important;
    .btn.btn--icon.theme--dark {
      width: 30px;
    }
    .btn__content:before {
      width: 30px;
    }
  }
}

.primary.el-dark-top-bar.toolbar.theme--dark {
  background-color: $--item-select-gray !important;
}

.router-list-item {
  height: 68px;
  width: 100%;
  display: block;
  margin-bottom: 2px;
  padding: 15px 30px 15px 50px;
  background: #384252;
  color: $--color-white;
  border: 1px solid #384252;
  position: relative;

  &:hover {
    border: 1px solid $--cta-green;

    .router-list-item {
      &__details {
        color: $--color-white;

      }

      &__details-lg-row {
        color: $--color-white;
      }
    }
  }

  &__radio {
    position: absolute;
    left: 15px;
    top: 10px;
    .radio-group {
      padding-top: 0;
    }
  }

  &__details {
    width: 100%;
    display: block;
    font-size: 11px;
    color: #989ea6
  }

  &__details-lg-row {
    font-size: 14px;
    color: #989ea6;
    margin-top: -6px;

    .router-list-item {
      &__details-label {
        height: 17px;
      }

      &__details-value {
        height: 17px;
      }
    }
  }

  &__details-label {
    width: 40%;
    display: block;
    float: left;
    height: 14px;
  }

  &__details-value {
    width: 60%;
    display: block;
    float: left;
    height: 14px;
  }

  &__actions {
    position: absolute;
    width: 20px;
    top: 1px;
    right: 4px;

    &-delete {
      width: 20px;
      height: 24px;
      background: url("/images/icon/delete.png") no-repeat center center;
      cursor: pointer;
      display: block;
      &:hover {
        background: url("/images/icon/delete_selected.png") no-repeat center center;
      }
    }

    &-edit {
      width: 20px;
      height: 24px;
      background: url("/images/icon/edit.png") no-repeat center center;
      cursor: pointer;
      display: block;
      &:hover {
        background: url("/images/icon/edit_selected.png") no-repeat center center;
      }
    }
  }

  &--selected {
    background: #4d5c74;

    .router-list-item {
      &__details {
        color: $--color-white;

      }

      &__details-lg-row {
        color: $--color-white;
      }
    }
  }
}

.top-calendar-picker.el-date-editor--datetimerange {
  padding : 0;
  height: 30px;
  border-radius: 0 !important;
  background: none !important;
  border: 0 !important;
  border-bottom: 1px solid #c3c9d3 !important;

  .el-range-input {
    color: #606266;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #606266;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #606266;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #606266;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #606266;
    }
  }
}

.top-calendar-picker {
  float: left;
  height: 30px;
  padding: 0;
  margin-right: 15px;
  margin-left: 15px;
  .el-input__inner {
    padding : 0;
    height: 30px;
    border-radius: 0 !important;
    background: none !important;
    border: 0 !important;
    border-bottom: 1px solid #c3c9d3 !important;
  }

  .el-input__prefix {
    display: none;
  }

  .el-input__icon {
    display: none;
  }
}

.top-multiselect {
  float: left;
  height: 30px;

  .el-input__inner {
    padding-left: 0;
    height: 30px !important;
    border-radius: 0 !important;
    background: none !important;
    border: 0 !important;
    border-bottom: 1px solid #c3c9d3 !important;
    margin-right: 15px;
    margin-left: 15px;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #606266;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #606266;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #606266;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #606266;
    }
  }

  .el-input__suffix {
    right: -18px;
    color: #606266;
  }

  .el-select .el-input .el-select__caret {
    color: #606266;
  }
}

.btn-calendar-group {
  float: left;
}

.btn-calendar-group.btn-toggle.btn-toggle--selected {
  box-shadow: none;
}

//.el-grid-card .btn-toggle .btn--active

