.el {
  &-login {
    background-color: $--background-dark;

    .main-app {
      > div {
        align-items: center !important;
        justify-content: center !important;
      }
    }

    .btn {
      text-transform: capitalize;
    }

    .link {
      float:right;
      color:#ccc;
      text-decoration: none;
      font-size:13px;
    }
  }

  &-login-bg {
    background: url('/images/bg/login.png') no-repeat center center;
    background-size: cover;
  }

  &-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    img {
      width: 250px;
    }
  }

  &-center-right-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-right: 175px;
  }

  &-login-card {
    width: 285px;

    .el-title-with-icon {
      color: $--cta-blue;
      margin-bottom: 35px;
    }
  }
}
