.el- {
  &material-manager-grid {
    .top-data-btn {
      margin: 0 0 0 15px;
    }
  }
  &date-editor {
    &--datetimerange {
      float: left;
    }
  }

  &table-info {
    height: 30px;
    width: 100%;
    display: block;
    background: #232b36;
    padding: 0 0 0 10px;

    &__panel {
      float: left;

      ul {
        list-style: none;
        padding: 0;
        margin: 4px 0 0 0;

        li {
          display: inline-block;
          color: $--color-white;
          font-size: $--font-size-small;
          line-height: 1;
          padding: 0 10px 0 0;

          &:last-child {
            border-right: none;
          }
        }
      }
    }

    &__input {
      background: #fffbd5;
      height: 30px;
      margin-top: -5px;
      color: $--background-dark;
      padding-left: 10px;
      margin-left: 10px;
      &:read-only {
        background: #f1f3f7 !important;
      }
      &--sm {
        width: 88px;
      }

      &--lg {
        width: 280px;
      }
    }

    &__actions {
      float: right;
    }

    &__btn {
      color: $--color-white !important;
      border-radius: 0 !important;
      border: 0 !important;
      width: auto !important;
      float: left;

      &--sm {
        min-width: 71px !important;
      }

      &--lg {
        min-width: 130px !important;
      }

      &--primary {
        background: $--cta-green !important;
        border-right: 1px solid #232b36 !important;
      }

      &--warning {
        background: $--warning-red !important;
      }

      &--dark {
        background: $--cta-dark !important;
      }
    }
  }

  &package-group-wrapper {
    display: block;
    margin-bottom: 15px;
  }

  &bottom-btn-panel {
    float: right;

    .el-table-info__btn {
      margin-left: 10px;
    }
  }
}

.el-material-expand {
  width: 100%;
  display: table;
  .el-plateNo-wrapper {
    float: left;
    width: 100%;
    padding-right: 15px;
  }

  .input-group--select .input-group__selections__comma {
    font-size: 12px !important;
    color: #384252 !important;
  }

  .el-table__inner-editable .input-group__selections__comma {
    color: #384252 !important;
    font-size: 12px !important;
  }

  .el-arrival-wrapper {
    float: left;
    width: 100%;
    padding-right: 20px;
    position: relative;
    margin-top: 19px;

    .el-btn-with-input {
      right: 20px !important;
    }
  }

  .el-datepicker-wrapper {
    padding-top: 19px;
    width: 100%;
    .el-input__inner {
      width: 100%;
    }
  }

  .el-text-field-wrapper {
    padding-right: 20px;
    .password-form-group {
      position: relative;
      .input-group {
        width: 100% !important;
        position: relative;
      }
      .btn-toggle {
        position: absolute;
        right: 0;
        .btn {
          width: auto;
        }
      }
    }
  }

  .el-btn-with-input {
    position: absolute;
    right: 0;
    top: 0;
    border: 0 !important;
    &:before {
      background: none;
    }
  }
}

.readonly {
  .input-group__details:after {
    display: none;
  }
}

.resources-icon-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .resource-icon {
    display: block;
    float: left;
    height: 16px;
    &__transporter {
      width: 22px;
      background: url("/images/icon/transporter.png") no-repeat center center;
    }
    &__truck {
      width: 23px;
      margin-left: 10px;
      background: url("/images/icon/truck.png") no-repeat center center;
    }
    &__team {
      width: 19px;
      margin-left: 10px;
      background: url("/images/icon/team.png") no-repeat center center;
    }
    &__crane {
      width: 28px;
      margin-left: 5px;
      background: url("/images/icon/crane.png") no-repeat center center;
    }
    &__tools {
      width: 16px;
      margin-left: 5px;
      background: url("/images/icon/tools.png") no-repeat center center;
    }
  }
}

.expanded {
  .resource-icon {
    &__transporter {
      background: url("/images/icon/transporter_selected.png") no-repeat center center;
    }
    &__truck {
      background: url("/images/icon/truck_selected.png") no-repeat center center;
    }
    &__team {
      background: url("/images/icon/team_selected.png") no-repeat center center;
    }
    &__crane {
      background: url("/images/icon/crane_selected.png") no-repeat center center;
    }
    &__tools {
      background: url("/images/icon/tools_selected.png") no-repeat center center;
    }
  }
}

.express-icon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  .express-icon {
    display: block;
    float: left;
    height: 16px;
    width: 29px;
    background: url("/images/icon/express.png") no-repeat center center;
  }
}

.expanded {
  .express-icon {
    background: url("/images/icon/express_selected.png") no-repeat center center;
  }
}
