.supplier-tree-select .vue-treeselect__single-value {
    color: #989ea6 !important;
}
.supplier-tree-select .vue-treeselect__control {
    border-bottom: 1px solid #25282d;
}
.supplier-tree-select .vue-treeselect__placeholder {
    color: #989ea6 !important;
}
.supplier-tree-select .vue-treeselect__arrow {
    border-top-color: #989ea6;
}
.supplier-tree-select .vue-treeselect__input {
    color: #989ea6 !important;
}
