<template>
    <div class="el-grid-card">
        <div class="el-grid-card__header">{{ $t('title.overview') }}</div>
        <div class="el-grid-card__body">
            <el-row>
                <el-table
                    :data="suppliers"
                    size="mini"
                    class="w-full mb-6"
                    style="width: 100%"
                    v-loading="loading"
                    border
                >
                    <el-table-column
                        sortable
                        :sort-method="(a, b) => sortBy(a, b, 'SupplierName')"
                        prop="SupplierName"
                        :label="$t('form.label.supplierName')"
                    ></el-table-column>
                    <el-table-column
                        :label="$t('table.column.operations')"
                        :resizable="false"
                        width="120"
                    >
                        <template slot-scope="{ row }">
                            <div class="btn-action-wrapper">
                                <a
                                    href="#"
                                    class="btn-action"
                                    @click.prevent="edit(row)"
                                >
                                    <v-btn flat icon color="cyan darken-3">
                                        <v-icon>mode_edit</v-icon>
                                    </v-btn>
                                </a>
                                <a
                                    href="#"
                                    class="btn-action"
                                    @click.prevent="remove(row)"
                                    title="Delete"
                                >
                                    <v-btn flat icon color="red darken-3">
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                                </a>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </el-row>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import InteractWithSort from '../../mixins/interact-with-sort'

export default {
    name: 'supplier-list',

    data() {
        return {
            suppliers: [],
            loading: false,
            container: null,
        }
    },

    computed: {
        ...mapGetters(['selectedContainer', 'permissions']),
    },

    mixins: [InteractWithSort],

    created() {
        Events.$on('supplier-updated', container => {
            this.fetch(container)
            this.container = container
        })
    },

    methods: {
        async remove(supplier) {
            try {
                await this.$confirm(
                    this.$i18n.i18next.t('message.warning.delete', {
                        section: this.$i18n.i18next.t('text.supplier'),
                    }),
                    'Warning',
                    {
                        confirmButtonText: this.$i18n.i18next.t(
                            'button.text.confirm'
                        ),
                        cancelButtonText: this.$i18n.i18next.t(
                            'button.text.cancel'
                        ),
                        type: 'warning',
                    }
                )

                let container = this.container || this.selectedContainer

                await this.$http.delete(
                    `Container/${container.ContainerID}/Supplier/${
                        supplier.SupplierID
                    }`
                )
                await this.fetch(container)

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.$i18n.i18next.t('message.success.deleted', {
                        section: this.$i18n.i18next.t('text.supplier'),
                    }),
                })
            } catch (e) {
                if (e === 'cancel') {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: this.$i18n.i18next.t('message.error.general'),
                    })
                }
            }
        },

        edit(supplier) {
            const container = this.container || this.selectedContainer

            Events.$emit('supplier-editing', {
                supplier: { ...supplier },
                container: { ...container },
            })
        },

        async fetch(container = null) {
            this.loading = true

            container = container || this.selectedContainer

            if (container) {
                let { data } = await this.$http.get(
                    `Container/${container.ContainerID}/Supplier`
                )

                this.suppliers = data
            }

            this.loading = false
        },
    },
}
</script>
