<template>
    <div class="el-form-card" v-if="selectedContainer">
        <div class="el-form-card__header">
            {{ formText }} {{ $t('form.title.supplier') }}
        </div>
        <div class="el-form-card__body">
            <el-form
                ref="form"
                class="dark-form"
                :model="form"
                :rules="rules"
                size="mini"
                label-position="top"
                label-width="125px"
            >
                <el-row v-if="selectedContainer.ContainerType === 'CCC'">
                    <div class="el-form-card__element-wrapper">
                        <el-form-item prop="container">
                            <treeselect
                                v-model="form.container"
                                value-format="object"
                                :flat="true"
                                class="supplier-tree-select"
                                @select="reset"
                                :clearable="false"
                                :placeholder="
                                    $t('form.label.selectSearchContainer')
                                "
                                :options="selectedContainerTree"
                                :normalizer="normalizer"
                            />
                        </el-form-item>
                    </div>
                </el-row>

                <el-row>
                    <div class="el-form-card__element-wrapper">
                        <el-form-item prop="SupplierName">
                            <v-text-field
                                :label="$t('form.label.supplierName')"
                                v-model="form.SupplierName"
                                required
                            ></v-text-field>
                        </el-form-item>
                    </div>
                </el-row>

                <div class="button-wrapper flex justify-between items-center">
                    <v-btn
                        round
                        color="primary"
                        @click="submit"
                        :disabled="
                            loading || form.container.ContainerType === 'CCC'
                        "
                        dark
                    >{{ formText }}</v-btn
                    >
                    <v-btn round color="dark" @click="reset" dark>{{
                        $t('form.button.cancel')
                    }}</v-btn>
                </div>
            </el-form>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Treeselect from '@riophae/vue-treeselect'

export default {
    name: 'supplier-create',

    data() {
        return {
            editing: false,
            loading: false,
            supplier: {
                SupplierName: '',
                ContainerID: '',
                SupplierID: '',
            },
            form: {
                SupplierName: '',
                ContainerID: '',
                container: null,
            },
            normalizer(node) {
                let data = {
                    id: node.ContainerID,
                    label: node.Description,
                }

                if (node.Children && node.Children.length) {
                    return {
                        ...data,
                        children: node.Children,
                    }
                }

                return data
            },
        }
    },

    components: {
        treeselect: Treeselect,
    },

    computed: {
        ...mapGetters(['permissions', 'selectedContainer']),

        formText() {
            return this.editing
                ? this.$t('form.title.update')
                : this.$t('form.title.create')
        },

        rules() {
            const rules = {
                SupplierName: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: this.$t('form.label.supplierName'),
                        }),
                        trigger: 'blur',
                    },
                ],

                container: [
                    {
                        required: true,
                        message: this.$t('form.validation.required', {
                            name: this.$t('form.label.container'),
                        }),
                        trigger: 'blur',
                    },
                ],
            }

            Vue.nextTick(() => this.$refs.form.clearValidate())

            return rules
        },

        selectedContainerTree() {
            return [this.selectedContainer]
        },
    },

    mounted() {
        Events.$on('supplier-editing', async data => {
            await this.$refs.form.resetFields()
            this.reset()

            this.editing = true

            this.supplier = data.supplier
            this.form.container = data.container
            this.fillFormSupplier(this.supplier)
        })
    },

    watch: {
        'form.container'(container) {
            if (!container) return

            Events.$emit('supplier-updated', container)
            this.form.ContainerID = container.ContainerID
        },

        selectedContainer: {
            handler(container) {
                if (!container) return
                this.form.container = { ...container }
            },
            immediate: true,
        },
    },

    methods: {
        reset() {
            this.supplier.ContainerID = ''
            this.supplier.SupplierID = ''
            this.supplier.SupplierName = ''
            this.form.ContainerID = ''
            this.form.SupplierName = ''
            this.editing = false
        },

        fillFormSupplier(supplier) {
            this.form.SupplierName = supplier.SupplierName
        },

        async submit() {
            this.loading = true

            let container = this.form.container || this.selectedContainer

            try {
                await this.$refs.form.validate()

                let method = this.editing ? 'put' : 'post'
                let url = this.editing
                    ? `Container/${container.ContainerID}/Supplier/${
                          this.supplier.SupplierID
                      }`
                    : `Container/${container.ContainerID}/Supplier`

                await this.$http[method](url, {
                    SupplierName: this.form.SupplierName,
                    ContainerID: container.ContainerID,
                })

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.editing
                        ? this.$i18n.i18next.t('message.success.updated', {
                              section: this.$i18n.i18next.t('text.supplier'),
                          })
                        : this.$i18n.i18next.t('message.success.created', {
                              section: this.$i18n.i18next.t('text.supplier'),
                          }),
                })

                this.notifySupplierUpdate(container)
                this.reset()
            } catch (e) {
                if (e === false) {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: `${e.response.data}.`,
                    })
                }
            }

            this.loading = false
        },

        notifySupplierUpdate(container = null) {
            Events.$emit('supplier-updated', container)
        },
    },
}
</script>

<style lang="scss" scoped>
.cell {
    .el-form-item--mini {
        margin-bottom: 0 !important;
    }
}
.el-form-card {
    overflow: visible;
}
</style>
