<template>
    <div class="el-main-wrapper">
        <el-row class="el-title-block">
            <h1 class="el-title-with-icon">
                {{ $t('title.suppliers') }}
                <span v-if="selectedContainer"
                >: {{ selectedContainer.Description }}</span
                >
            </h1>
        </el-row>

        <div class="el-main-content">
            <stc-supplier-create></stc-supplier-create>
            <stc-supplier-list></stc-supplier-list>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SupplierList from '../../components/supplier/SupplierList'
import SupplierCreate from '../../components/supplier/SupplierCreate'

export default {
    name: 'supplier-view',

    components: {
        'stc-supplier-list': SupplierList,
        'stc-supplier-create': SupplierCreate,
    },

    computed: mapGetters(['permissions', 'selectedContainer']),
}
</script>
