<template>
    <div class="el-main-content el-main-content--full-height">
        <div
            class="el-form-card"
            :class="{ 'el-form-card--collapse': collapseMaterialManager }"
        >
            <div class="el-form-card__header">
                <div
                    class="el-form-card__header-left-icon"
                    @click="collapseMaterialManager = !collapseMaterialManager"
                >
                    <img src="/images/icon/material-manager.png" />
                </div>
                <div class="el-form-card__header-text">
                    {{ $t('form.title.materialManager') }}
                </div>
                <div
                    class="el-form-card__header-right-icon"
                    @click="collapseMaterialManager = !collapseMaterialManager"
                >
                    <img src="/images/icon/minimize.png" />
                </div>
            </div>
            <div class="el-form-card__body">
                <div class="el-form-card__collapse-label">
                    {{ $t('form.title.materialManager') }}
                </div>
                <el-form
                    class="dark-form overflow-scroll"
                    style="height: 700px;"
                    label-position="top"
                    label-width="150px"
                    size="mini"
                >
                    <el-row>
                        <div class="el-form-card__package-wrapper">
                            <div
                                class="el-form-card__package-item"
                                v-for="material in orderedMaterials"
                                v-show="material.PackageGroups.length"
                                :key="material.BLCNotificationID"
                            >
                                <div
                                    :class="{
                                        'el-form-card__package-title--express':
                                            material.IsExpress,
                                    }"
                                    class="el-form-card__package-title"
                                >
                                    <div class="el-form-card__package-item-text pr-0">
                                        <span>
                                            <a
                                                class="Light_Blue_Color1"
                                                href="#"
                                                @click="
                                                    openMaterialDialog(material)
                                                "
                                            >{{
                                                material.DestinationContainer
                                            }}</a
                                            >
                                        </span>
                                        <span class="text-xs-right right mr-3">
                                            Arrived: {{ material.ActualArrivalDate }}
                                        </span>
                                    </div>
                                    <div class="el-form-card__package-item-icons">
                                        <ul class="resources-icon-list resources-icon-list--white">
                                            <li
                                                v-if=" material.RequestedResouces.includes('FORKLIFT')"
                                                class="resource-icon resource-icon__transporter"
                                            ></li>
                                            <li
                                                v-if="material.RequestedResouces.includes('TRUCK')"
                                                class="resource-icon resource-icon__truck"
                                            ></li>
                                            <li
                                                v-if="material.RequestedResouces.includes('MANPOWER')"
                                                class="resource-icon resource-icon__team"
                                            ></li>
                                            <li
                                                v-if="material.RequestedResouces.includes('CRANE')"
                                                class="resource-icon resource-icon__crane"
                                            ></li>
                                            <li
                                                v-if="material.RequestedResouces.includes('TOOLS')"
                                                class="resource-icon resource-icon__tools"
                                            ></li>
                                        </ul>
                                    </div>
                                </div>
                                <el-collapse>
                                    <el-collapse-item
                                        v-for="packageGroup in material.PackageGroups"
                                        :key="packageGroup.PackageGroupID"
                                        :name="packageGroup.PackageGroupID"
                                    >
                                        <template slot="title">
                                            <div class="el-collapse-item__header-content">
                                                <div class="el-collapse-item__header-text">
                                                    {{ packageGroup.Reference }}
                                                </div>
                                            </div>
                                        </template>
                                        <ul class="el-collapse-item__content-item-list">
                                            <draggable :options="{ group: `.${material.BLCNotificationID}` }" @sort="movePackageItem" :class="material.BLCNotificationID">
                                                <li v-for="item in packageGroup.PackageItems"
                                                    :data-package-item="item.PackageItemID"
                                                    :data-package-group="packageGroup.PackageGroupID"
                                                    v-if="item.StatusDescription !== 'HIDDEN_INVENTORY_TO_STOCK'"
                                                    :key="item.PackageItemID"
                                                    class="el-collapse-item__content-item">
                                                    <div class="flex cursor-move">
                                                        <div class="flex text-left w-1/2">{{ item.Description }} - {{ item.PackageType }}</div>
                                                    </div>
                                                </li>
                                            </draggable>
                                        </ul>
                                    </el-collapse-item>
                                    <div
                                        class="el-collapse-item__content-item-no-item"
                                        v-if="!material.PackageGroups.length"
                                    >
                                        {{ $t('text.noPackagesFound') }}
                                    </div>
                                </el-collapse>
                            </div>
                        </div>
                    </el-row>
                </el-form>
            </div>
        </div>
        <div
            class="el-grid-card el-grid-card--no-style calendar-main-wrapper route-planner-cal-wrapper"
        >
            <div class="el-row el-grid-card__filter-section">
                <div class="el-grid-card__filter-section-left">
                    <v-btn-toggle class="btn-calendar-group">
                        <v-btn
                            flat
                            color="dark"
                            class="btn-calendar-sm"
                            @click="prevDate"
                        >
                            <v-icon dark>keyboard_arrow_left</v-icon>
                        </v-btn>
                    </v-btn-toggle>
                    <el-date-picker
                        class="top-calendar-picker"
                        v-model="date"
                        format="yyyy-MM-dd (dddd)"
                        type="date"
                        :picker-options="pickerOptions"
                        :placeholder="$t('form.label.pickADay')"
                    >
                    </el-date-picker>
                    <v-btn-toggle
                        v-model="activeButton"
                        class="btn-calendar-group"
                    >
                        <v-btn
                            flat
                            color="dark"
                            class="btn-calendar-sm"
                            @click="nextDate"
                        >
                            <v-icon dark>keyboard_arrow_right</v-icon>
                        </v-btn>
                        <v-btn
                            flat
                            color="dark"
                            class="btn-calendar-auto"
                            @click="today"
                        >
                            {{ $t('button.text.today') }}
                        </v-btn>
                        <v-btn
                            flat
                            color="dark"
                            class="btn-calendar-auto"
                            @click="tomorrow"
                        >
                            {{ $t('button.text.tomorrow') }}
                        </v-btn>
                    </v-btn-toggle>
                </div>

                <div class="el-grid-card__filter-section-right">
                    <treeselect
                        v-model="selectedContainers"
                        value-format="object"
                        class="top-multiselect"
                        :multiple="true"
                        :flat="true"
                        :before-clear-all="handleBeforeClearAll"
                        :placeholder="$t('form.label.selectContainers')"
                        :options="containerTree"
                        :normalizer="normalizer"
                    />
                </div>
            </div>
            <el-row class="el-grid-card__check-box-row">
                <el-col :span="8">
                    <v-checkbox
                        hide-details
                        v-model="showSlotBookings"
                        :label="$t('form.label.showSlotBookings')"
                    >
                    </v-checkbox>
                </el-col>
                <el-col :span="8">
                    <v-checkbox
                        hide-details
                        v-model="editSlotBookings"
                        :label="$t('form.label.changeSlotBookingTime')"
                    >
                    </v-checkbox>
                </el-col>
            </el-row>
            <div class="el-row">
                <full-calendar
                    ref="calendar"
                    :config="config"
                    :header="header"
                    :events="bookings"
                    @event-created="addBooking"
                    @event-render="renderBooking"
                    @event-selected="selectBooking"
                    @event-drop="updateBooking"
                    @event-resize="updateBooking"
                />
            </div>
            <button
                class="hidden"
                ref="btnDialog"
                @click.stop="dialog = true"
            ></button>
            <v-dialog
                v-model="dialog"
                transition="dialog-bottom-transition"
                :overlay="false"
                scrollable
                fullscreen
            >
                <v-card>
                    <v-toolbar
                        style="flex: 0 0 auto"
                        dark
                        class="primary el-dark-top-bar"
                    >
                        <v-btn icon @click.native.stop="closeDialog" dark>
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title>{{
                            $t('title.details')
                        }}</v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>

                    <div class="el-panel-wrapper">
                        <div class="el-main-content">
                            <div class="el-form-card">
                                <div class="el-form-card__header">
                                    <div
                                        class="el-form-card__header-left-icon"
                                    ></div>
                                    <div class="el-form-card__header-text">
                                        {{ $t('form.title.materialManager') }}
                                    </div>
                                    <div
                                        class="el-form-card__header-right-icon"
                                    ></div>
                                    <v-switch
                                        v-model="filterByContainer"
                                        :label="$t('button.text.showAll')"
                                        color="yellow"
                                        hide-details
                                    ></v-switch>
                                </div>
                                <div class="el-form-card__body">
                                    <el-form
                                        class="dark-form overflow-scroll"
                                        style="height: 700px;"
                                        label-position="top"
                                        label-width="150px"
                                        size="mini"
                                    >
                                        <el-row>
                                            <div class="el-form-card__package-wrapper">
                                                <div
                                                    class="el-form-card__package-item"
                                                    v-for="material in filteredMaterials"
                                                    v-show="material.PackageGroups.length"
                                                    :key="material.BLCNotificationID"
                                                >
                                                    <div
                                                        :class="{
                                                            'el-form-card__package-title--express':
                                                                material.IsExpress,
                                                        }"
                                                        class="el-form-card__package-title"
                                                    >
                                                        <div class="el-form-card__package-item-text pr-0">
                                                            <span>{{ material.DestinationContainer }}</span>
                                                            <span class="text-xs-right right mr-3">
                                                                Arrived: {{ material.ActualArrival | formatDate }}
                                                            </span>
                                                        </div>
                                                        <div class="el-form-card__package-item-icons">
                                                            <ul class="resources-icon-list resources-icon-list--white">
                                                                <li
                                                                    v-if="material.RequestedResouces.includes('FORKLIFT')"
                                                                    class="resource-icon resource-icon__transporter"
                                                                ></li>
                                                                <li
                                                                    v-if="material.RequestedResouces.includes('TRUCK')"
                                                                    class="resource-icon resource-icon__truck"
                                                                ></li>
                                                                <li
                                                                    v-if="material.RequestedResouces.includes('MANPOWER')"
                                                                    class="resource-icon resource-icon__team"
                                                                ></li>
                                                                <li
                                                                    v-if="material.RequestedResouces.includes('CRANE')"
                                                                    class="resource-icon resource-icon__crane"
                                                                ></li>
                                                                <li
                                                                    v-if="material.RequestedResouces.includes('TOOLS')"
                                                                    class="resource-icon resource-icon__tools"
                                                                ></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <el-collapse>
                                                        <draggable
                                                            :list="material.PackageGroups"
                                                            :options="{ group: 'packages' }"
                                                            @end="movePackage"
                                                        >
                                                            <transition-group>
                                                                <el-collapse-item
                                                                    v-for="packageGroup in material.PackageGroups"
                                                                    :data-package="packageGroup.PackageGroupID"
                                                                    :key="packageGroup.PackageGroupID"
                                                                    :name="packageGroup.PackageGroupID"
                                                                >
                                                                    <template slot="title">
                                                                        <div class="el-collapse-item__header-content">
                                                                            <div class="el-collapse-item__header-text">
                                                                                {{ packageGroup.Reference }}
                                                                            </div>
                                                                        </div>
                                                                    </template>
                                                                    <ul class="el-collapse-item__content-item-list">
                                                                        <draggable :options="{ group: `.${material.BLCNotificationID}` }" @sort="movePackageItem" :class="material.BLCNotificationID">
                                                                            <li v-for="item in packageGroup.PackageItems"
                                                                                :data-package-item="item.PackageItemID"
                                                                                :data-package-group="packageGroup.PackageGroupID"
                                                                                v-if="item.StatusDescription !== 'HIDDEN_INVENTORY_TO_STOCK'"
                                                                                :key="item.PackageItemID"
                                                                                class="el-collapse-item__content-item">
                                                                                <div class="flex cursor-move">
                                                                                    <div class="flex text-left w-1/2">{{ item.Description}} - {{ item.PackageType }}</div>
                                                                                </div>
                                                                            </li>
                                                                        </draggable>
                                                                    </ul>
                                                                </el-collapse-item>
                                                            </transition-group>
                                                        </draggable>
                                                        <div
                                                            class="el-collapse-item__content-item-no-item"
                                                            v-if="!material.PackageGroups.length"
                                                        >
                                                            {{ $t('text.noPackagesFound') }}
                                                        </div>
                                                    </el-collapse>
                                                </div>
                                            </div>
                                        </el-row>
                                    </el-form>
                                </div>
                            </div>

                            <div class="el-grid-card">
                                <div>
                                    <div class="el-row">
                                        <el-col :span="18">
                                            <div class="el-row mb-2">
                                                <h2
                                                    class="el-table__inner-title"
                                                >
                                                    {{
                                                        form.unloadingArea
                                                            .Description || ''
                                                    }}
                                                    :
                                                    <span
                                                        class="el-table__inner-title--sub"
                                                    >
                                                        {{
                                                            form.start
                                                                ? form.start.format(
                                                                    'HH:mm'
                                                                )
                                                                : ''
                                                        }}
                                                        -
                                                        {{
                                                            form.end
                                                                ? form.end.format(
                                                                    'HH:mm'
                                                                )
                                                                : ''
                                                        }}
                                                    </span>
                                                </h2>
                                            </div>
                                        </el-col>
                                        <el-col :span="6">
                                            <div class="el-row">
                                                <el-col :span="12">
                                                    <div
                                                        class="el-table__inner-title-label"
                                                    >
                                                        {{
                                                            $t(
                                                                'table.label.vehicle'
                                                            )
                                                        }}:
                                                    </div>
                                                    <div
                                                        class="el-table__inner-title-content"
                                                    >
                                                        {{
                                                            form.vehicle
                                                                .Description
                                                        }}
                                                        {{
                                                            form.vehicle.PlateNo
                                                        }}
                                                    </div>
                                                </el-col>
                                                <el-col :span="12">
                                                    <div
                                                        class="el-table__inner-title-label"
                                                    >
                                                        {{
                                                            $t(
                                                                'table.label.recipient'
                                                            )
                                                        }}:
                                                    </div>
                                                    <div
                                                        class="el-table__inner-title-content"
                                                    >
                                                        {{
                                                            form.recipientCompany
                                                        }}
                                                        {{ form.recipientName }}
                                                        {{
                                                            form.recipientPhone
                                                        }}
                                                    </div>
                                                </el-col>
                                            </div>
                                        </el-col>
                                    </div>
                                    <div class="el-row flex">
                                        <div class="el-top-input-wrapper mr-4">
                                            <v-select
                                                :items="recipients"
                                                v-model="form.recipient"
                                                item-text="Label"
                                                combobox
                                                return-object
                                                :label="
                                                    $t(
                                                        'form.label.recipientName'
                                                    )
                                                "
                                                required
                                            >
                                            </v-select>
                                        </div>

                                        <div
                                            class="el-top-input-wrapper mr-4"
                                            v-if="routes.length"
                                        >
                                            <v-select
                                                :items="routes"
                                                item-text="Reference"
                                                return-object
                                                v-model="form.route"
                                                :label="$t('form.label.route')"
                                                required
                                            >
                                            </v-select>
                                        </div>

                                        <div class="el-top-input-wrapper mr-4">
                                            <v-select
                                                :items="form.unloadingAreas"
                                                item-text="Description"
                                                item-value="UnloadingAreaID"
                                                v-model="form.unloadingArea"
                                                return-object
                                                :label="
                                                    $t(
                                                        'form.label.unloadingArea'
                                                    )
                                                "
                                                required
                                            >
                                            </v-select>
                                        </div>
                                    </div>

                                    <div class="el-row">
                                        <div
                                            class="el-collapse-item__header-icon-list el-top-icon-wrapper"
                                        >
                                            <ul class="resources-icon-list">
                                                <li
                                                    v-if="
                                                        requestedResources.includes(
                                                            'FORKLIFT'
                                                        )
                                                    "
                                                    class="resource-icon resource-icon__transporter"
                                                ></li>
                                                <li
                                                    v-if="
                                                        requestedResources.includes(
                                                            'TRUCK'
                                                        )
                                                    "
                                                    class="resource-icon resource-icon__truck"
                                                ></li>
                                                <li
                                                    v-if="
                                                        requestedResources.includes(
                                                            'MANPOWER'
                                                        )
                                                    "
                                                    class="resource-icon resource-icon__team"
                                                ></li>
                                                <li
                                                    v-if="
                                                        requestedResources.includes(
                                                            'CRANE'
                                                        )
                                                    "
                                                    class="resource-icon resource-icon__crane"
                                                ></li>
                                                <li
                                                    v-if="
                                                        requestedResources.includes(
                                                            'TOOLS'
                                                        )
                                                    "
                                                    class="resource-icon resource-icon__tools"
                                                ></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <draggable
                                        v-if="editing"
                                        :list="packageGroups"
                                        :options="{ group: 'packages' }"
                                    >
                                        <div
                                            class="el-row"
                                            :key="packageGroup.PackageGroupID"
                                            v-for="packageGroup in packageGroupsWithoutHiddenItems"
                                        >
                                            <div
                                                class="el-package-group-wrapper"
                                            >
                                                <div class="el-row">
                                                    <div class="el-table-info">
                                                        <div
                                                            class="el-table-info__panel"
                                                        >
                                                            <ul>
                                                                <li>
                                                                    {{
                                                                        $t(
                                                                            'table.data.label.ref'
                                                                        )
                                                                    }}
                                                                    <span
                                                                        v-text="
                                                                            packageGroup.Reference
                                                                        "
                                                                    ></span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div
                                                            class="el-table-info__actions"
                                                        >
                                                            <v-btn
                                                                class="el-table-info__btn el-table-info__btn--sm el-table-info__btn--warning btn btn--flat"
                                                                flat
                                                                @click="
                                                                    movePackageToNotification(
                                                                        packageGroup
                                                                    )
                                                                "
                                                            >
                                                                {{
                                                                    $t(
                                                                        'button.text.returnToOriginatingBLCNotification'
                                                                    )
                                                                }}
                                                            </v-btn>
                                                        </div>
                                                    </div>
                                                    <el-table
                                                        :data="
                                                            packageGroup.PackageItems
                                                        "
                                                        class="el-table__inner-editable el-table__inner-editable--no-top-margin readonly"
                                                        style="width: 100%"
                                                        border
                                                        :cell-style="changeColumnBgColor"
                                                    >
                                                        <el-table-column
                                                            prop="StatusDescription"
                                                            :label="
                                                                $t(
                                                                    'table.column.status'
                                                                )
                                                            "
                                                        >
                                                        </el-table-column>
                                                        <el-table-column
                                                            :label="
                                                                $t(
                                                                    'table.column.description'
                                                                )
                                                            "
                                                            prop="Description"
                                                        ></el-table-column>
                                                        <el-table-column
                                                            :label="
                                                                $t(
                                                                    'table.column.packageType'
                                                                )
                                                            "
                                                            prop="PackageType"
                                                        ></el-table-column>
                                                        <el-table-column
                                                            :label="
                                                                $t(
                                                                    'table.column.trackingReference'
                                                                )
                                                            "
                                                            prop="TrackingReference"
                                                        ></el-table-column>
                                                        <el-table-column
                                                            :label="
                                                                $t(
                                                                    'table.column.customerReference'
                                                                )
                                                            "
                                                            prop="CustomReference"
                                                        ></el-table-column>
                                                        <el-table-column
                                                            :label="
                                                                $t(
                                                                    'table.column.height'
                                                                )
                                                            "
                                                            prop="Height"
                                                            width="100"
                                                        ></el-table-column>
                                                        <el-table-column
                                                            :label="
                                                                $t(
                                                                    'table.column.width'
                                                                )
                                                            "
                                                            prop="Width"
                                                            width="100"
                                                        ></el-table-column>
                                                        <el-table-column
                                                            :label="
                                                                $t(
                                                                    'table.column.length'
                                                                )
                                                            "
                                                            prop="Length"
                                                            width="100"
                                                        ></el-table-column>
                                                        <el-table-column
                                                            :label="
                                                                $t(
                                                                    'table.column.weight'
                                                                )
                                                            "
                                                            prop="Weight"
                                                            width="100"
                                                        ></el-table-column>
                                                    </el-table>
                                                </div>
                                            </div>
                                        </div>

                                        <div slot="footer" class="el-row">
                                            <div class="el-draggable-area">
                                                {{ $t('text.dragAndDropArea') }}
                                            </div>
                                        </div>
                                    </draggable>

                                    <div class="el-row">
                                        <div class="el-bottom-btn-panel">
                                            <v-btn
                                                v-if="editing"
                                                class="el-table-info__btn el-table-info__btn--sm el-table-info__btn--warning"
                                                @click="deleteBooking"
                                                flat
                                            >
                                                {{ $t('button.text.delete') }}
                                            </v-btn>
                                            <v-btn
                                                @click.native.prevent="submit"
                                                :disabled="saving"
                                                class="el-table-info__btn el-table-info__btn--sm el-table-info__btn--primary"
                                                flat
                                            >
                                                {{ $t('button.text.save') }}
                                            </v-btn>
                                            <v-btn
                                                @click.native.prevent="
                                                    submitAndClose
                                                "
                                                :disabled="saving"
                                                class="el-table-info__btn el-table-info__btn--sm el-table-info__btn--primary"
                                                flat
                                            >
                                                {{
                                                    $t('button.text.saveClose')
                                                }}
                                            </v-btn>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </v-card>
            </v-dialog>
        </div>
        <div
            class="el-form-card el-form-card--right"
            :class="{ 'el-form-card--collapse': collapseRouteManager }"
        >
            <div class="el-form-card__header">
                <div
                    class="el-form-card__header-left-icon"
                    @click="collapseRouteManager = !collapseRouteManager"
                >
                    <img src="/images/icon/route-manager.png" />
                </div>
                <div class="el-form-card__header-text">
                    {{ $t('form.title.routeManager') }}
                </div>
                <div
                    class="el-form-card__header-right-icon"
                    @click="collapseRouteManager = !collapseRouteManager"
                >
                    <img src="/images/icon/minimize.png" />
                </div>
            </div>
            <div class="el-form-card__body">
                <div class="el-form-card__collapse-label">
                    {{ $t('form.title.routeManager') }}
                </div>
                <el-form
                    class="dark-form"
                    label-position="top"
                    label-width="150px"
                    size="mini"
                >
                    <el-row v-if="editing">
                        <div class="el-form-card__element-wrapper">
                            <el-form-item>
                                <h2 class="el-form-card__inner-title--white">
                                    {{ $t('title.text.bLCRoute') }}:
                                    {{ this.route.Reference }}
                                </h2>
                            </el-form-item>
                        </div>
                    </el-row>
                    <el-row>
                        <div class="el-form-card__element-wrapper">
                            <el-form-item>
                                <v-select
                                    :items="drivers"
                                    item-text="FullName"
                                    v-model="routeForm.driver"
                                    :label="$t('text.driver')"
                                    return-object
                                    dark
                                    clearable
                                    required
                                >
                                </v-select>
                            </el-form-item>
                        </div>
                    </el-row>
                    <el-row>
                        <div class="el-form-card__element-wrapper">
                            <el-form-item>
                                <v-select
                                    :items="vehicles"
                                    item-text="FullDescription"
                                    v-model="routeForm.vehicle"
                                    :label="$t('text.vehicle')"
                                    return-object
                                    dark
                                    clearable
                                    required
                                >
                                </v-select>
                            </el-form-item>
                        </div>
                    </el-row>
                    <div
                        class="button-wrapper flex justify-between items-center"
                    >
                        <v-btn
                            round
                            color="primary"
                            :disabled="saving"
                            @click="submitRoute"
                            dark
                        >
                            {{
                                editing
                                    ? $t('button.text.update')
                                    : $t('button.text.save')
                            }}
                        </v-btn>
                        <v-btn round color="dark" @click="resetRoute" dark>
                            {{ $t('form.button.cancel') }}
                        </v-btn>
                    </div>
                    <div
                        class="form-expanded-content form-expanded-content__form-element"
                        v-if="routes.length"
                    >
                        <div
                            class="router-list-item"
                            v-for="r in routes"
                            :key="r.BLCRouteID"
                            :class="{
                                'router-list-item--selected':
                                    r.BLCRouteID == route.BLCRouteID,
                                Status_Success:
                                    r.StatusDescription === 'DELIVERY_COMPLETE',
                                Status_Partial:
                                    r.StatusDescription === 'DELIVERY_PARTIAL',
                            }"
                        >
                            <div class="router-list-item__radio">
                                <div class="el-radio-list">
                                    <v-radio-group v-model="route">
                                        <v-radio
                                            color="success"
                                            :value="r"
                                            hide-details
                                        >
                                        </v-radio>
                                    </v-radio-group>
                                </div>
                            </div>
                            <div class="router-list-item__details">
                                <div class="router-list-item__details">
                                    <div
                                        class="el-row router-list-item__details-lg-row"
                                    >
                                        <div
                                            class="router-list-item__details-label"
                                        >
                                            {{ $t('text.bLCRoute') }}
                                        </div>
                                        <div
                                            class="router-list-item__details-value"
                                        >
                                            : {{ r.Reference }}
                                        </div>
                                    </div>
                                    <div class="el-row">
                                        <div
                                            class="router-list-item__details-label"
                                        >
                                            {{ $t('text.driver') }}
                                        </div>
                                        <div
                                            class="router-list-item__details-value truncate"
                                            :title="r.DriverUserFullName"
                                        >
                                            : {{ r.DriverUserFullName }}
                                        </div>
                                    </div>
                                    <div class="el-row">
                                        <div
                                            class="router-list-item__details-label"
                                        >
                                            {{ $t('text.vehicle') }}
                                        </div>
                                        <div
                                            class="router-list-item__details-value truncate"
                                            :title="r.VehicleDescription"
                                        >
                                            : {{ r.VehicleDescription }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="router-list-item__actions">
                                <div
                                    class="router-list-item__actions-delete"
                                    @click="deleteRoute(r)"
                                ></div>
                                <div
                                    class="router-list-item__actions-edit"
                                    @click="editRoute(r)"
                                ></div>
                            </div>
                        </div>
                    </div>
                </el-form>
            </div>
        </div>

        <!-- Material Manager Dialog - Single BLCNotification -->
        <div>
            <stc-dialog v-model="materialDialog" @change="closeMaterialDialog">
                <component v-bind:is="materialManagerListComponent" :with-permission="false" :isBLCNotificationList="false" :notification="blcNotification" ></component>
            </stc-dialog>
        </div>
        <!--End of Material Manager Dialog - Single BLCNotification -->
    </div>
</template>

<script>
import Vue from 'vue'
import _ from 'lodash'
import { DateTime } from 'luxon'
import { mapGetters } from 'vuex'
import draggable from 'vuedraggable'
import FullCalendar from '../../Calender'
import Treeselect from '@riophae/vue-treeselect'
import RoutePlannerMilkrunEventComponent from './RoutePlannerMilkrunEvent'
import RoutePlanerSlotEventComponent from './RoutePlanerSlotEvent'
import InteractWithSchedules from '../../../mixins/interact-with-schedules'
import MaterialManagerList from '../material-manager/MaterialManagerList'
import StcDialog from '../../Dialog'

let RoutePlannerMilkrunEvent = Vue.extend(RoutePlannerMilkrunEventComponent)
let RoutePlanerSlotEvent = Vue.extend(RoutePlanerSlotEventComponent)

export default {
    name: 'route-planner',

    data() {
        let today = DateTime.local().toJSDate()
        let dateTimeFormat = process.env.VUE_APP_DATETIME_FORMAT

        return {
            dateTimeFormat,
            activeButton: 1,
            filterByContainer: true,
            date: today,
            dialog: false,
            dropped: false,
            editing: false,
            saving: false,
            showSlotBookings: true,
            editSlotBookings: false,
            collapseMaterialManager: false,
            collapseRouteManager: false,
            routes: [],
            dataMaterials: [],
            driversData: [],
            vehiclesData: [],
            bookingsData: [],
            gatesData: [],
            containers: [],
            packageGroups: [],
            recipientData: [],
            selectedContainers: [],
            originalPackageGroups: [],
            allUnloadingAreas: [],
            ContainerID: '',
            header: {
                left: '',
                center: '',
                right: '',
            },
            actor: {
                ActorID: '',
                AccessSets: [],
            },
            route: {
                BLCRouteID: '',
                Reference: '',
                VehicleID: '',
            },
            form: {
                start: '',
                end: '',
                route: '',
                gates: [],
                inGate: '',
                outGate: '',
                vehicle: '',
                pinCode: '',
                PlateNo: '',
                recipient: '',
                schedule: {
                    Description: '',
                    ScheduleParts: [
                        {
                            ValidFrom: null,
                            ValidTo: null,
                            WeekStart: 0,
                            WeekStop: 0,
                            IsSimpleSchedule: true,
                        },
                    ],
                },
                dateTimeRange: '',
                unloadingArea: '',
                recipientName: '',
                recipientPhone: '',
                recipientCompany: '',
                requestedResources: [],
                unloadingAreas: [],
            },
            routeForm: {
                driver: '',
                vehicle: '',
            },
            normalizer(node) {
                let data = {
                    id: node.ContainerID,
                    label: node.Description,
                }

                if (node.Children && node.Children.length) {
                    return {
                        ...data,
                        children: node.Children,
                    }
                }

                return data
            },
            materialManagerListComponent: '',
            materialDialog: false,
            blcNotification: undefined,
        }
    },

    async created() {
        this.fetchDrivers()
        this.fetchVehicles()
        this.fetchMaterials()

        await Promise.all([
            this.fetchRoutes(),
            this.fetchAllContainers(),
            this.fetchAllUnloadingAreas(),
        ])
        this.selectedContainers = this.filledContainers

        this.fetchBookings()
    },

    mixins: [InteractWithSchedules],

    components: {
        'full-calendar': FullCalendar,
        draggable: draggable,
        treeselect: Treeselect,
        'stc-dialog': StcDialog,
        'stc-material-manager-list': MaterialManagerList,
    },

    watch: {
        selectedContainer: function() {
            this.fetchRoutes()
            this.fetchDrivers()
            this.fetchVehicles()
            this.fetchMaterials()
        },

        route: function() {
            this.$refs.calendar.$emit('rerender-events')
        },

        selectedContainers: async function() {
            await this.fetchBookings()

            this.$refs.calendar.fireMethod('refetchResources')
        },

        date: async function() {
            this.route = {
                BLCRouteID: '',
                Reference: '',
            }

            this.fetchMaterials()

            await this.fetchRoutes()
            this.selectedContainers = this.filledContainers
            await this.fetchBookings()

            this.$refs.calendar.fireMethod('gotoDate', this.date)
        },

        'form.recipient': function(recipient) {
            if (_.isObject(recipient)) {
                this.form.recipientName =
                    recipient.FirstName + ' ' + recipient.LastName
                this.form.recipientCompany = recipient.Company
                this.form.recipientPhone = recipient.Phone
            } else {
                this.form.recipientName = recipient
            }
        },
    },

    computed: {
        ...mapGetters(['containerTree', 'selectedContainer']),

        materials() {
            return this.dataMaterials.map(notification => {
                return {
                    ...notification,
                    PackageGroups: notification.PackageGroups.filter(group => {
                        return group.PackageItems.some(
                            item =>
                                item.StatusDescription !==
                                'HIDDEN_INVENTORY_TO_STOCK'
                        )
                    }).map(group => {
                        return {
                            BLCNotificationID: notification.BLCNotificationID,
                            RequestedResources: notification.RequestedResouces,
                            ...group,
                        }
                    }),
                }
            })
        },

        orderedMaterials() {
            return this.materials.map(material => {
                return {
                    ...material,
                    ActualArrivalDate: DateTime.fromISO(
                        material.ActualArrival
                    ).toFormat('yyyy-MM-dd'),
                }
            })
        },

        pickerOptions() {
            return {
                firstDayOfWeek: 1,
            }
        },

        actorPayload() {
            let form = _.cloneDeep(this.form)

            form.gates = this.gates

            form.requestedResources = _.uniq(this.requestedResources)

            let accessSets = this.buildAccessSet(form, 'MILKRUN')

            return {
                ActorType: 'MILKRUN',
                MAIsEnabled: true,
                PinCode: form.pinCode,
                LocationValidationDisabled: true,
                AccessSets: accessSets,
            }
        },

        routePayload() {
            let date = DateTime.fromISO(this.date.toISOString()).toFormat(
                this.dateTimeFormat
            )

            return {
                BLCContainerID: this.selectedContainer.ContainerID,
                DriverUserID: this.routeForm.driver.UserID,
                VehicleID: this.routeForm.vehicle.VehicleID,
                RouteDate: date,
            }
        },

        gates() {
            let gates = this.gatesData.filter(gate => {
                return gate.DirectionInEnabled || gate.DirectionOutEnabled
            })

            return _.sortBy(gates, 'Name')
        },

        inGates() {
            let gates = _.cloneDeep(this.gates)

            return gates
                .filter(gate => {
                    return gate.DirectionInEnabled
                })
                .map(gate => {
                    gate.DirectionOutEnabled = false

                    return gate
                })
        },

        outGates() {
            let gates = _.cloneDeep(this.gates)

            return gates
                .filter(gate => {
                    return gate.DirectionOutEnabled
                })
                .map(gate => {
                    gate.DirectionInEnabled = false

                    return gate
                })
        },

        drivers() {
            return this.driversData.map(driver => {
                return {
                    ...driver,
                    FullName: driver.FirstName + ' ' + driver.LastName,
                }
            })
        },

        vehicles() {
            return this.vehiclesData.map(vehicle => {
                return {
                    ...vehicle,
                    FullDescription:
                        vehicle.Description + ' (' + vehicle.PlateNo + ')',
                }
            })
        },

        requestedResources() {
            return this.packageGroups
                .map(group => {
                    return group.RequestedResources
                })
                .reduce((a, b) => a.concat(b), [])
        },

        recipients() {
            return this.recipientData.map(item => {
                let company = item.Company ? ` (${item.Company})` : ''

                item['Label'] = `${item.FirstName} ${item.LastName}${company}`

                return item
            })
        },

        milkRuns() {
            let milkRuns = []

            for (let route of this.routes) {
                for (let actor of route.Actors) {
                    // sometimes actor is null, if null we don't proceed (backend issue)
                    if (!actor) continue
                    console.log(actor)

                    let accessSet = actor.AccessSets && actor.AccessSets[0]
                    let schedule =
                        accessSet &&
                        accessSet.Schedules &&
                        accessSet.Schedules[0]
                    let part =
                        schedule &&
                        schedule.ScheduleParts &&
                        schedule.ScheduleParts[0]

                    if (!accessSet || !schedule || !part) continue

                    let fromTime = DateTime.fromString(
                        part.ValidFrom,
                        this.dateTimeFormat
                    ).toISO()
                    let toTime = DateTime.fromString(
                        part.ValidTo,
                        this.dateTimeFormat
                    ).toISO()

                    milkRuns.push({
                        id: part.SchedulePartID,
                        actorId: actor.ActorID,
                        accessSetId: accessSet.AccessSetID,
                        isSimpleSchedule: part.IsSimpleSchedule,
                        direction: part.Direction,
                        scheduleId: schedule.ScheduleID,
                        routeId: route.BLCRouteID,
                        resourceId: accessSet.UnloadingAreaID,
                        destinationContainerID:
                            accessSet.DestinationContainerID,
                        title: route.Description,
                        actor: actor,
                        route: route,
                        start: fromTime,
                        end: toTime,
                        requestedResources: accessSet.RequestedResources,
                        isExpress: actor.IsExpress || false,
                    })
                }
            }

            return _.uniqBy(milkRuns, 'actorId')
        },

        bookings() {
            let allBookings = [...this.milkRuns]

            for (let actor of this.bookingsData) {
                const accessSet = actor.AccessSets[0]
                const schedule = accessSet.Schedules[0]
                const part = schedule.ScheduleParts[0]

                if (!accessSet || !schedule || !part) continue

                let fromTime = DateTime.fromString(
                    part.ValidFrom,
                    this.dateTimeFormat
                ).toISO()
                let toTime = DateTime.fromString(
                    part.ValidTo,
                    this.dateTimeFormat
                ).toISO()

                allBookings.push({
                    id: part.SchedulePartID,
                    actorId: actor.ActorID,
                    isSimpleSchedule: part.IsSimpleSchedule,
                    direction: part.Direction,
                    accessSetId: accessSet.AccessSetID,
                    scheduleId: schedule.ScheduleID,
                    resourceId: accessSet.UnloadingAreaID,
                    destinationContainerID: accessSet.DestinationContainerID,
                    title: actor.BookingReference,
                    actor: actor,
                    start: fromTime,
                    end: toTime,
                    editable: this.editSlotBookings,
                    requestedResources: accessSet.RequestedResources,
                    isExpress: actor.IsExpress || false,
                })
            }

            if (this.showSlotBookings) {
                return allBookings
            }

            return this.milkRuns
        },

        filledContainers() {
            return this.milkRuns.map(booking => {
                return _.find(this.containers, {
                    ContainerID:
                        booking.actor.AccessSets[0].DestinationContainerID,
                })
            })
        },

        routeVehicle() {
            return this.vehicles.find(vehicle => {
                return vehicle.VehicleID == this.route.VehicleID
            })
        },

        config() {
            const self = this
            let scrollTime = '06:00:00'

            return {
                scrollTime,
                slotLabelFormat: 'HH:mm',
                timezone: 'local',
                allDaySlot: false,
                eventOverlap: false,
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                defaultView: 'agendaDay',
                resources(callback) {
                    self.collectUnloadingAreas().then(resources =>
                        callback(resources)
                    )
                },
                resourceRender(resource, element) {
                    element.attr('title', resource.title)
                },
            }
        },

        filteredMaterials() {
            if (this.filterByContainer) {
                return this.materials.filter(
                    item =>
                        item.DestinationContainerID ===
                        this.form.unloadingArea.ContainerID
                )
            }
            return this.materials
        },

        packageGroupsWithoutHiddenItems() {
            return this.packageGroups.map(item => {
                return {
                    ...item,
                    PackageItems: item.PackageItems.filter(item => {
                        return (
                            item.StatusDescription !==
                            'HIDDEN_INVENTORY_TO_STOCK'
                        )
                    }),
                }
            })
        },
    },

    methods: {
        changeColumnBgColor(column) {
            if (column.columnIndex === 0) {
                switch (column.row.StatusDescription) {
                    case 'DELIVERY_CONFIRMED':
                        return 'background-color: #5ed225 !important'
                    case 'UNABLE_TO_DELIVER':
                        return 'background-color: #f72d2d !important'
                    default:
                        return ''
                }
            }
            return ''
        },
        renderBooking(booking, element) {
            this.hideCalendarPoppers()

            let instance = null

            if (booking.actor.ActorType === 'SLOT') {
                instance = new RoutePlanerSlotEvent({
                    propsData: {
                        booking,
                        element,
                    },
                })
            } else {
                instance = new RoutePlannerMilkrunEvent({
                    propsData: {
                        booking,
                        element,
                        trans: this.$t,
                        containers: this.containers,
                        route: this.route,
                    },
                })

                instance.$on('edit-booking', booking =>
                    this.selectBooking(booking)
                )
                instance.$on('delete-booking', booking =>
                    this.deleteBooking(booking)
                )
            }

            instance.$mount()
            element
                .eq(0)
                .find('.fc-content')
                .html(instance.$el)
        },

        hideCalendarPoppers() {
            for (const popper of document.querySelectorAll('.tippy-popper')) {
                const instance = popper._tippy

                if (instance && instance.state.visible) {
                    instance.popperInstance.disableEventListeners()
                    instance.hide()
                }
            }
        },

        async selectBooking(booking) {
            if (booking.actor.ActorType === 'SLOT') return

            if (!this.dropped) this.$refs.btnDialog.click()
            this.editing = true

            let resource = _.find(
                this.$refs.calendar.fireMethod('getResources'),
                {
                    id: booking.resourceId,
                }
            )

            this.actor = booking.actor
            this.form.route = booking.route
            this.form.start = booking.start
            this.form.end = booking.end
            this.form.pinCode = booking.actor.PinCode
            this.form.PlateNo = booking.actor.PlateNo
            this.form.dateTimeRange = [booking.start, booking.end]
            this.form.unloadingArea = resource

            const { data } = await this.$http.get(
                `Actor/${booking.actor.ActorID}`
            )

            this.packageGroups = data.PackageGroups || []
            this.originalPackageGroups = _.cloneDeep(data.PackageGroups)

            if (this.packageGroups.length) {
                Vue.set(
                    this.packageGroups[0],
                    'RequestedResources',
                    booking.requestedResources
                )
            }

            await this.populateFormInputs(resource)
            this.actor.AccessSets.forEach(accessSet => {
                this.fillFormAccessSet(accessSet)
            })
        },

        async updateBooking(booking, event) {
            this.dropped = true

            await Promise.all([
                this.updateSchedule(booking),
                this.selectBooking(booking, event),
            ])

            this.submit()
        },

        async addBooking({ start, end, resource }) {
            if (!this.route.BLCRouteID) {
                this.$message({
                    type: 'error',
                    showClose: true,
                    message: this.$i18n.i18next.t(
                        'message.warning.createOrSelectARouteBeforeCreatingABooking'
                    ),
                })

                return
            }

            this.$refs.btnDialog.click()
            this.editing = false

            this.resetForm()
            this.form.start = start
            this.form.end = end
            this.form.route = _.find(this.routes, {
                BLCRouteID: this.route.BLCRouteID,
            })
            this.form.pinCode = await this.generatePin()
            this.form.PlateNo = this.routeVehicle.PlateNo
            this.form.dateTimeRange = [start, end]
            this.form.unloadingArea = resource

            this.populateFormInputs(resource)
        },

        async generatePin() {
            let { data } = await this.$http.get('/Util/GeneratePin')

            return data
        },

        fillFormAccessSet(accessSet) {
            accessSet.Schedules.forEach(schedule => {
                schedule.ScheduleParts.forEach(part => {
                    let direction = part.Direction.toLowerCase()

                    this.form[`${direction}Gate`] =
                        _.find(this[`${direction}Gates`], {
                            CheckpointID: accessSet['CheckPointID'],
                        }) || ''

                    this.form.recipient = accessSet.RecipientName
                    this.form.recipientCompany = accessSet.RecipientCompany
                    this.form.recipientPhone = accessSet.RecipientPhone
                    this.form.requestedResources = accessSet.RequestedResources
                })
            })
        },

        async fetchRoutes() {
            let container = this.selectedContainer

            if (!_.isEmpty(container) && this.date) {
                let date = DateTime.fromISO(this.date.toISOString()).toFormat(
                    this.dateTimeFormat
                )

                let { data } = await this.$http.get(
                    `/BLC/${container.ContainerID}/Route/Date/${date}`
                )

                this.routes = data

                if (this.form.route) {
                    this.form.route =
                        _.find(this.routes, {
                            BLCRouteID: this.form.route.BLCRouteID,
                        }) || ''
                }
            }
        },

        async fetchBookings() {
            let date = DateTime.fromISO(this.date.toISOString())
            let dateTimeFormat = process.env.VUE_APP_DATETIME_FORMAT

            let dateTimeFrom = date.startOf('day').toFormat(dateTimeFormat)
            let dateTimeTo = date.endOf('day').toFormat(dateTimeFormat)

            let { data } = await this.$http.post(`Actor/Search`, {
                ValidFrom: dateTimeFrom,
                ValidTo: dateTimeTo,
                ActorTypeFilter: ['SLOT'],
                DestinationContainerFilter: [
                    ...this.selectedContainers.map(
                        container => container.ContainerID
                    ),
                ],
            })

            this.bookingsData = data
        },

        async fetchMaterials() {
            let container = this.selectedContainer

            if (!_.isEmpty(container)) {
                let { data } = await this.$http.get(
                    `/BLC/${
                        container.ContainerID
                    }/Notification/MultiStatus?includeStatus=ARRIVED_BLC,PARTIALLY_ALLOCATED_TO_ACTOR,DELIVERY_PARTIALLY_CONFIRMED`
                )
                this.dataMaterials = data
            }
        },

        async fetchDrivers() {
            let container = this.selectedContainer

            if (!_.isEmpty(container)) {
                let { data } = await this.$http.get(
                    `/Container/${container.ContainerID}/User`
                )

                this.driversData = data
            }
        },

        async fetchVehicles() {
            let container = this.selectedContainer

            if (!_.isEmpty(container)) {
                let { data } = await this.$http.get(
                    `/Container/${container.ContainerID}/Vehicle`
                )

                this.vehiclesData = data
            }
        },

        async collectUnloadingAreas() {
            let unloadingAreas = await this.fetchUnloadingAreas()

            return unloadingAreas.filter(area => area.IsActive).map(area => {
                return {
                    id: area.UnloadingAreaID,
                    title:
                        area.ShortDescription +
                        ' - ' +
                        area.container.Description,
                    ...area,
                }
            })
        },

        async fetchUnloadingAreas() {
            let responses = await Promise.all(
                this.selectedContainers.map(container => {
                    return this.fetchUnloadingArea(container)
                })
            )

            return responses
                .map(response => {
                    return response.data
                })
                .reduce((a, b) => a.concat(b), [])
        },

        async fetchUnloadingArea(container) {
            let response = await this.$http.get(
                `Container/${container.ContainerID}/UnloadingArea`
            )
            let data = response.data.map(item => {
                return {
                    ...item,
                    container,
                }
            })
            response.data = data

            return response
        },

        async fetchAllContainers() {
            let { data } = await this.$http.get('Container')

            this.containers = data
        },

        async fetchAllUnloadingAreas() {
            let { data } = await this.$http.get(`UnloadingArea`)
            this.allUnloadingAreas = data
        },

        async populateFormInputs(container) {
            this.form.unloadingAreas = await this.fetchUnloadingAreas(
                container.ContainerID
            )

            this.form.unloadingAreas = this.form.unloadingAreas.filter(
                unloadingArea =>
                    unloadingArea.IsActive &&
                    unloadingArea.ContainerID === container.ContainerID
            )

            this.ContainerID = container.ContainerID
            let [recipients, checkpoints, vehicle] = await Promise.all([
                this.fetchRecipients(container),
                this.fetchCheckPoints(container),
                this.fetchVehicle(this.form.route.VehicleID),
            ])

            this.recipientData = recipients.data
            this.gatesData = checkpoints.data
            this.form.vehicle = vehicle.data
        },

        async submitAndClose() {
            await this.submit()
            this.closeDialog()
        },

        async submit() {
            if (!this.dropped) this.saving = true

            try {
                let container = this.selectedContainer
                let method = this.editing ? 'put' : 'post'
                let url = this.editing
                    ? `/Actor/${this.actor.ActorID}`
                    : `/BLC/${container.ContainerID}/Route/${
                          this.form.route.BLCRouteID
                      }/Actor`

                let response = await this.$http[method](url, this.actorPayload)

                if (!this.editing) {
                    let { data } = await this.$http.get(
                        `/Actor/${response.data}`
                    )
                    this.actor = data
                }

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.editing
                        ? this.$i18n.i18next.t('message.success.updated', {
                              section: this.$i18n.i18next.t('text.booking'),
                          })
                        : this.$i18n.i18next.t('message.success.created', {
                              section: this.$i18n.i18next.t('text.booking'),
                          }),
                })

                this.fetchRoutes()
            } catch (e) {
                if (e === false || e === 'cancel') {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: this.$i18n.i18next.t('message.error.general'),
                    })
                }
            }

            this.saving = false
            this.dropped = false
            this.editing = true
        },

        async updateSchedule(schedule) {
            let fromTime = DateTime.fromISO(
                schedule.start.toISOString()
            ).toFormat(this.dateTimeFormat)
            let toTime = DateTime.fromISO(schedule.end.toISOString()).toFormat(
                this.dateTimeFormat
            )

            await this.$http.put(
                `Actor/${schedule.actorId}/AccessSet/${
                    schedule.accessSetId
                }/Schedule/${schedule.scheduleId}/SchedulePart/${schedule.id}`,
                {
                    Direction: schedule.direction,
                    IsSimpleSchedule: schedule.isSimpleSchedule,
                    ValidFrom: fromTime,
                    ValidTo: toTime,
                }
            )
        },

        async deleteBooking() {
            try {
                await this.$confirm(
                    this.$i18n.i18next.t('message.warning.delete', {
                        section: 'Booking',
                    }),
                    'Warning',
                    {
                        confirmButtonText: this.$i18n.i18next.t(
                            'button.text.confirm'
                        ),
                        cancelButtonText: this.$i18n.i18next.t(
                            'button.text.cancel'
                        ),
                        type: 'warning',
                    }
                )

                await this.$http.delete(`/Actor/${this.actor.ActorID}`)
                await this.fetchRoutes()

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.$i18n.i18next.t('message.success.deleted', {
                        section: 'Booking',
                    }),
                })

                this.closeDialog()
            } catch (e) {
                if (e === 'cancel') {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: this.$i18n.i18next.t('message.error.general'),
                    })
                }
            }
        },

        async submitRoute() {
            this.saving = true

            try {
                let container = this.selectedContainer
                let method = this.editing ? 'put' : 'post'
                let url = this.editing
                    ? `/BLC/${container.ContainerID}/Route/${
                          this.route.BLCRouteID
                      }`
                    : `/BLC/${container.ContainerID}/Route`

                await this.$http[method](url, this.routePayload)

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.editing
                        ? this.$i18n.i18next.t('message.success.updated', {
                              section: 'Route',
                          })
                        : this.$i18n.i18next.t('message.success.created', {
                              section: 'Route',
                          }),
                })

                this.resetRoute()
                this.fetchRoutes()
            } catch (e) {
                if (e === false || e === 'cancel') {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: `${e.response.data}.`,
                    })
                }
            }

            this.saving = false
            this.editing = false
        },

        async deleteRoute(route) {
            try {
                await this.$confirm(
                    this.$i18n.i18next.t('message.warning.delete', {
                        section: 'Route',
                    }),
                    'Warning',
                    {
                        confirmButtonText: this.$i18n.i18next.t(
                            'button.text.confirm'
                        ),
                        cancelButtonText: this.$i18n.i18next.t(
                            'button.text.cancel'
                        ),
                        type: 'warning',
                    }
                )

                let container = this.selectedContainer
                await this.$http.delete(
                    `BLC/${container.ContainerID}/Route/${route.BLCRouteID}`
                )
                await this.fetchRoutes()

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.$i18n.i18next.t('message.success.deleted', {
                        section: 'Route',
                    }),
                })
            } catch (e) {
                if (e === 'cancel') {
                    //
                } else {
                    this.$message({
                        type: 'error',
                        showClose: true,
                        message: this.$i18n.i18next.t('message.error.general'),
                    })
                }
            }
        },

        editRoute(route) {
            this.editing = true
            this.route = route

            this.routeForm.driver = _.find(this.drivers, {
                UserID: route.DriverUserID,
            })
            this.routeForm.vehicle = _.find(this.vehicles, {
                VehicleID: route.VehicleID,
            })
        },

        resetRoute() {
            this.routeForm.driver = ''
            this.routeForm.vehicle = ''
            this.route = ''

            this.editing = false
        },

        async movePackage(e) {
            let packageGroup = _.find(this.packageGroups, {
                PackageGroupID: e.item.dataset.package,
            })

            if (!packageGroup) return

            await this.movePackageToActor(this.actor.ActorID, packageGroup)

            this.fetchMaterials()
        },

        async movePackageItem(e) {
            var toPackageGroup, firstElPackageGroup
            toPackageGroup = firstElPackageGroup =
                e.to.firstChild.dataset.packageGroup

            const lastElPackageGroup = e.to.lastChild.dataset.packageGroup
            const fromPackageGroup = e.item.dataset.packageGroup
            const packageItem = e.item.dataset.packageItem

            if (firstElPackageGroup == fromPackageGroup) {
                toPackageGroup = lastElPackageGroup
            }

            await this.movePackageItemToNewPackageGroup(
                fromPackageGroup,
                toPackageGroup,
                packageItem
            )

            this.fetchMaterials()
        },

        async movePackageItemToNewPackageGroup(
            fromPackageGroup,
            toPackageGroup,
            packageGroupItem
        ) {
            try {
                await this.$http.put(
                    `/MovePackageItem/FromPackageGroup/${fromPackageGroup}/ToPackageGroup/${toPackageGroup}/PackgeItem/${packageGroupItem}`
                )

                this.$message({
                    type: 'success',
                    showClose: true,
                    message: this.$i18n.i18next.t('message.success.updated'),
                })
            } catch ({ response: { status } }) {
                switch (status) {
                    case 404:
                        this.$message({
                            type: 'error',
                            showClose: true,
                            message: this.$i18n.i18next.t(
                                'message.error.packageNotFound'
                            ),
                        })
                        break

                    case 420:
                        this.$message({
                            type: 'error',
                            showClose: true,
                            message: this.$i18n.i18next.t(
                                'message.error.packageItemNotInSameBLC'
                            ),
                        })
                        break

                    case 421:
                        this.$message({
                            type: 'error',
                            showClose: true,
                            message: this.$i18n.i18next.t(
                                'message.error.packageNotInCreateStatus'
                            ),
                        })
                        break

                    default:
                        this.$message({
                            type: 'error',
                            showClose: true,
                            message: this.$i18n.i18next.t(
                                'message.error.general'
                            ),
                        })
                }
            }
        },

        movePackageToActor(actor, packageGroup) {
            let container = this.selectedContainer

            if (packageGroup.BLCNotificationID) {
                this.submit()

                return this.$http.post(
                    `/BLC/${container.ContainerID}/Notification/${
                        packageGroup.BLCNotificationID
                    }/PackageGroup/${
                        packageGroup.PackageGroupID
                    }/MoveTo/Actor/${actor}`
                )
            }

            return
        },

        async movePackageToNotification(packageGroup) {
            this.packageGroups.splice(
                this.packageGroups.indexOf(packageGroup),
                1
            )

            await this.$http.post(
                `/Actor/${this.actor.ActorID}/PackageGroup/${
                    packageGroup.PackageGroupID
                }/MoveTo/Notification/${
                    packageGroup.OriginatingBlcNotificationID
                }`
            )

            this.submit()
            this.fetchMaterials()
        },

        fetchRecipients(container) {
            return this.$http.get(`Container/${container.ContainerID}/User`)
        },

        fetchCheckPoints(container) {
            return this.$http.get(
                `Container/${container.ContainerID}/Checkpoint`
            )
        },

        fetchVehicle(id) {
            return this.$http.get(`Vehicle/${id}`)
        },

        closeDialog() {
            this.dialog = false
            this.editing = false

            this.resetForm()
            this.fetchRoutes()
            this.fetchMaterials()
        },

        resetForm() {
            this.actor = {
                ActorID: '',
            }
            this.gatesData = []
            this.recipientData = []
            this.packageGroups = []
            this.originalPackageGroups = []
            this.form.route = ''
            this.form.pinCode = ''
            this.form.PlateNo = ''
            this.form.vehicle = ''
            this.form.recipient = ''
            this.form.unloadingArea = ''
            this.form.recipientPhone = ''
            this.form.recipientCompany = ''
            this.form.requestedResources = []
        },

        prevDate() {
            this.date = DateTime.fromISO(this.date.toISOString())
                .minus({ days: 1 })
                .toJSDate()
        },

        nextDate() {
            this.date = DateTime.fromISO(this.date.toISOString())
                .plus({ days: 1 })
                .toJSDate()
        },

        today() {
            this.date = DateTime.local().toJSDate()
        },

        tomorrow() {
            this.date = DateTime.local()
                .plus({ days: 1 })
                .toJSDate()
        },

        async handleBeforeClearAll() {
            try {
                await this.$confirm(
                    'Are you sure you want clear the fields?',
                    'Warning',
                    {
                        confirmButtonText: this.$i18n.i18next.t(
                            'button.text.confirm'
                        ),
                        cancelButtonText: this.$i18n.i18next.t(
                            'button.text.cancel'
                        ),
                        type: 'warning',
                    }
                )
                return true
            } catch (e) {
                return false
            }
        },
        openMaterialDialog(material) {
            if (
                this.selectedContainer.ContainerID &&
                material &&
                material.BLCNotificationID
            ) {
                this.materialManagerListComponent = 'stc-material-manager-list'
                this.materialDialog = true
                this.blcNotification = {
                    containerID: this.selectedContainer.ContainerID,
                    bLCNotificationID: material.BLCNotificationID,
                }
            }
        },
        closeMaterialDialog() {
            this.materialManagerListComponent = ''
            this.materialDialog = false
            this.blcNotification = undefined
            this.fetchMaterials()
        },
    },
}
</script>

<style>
.Status_Success {
    background: #236b6660;
}

.Status_Partial {
    background: #f9a82560;
}
.Light_Blue_Color1 {
    color: #90caf9 !important;
}
</style>
