<template>
    <div class="el-main-wrapper">
        <el-row class="el-title-block">
            <h1 class="el-title-with-icon">
                {{ $t('navigation.globalschedule') }}
                <span v-if="selectedContainer"
                >: {{ selectedContainer.Description }}</span
                >
            </h1>
        </el-row>

        <global-schedule></global-schedule>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import GlobalSchedule from './../../components/global-schedule/GlobalSchedule'

export default {
    name: 'global-schedule-view',

    components: {
        GlobalSchedule,
    },

    computed: mapGetters(['selectedContainer']),
}
</script>
