.el {
  &-header {
    height: 60px !important;
    padding: 0;
    background: url('/images/logo/stc-header.png') $--background-dark no-repeat center center;
    border-bottom: 1px solid $--item-select-gray;
    flex: initial;
  }

  &-nav-icon {
    width: 60px;
    height: 60px;
    justify-content: flex-start;
    cursor: pointer;
    background: url('/images/icon/menu_icon.png') no-repeat center center;
    transition: border-color .3s, background-color .3s, color .3s, background .3s;

    &--active {
      background: url('/images/icon/menu_icon_hover.png') $--cta-dark no-repeat center center;
    }

    &:hover {
      background: url('/images/icon/menu_icon_hover.png') $--cta-dark no-repeat center center;
    }

    &:focus {
      background: url('/images/icon/menu_icon_hover.png') $--cta-dark no-repeat center center;
    }

    &:active {
      background: url('/images/icon/menu_icon_hover.png') no-repeat center center;
    }
  }

  &-customer-select {
    padding: 0 90px 0 20px;
    line-height: 60px;
    justify-content: flex-start;
    background-color: $--item-select-gray;
    font-size: $--font-size-large;
    font-weight: 500;
    color: $--color-white;
    min-width: 200px;
    position: relative;
    cursor: pointer;
    transition: border-color .3s, background-color .3s, color .3s, background .3s;

    &:hover {
      color: $--cta-blue;

      .el-customer-dropdown-icon {
        border-top-color: $--cta-blue;
      }
    }
  }

  &-customer-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 50px;
    width: 26px;
    height: 30px;
    background: url('/images/icon/sites.png') no-repeat center center;
  }

  &-customer-dropdown-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid $--color-white;
    transition: border-color .3s, background-color .3s, color .3s, background .3s;
  }

  &-profile-block {
    line-height: 60px;
    border-left: 1px solid $--item-select-gray;
    float: right;
  }

  &-lang-block {
    line-height: 60px;
    border-left: 1px solid $--item-select-gray;
    float: right;
  }

  &-profile-dropdown {
    position: relative;
    cursor: pointer;
    min-width: 150px;
    padding: 0 113px 0 20px;
    font-size: $--font-size-large;
    font-weight: 500;
    color: $--color-white;
    height: 60px;
    display: block;
    transition: border-color .3s, background-color .3s, color .3s, background .3s;

    &:hover {
      background-color: $--cta-dark;
      color: $--cta-blue;

      .el-customer-dropdown-icon {
        border-top-color: $--cta-blue;
      }
    }

    &:focus {
      background-color: $--cta-dark;
      color: $--cta-blue;

      .el-customer-dropdown-icon {
        border-top-color: $--cta-blue;
      }
    }
  }

  &-lang-dropdown {
    position: relative;
    cursor: pointer;
    min-width: 90px;
    padding: 0 40px 0 20px;
    font-size: $--font-size-large;
    font-weight: 500;
    color: $--color-white;
    height: 60px;
    display: block;
    transition: border-color .3s, background-color .3s, color .3s, background .3s;

    &:hover {
      background-color: $--cta-dark;
      color: $--cta-blue;

      .el-customer-dropdown-icon {
        border-top-color: $--cta-blue;
      }
    }

    &:focus {
      background-color: $--cta-dark;
      color: $--cta-blue;

      .el-customer-dropdown-icon {
        border-top-color: $--cta-blue;
      }
    }
  }

  &-flag-wrapper {
    margin-left: 10px;
  }

  &-profile-dropdown-block {
    right: 0;
  }

  &-dropdown-menu {
    margin-top: 1px !important;
    left: initial;
    min-width: 213px;
    border-radius: 0 0 0 10px;
    border: 0;
    box-shadow: none;
    padding: 0;
    background: transparent;
    &__item {
      background-color: $--cta-dark;
      height: 60px;
      line-height: 60px;
      padding: 0 20px;
      text-align: right;
      marign: 0;
      font-size: $--font-size-large;
      font-weight: 500;
      color: $--color-white;
      &--divided {
        margin-top: 0;
        border-top: 1px solid $--darker-gray;
        border-radius: 0 0 0 10px;
        &:before {
          display: none;
        }
      }

      &:hover {
        background: $--item-select-gray !important;
        color: $--cta-blue !important;
      }

      &:focus {
        background: $--item-select-gray !important;
        color: $--cta-blue !important;
      }
    }

    .popper__arrow {
      display: none !important;
    }
  }

  &-user-icon {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 47px;
    background: url('/images/bg/profile-image.png') no-repeat center center;
    img {
      width: 41px;
      height: 41px;
      border-radius: 50px;
      margin: 2px 0 0 2px;
    }
  }
}

