.el{
  &-aside {
    background: $--background-dark;
  }
  &-nav-expand {
    background-color: $--cta-dark;
  }
  &-menu {
    &--collapse {
      width: 60px !important;
    }
    .el {
      &-menu-item {
        height: 60px;
        border: 1px solid $--item-select-gray;
        border-left: 0;
        border-top: 0;
        background-color: $--darker-gray;
        color: $--color-white;
        &:hover {
          background-color: $--cta-dark;
        }

        &:focus {
          background-color: $--cta-dark;
        }

        &-dashboard {
          background: url("/images/icon/dashboard.png") $--darker-gray no-repeat 14px center;

          &:hover {
            background: url("/images/icon/dashboard_hover.png") $--cta-dark no-repeat 14px center;
          }
        }
        &-dashboard.is-active {
          background: url("/images/icon/dashboard_hover.png") $--cta-dark no-repeat 14px center !important;
          color: $--color-white;
        }

        &-booking {
          background: url("/images/icon/bookings.png") $--darker-gray no-repeat 14px center;

          &:hover {
            background: url("/images/icon/bookings_hover.png") $--cta-dark no-repeat 14px center;
          }
        }
        &-booking.is-active {
          background: url("/images/icon/bookings_hover.png") $--cta-dark no-repeat 14px center !important;
          color: $--color-white;
        }

          &-suppliers {
              background: url("/images/icon/suppliers.png") $--darker-gray no-repeat 14px center;

              &:hover {
                  background: url("/images/icon/suppliers_hover.png") $--cta-dark no-repeat 14px center;
              }
          }
          &-suppliers.is-active {
              background: url("/images/icon/suppliers_hover.png") $--cta-dark no-repeat 14px center !important;
              color: $--color-white;
          }

        &-users {
          background: url("/images/icon/users.png") $--darker-gray no-repeat 14px center;

          &:hover {
            background: url("/images/icon/users_hover.png") $--cta-dark no-repeat 14px center;
          }
        }
        &-users.is-active {
          background: url("/images/icon/users_hover.png") $--cta-dark no-repeat 14px center !important;
          color: $--color-white;
        }

        &-checkpoints {
          background: url("/images/icon/checkpoints.png") $--darker-gray no-repeat 14px center;

          &:hover {
            background: url("/images/icon/checkpoints_hover.png") $--cta-dark no-repeat 14px center;
          }
        }
        &-checkpoints.is-active {
          background: url("/images/icon/checkpoints_hover.png") $--cta-dark no-repeat 14px center !important;
          color: $--color-white;
        }

        &-unloading {
          background: url("/images/icon/unloading.png") $--darker-gray no-repeat 14px center;

          &:hover {
            background: url("/images/icon/unloading_hover.png") $--cta-dark no-repeat 14px center;
          }
        }
        &-unloading.is-active {
          background: url("/images/icon/unloading_hover.png") $--cta-dark no-repeat 14px center !important;
          color: $--color-white;
        }

        &-blc {
          background: url("/images/icon/blc.png") $--darker-gray no-repeat 14px 16px;
          .el-menu-item-group__title {
            display: none;
          }

          &:hover {
            background: url("/images/icon/blc_hover.png") $--cta-dark no-repeat 14px 16px !important;
            .el-submenu__title:hover {
              background: transparent;
            }
          }
        }
        &-blc.is-active {
          background: url("/images/icon/blc_hover.png") $--cta-dark no-repeat 14px 16px !important;
          color: $--color-white;
        }

        &-global-schedule {
          background: url("/images/icon/global_schedule.png") $--darker-gray no-repeat 14px center;

          &:hover {
            background: url("/images/icon/global_schedule_hover.png") $--cta-dark no-repeat 14px center;
          }
        }
        &-global-schedule.is-active {
          background: url("/images/icon/global_schedule_hover.png") $--cta-dark no-repeat 14px center !important;
          color: $--color-white;
        }
      }
    }
  }
}


.side-menu:not(.el-menu--collapse) {
  width: 252px !important;
  .el {
    &-menu-item {
      &.is-active {
        background-color: $--item-select-gray !important;
      }

      background-color: $--cta-dark;
      position: relative;
      span {
        font-size: $--font-size-large;
        font-weight: 500;
        color: $--color-white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 75px;
        margin: auto;
        line-height: 60px;
      }
      &:hover {
        background-color: $--item-select-gray !important;
      }

      &-booking {
        &:hover {
          background-color: $--item-select-gray !important;
        }
      }
      &-booking.is-active {
        background-color: $--item-select-gray !important;
      }

        &-suppliers {
            &:hover {
                background-color: $--item-select-gray !important;
            }
        }
        &-suppliers.is-active {
            background-color: $--item-select-gray !important;
        }

      &-users {
        &:hover {
          background-color: $--item-select-gray !important;
        }
      }
      &-users.is-active {
        background-color: $--item-select-gray !important;
      }

      &-checkpoints {
        &:hover {
          background-color: $--item-select-gray !important;
        }
      }
      &-checkpoints.is-active {
        background-color: $--item-select-gray !important;
      }

      &-unloading {
        &:hover {
          background-color: $--item-select-gray !important;
        }
      }
      &-unloading.is-active {
        background-color: $--item-select-gray !important;
      }
    }

    &-submenu {
      &.is-opened {
        background: url("/images/icon/blc_hover.png") $--cta-dark no-repeat 14px 16px !important;
        color: $--color-white;
      }
      background-color: $--cta-dark;
      position: relative;
      span {
        font-size: $--font-size-large;
        font-weight: 500;
        color: $--color-white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 75px;
        margin: auto;
        line-height: 60px;
      }

      &:hover {
        background-color: $--item-select-gray !important;
      }

      &-blc {
        background-color: $--item-select-gray !important;
      }
    }
  }
}

.el-menu-item-group {
  .el-menu-item {
    line-height: 59px;
  }
}
