<template>
    <div class="el-main-wrapper">
        <el-row class="el-title-block">
            <h1 class="el-title-with-icon">
                {{ $t('title.users') }}
                <span v-if="selectedContainer"
                >: {{ selectedContainer.Description }}</span
                >
            </h1>
        </el-row>

        <div class="el-main-content">
            <stc-user-create
                v-if="permissions.includes('USER_WRITE')"
            ></stc-user-create>
            <stc-user-list></stc-user-list>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import UserList from '../../components/users/UserList'
import UserCreate from '../../components/users/UserCreate'

export default {
    name: 'users-view',

    components: {
        'stc-user-list': UserList,
        'stc-user-create': UserCreate,
    },

    computed: mapGetters(['permissions', 'selectedContainer']),
}
</script>
